<table data-mce-fragment="1" width="100%">
<tbody data-mce-fragment="1">
<tr data-mce-fragment="1">
<td data-mce-fragment="1"><meta charset="UTF-8"><header data-mce-fragment="1" class="style-scope ytcp-header" is-search-visible=""><a data-mce-fragment="1" href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA" class="style-scope ytcp-home-button" id="home-button" target="_self" data-mce-href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA"><img data-mce-fragment="1" src="https://www.gstatic.com/youtube/img/creator/yt_studio_logo_white.svg" class="style-scope ytcp-home-button" alt="" height="24" data-mce-src="https://www.gstatic.com/youtube/img/creator/yt_studio_logo_white.svg"></a>
<div data-mce-fragment="1" tabindex="-1" class="style-scope ytcp-omnisearch" id="search-layer" data-mce-tabindex="-1"><svg data-mce-fragment="1" class="style-scope tp-yt-iron-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" focusable="false"><g data-mce-fragment="1" class="style-scope tp-yt-iron-icon"><path data-mce-fragment="1" class="style-scope tp-yt-iron-icon" d="M20.87,20.17l-5.59-5.59C16.35,13.35,17,11.75,17,10c0-3.87-3.13-7-7-7s-7,3.13-7,7s3.13,7,7,7c1.75,0,3.35-0.65,4.58-1.71 l5.59,5.59L20.87,20.17z M10,16c-3.31,0-6-2.69-6-6s2.69-6,6-6s6,2.69,6,6S13.31,16,10,16z"></path></g></svg><form data-mce-fragment="1" class="style-scope ytcp-omnisearch" name="searchForm"><input data-mce-fragment="1" type="text" aria-expanded="true" aria-activedescendant="video-result--1" placeholder="Search across your channel" class="style-scope ytcp-omnisearch" aria-controls="results" autocomplete="off" id="query-input"></form></div>
<div data-mce-fragment="1" class="right-section style-scope ytcp-header">
<div data-mce-fragment="1" class="icons-section style-scope ytcp-header"></div>
<button data-mce-fragment="1" aria-label="Account" class="style-scope ytd-topbar-menu-button-renderer" aria-haspopup="true" id="avatar-btn"><img data-mce-fragment="1" src="https://yt3.ggpht.com/UqRZmfhn8yV7JcThhaP2TpZFzF2vodExcvdk2nGIp1qc0mbrjgdZBXsKIL8_aTyfXZRcDme8=s88-c-k-c0x00ffffff-no-rj" width="32" height="32" alt="" class="style-scope yt-img-shadow" draggable="false" id="img" data-mce-src="https://yt3.ggpht.com/UqRZmfhn8yV7JcThhaP2TpZFzF2vodExcvdk2nGIp1qc0mbrjgdZBXsKIL8_aTyfXZRcDme8=s88-c-k-c0x00ffffff-no-rj"></button>
<div data-mce-fragment="1" class="style-scope ytd-topbar-menu-button-renderer" id="button"></div>
</div>
</header>
<div data-mce-fragment="1" class="nav-and-main-content style-scope ytcp-entity-page"><nav data-mce-fragment="1" tabindex="-1" aria-expanded="true" class="style-scope ytcp-navigation-drawer" id="left-nav" data-mce-tabindex="-1">
<div data-mce-fragment="1" class="thumbnail-wrapper thumbnail-wrapper-channel style-scope ytcp-navigation-drawer style-scope ytcp-navigation-drawer">
<div data-mce-fragment="1" tabindex="0" class="overlay-container style-scope ytcp-overlay-with-link" data-mce-tabindex="0"></div>
<img data-mce-fragment="1" src="https://yt3.ggpht.com/UqRZmfhn8yV7JcThhaP2TpZFzF2vodExcvdk2nGIp1qc0mbrjgdZBXsKIL8_aTyfXZRcDme8=s176-c-k-c0x00ffffff-no-rj" alt="Enma_StylishFurniture" class="thumbnail image-thumbnail style-scope ytcp-navigation-drawer" data-mce-src="https://yt3.ggpht.com/UqRZmfhn8yV7JcThhaP2TpZFzF2vodExcvdk2nGIp1qc0mbrjgdZBXsKIL8_aTyfXZRcDme8=s176-c-k-c0x00ffffff-no-rj">
<div data-mce-fragment="1" class="style-scope ytcp-navigation-drawer" id="entity-label-container">
<div data-mce-fragment="1" class="entity-type style-scope ytcp-navigation-drawer" id="entity-type">Your channel</div>
<div data-mce-fragment="1" class="entity-name style-scope ytcp-navigation-drawer" id="entity-name">Enma_StylishFurniture</div>
</div>
</div>
<ul data-mce-fragment="1" class="style-scope ytcp-navigation-drawer" id="main-menu">
<li data-mce-fragment="1" class="style-scope ytcp-navigation-drawer"><a data-mce-fragment="1" href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA" id="menu-item-0" class="menu-item-link style-scope ytcp-navigation-drawer" data-mce-href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA">
<div data-mce-fragment="1" class="content-icon style-scope tp-yt-paper-icon-item" id="contentIcon"><svg data-mce-fragment="1" class="style-scope tp-yt-iron-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" focusable="false"><g data-mce-fragment="1" class="style-scope tp-yt-iron-icon" viewBox="0 0 24 24" height="24" width="24"><path data-mce-fragment="1" class="style-scope tp-yt-iron-icon" d="M10 16V20H4V16H10ZM11 15H3V21H11V15ZM20 4V8H14V4H20ZM21 3H13V9H21V3ZM3 3V13H11V3H3ZM10 12H4V4H10V12ZM13 11V21H21V11H13ZM20 20H14V12H20V20Z"></path></g></svg></div>
<div data-mce-fragment="1" class="nav-item-text style-scope ytcp-navigation-drawer">Dashboard</div>
</a></li>
<li data-mce-fragment="1" class="style-scope ytcp-navigation-drawer"><a data-mce-fragment="1" href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/videos/upload" id="menu-item-1" class="menu-item-link style-scope ytcp-navigation-drawer" data-mce-href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/videos/upload">
<div data-mce-fragment="1" class="content-icon style-scope tp-yt-paper-icon-item" id="contentIcon"><svg data-mce-fragment="1" class="style-scope tp-yt-iron-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" focusable="false"><g data-mce-fragment="1" class="style-scope tp-yt-iron-icon" viewBox="0 0 24 24" height="24" width="24"><path data-mce-fragment="1" class="style-scope tp-yt-iron-icon" d="M11 6.99982V13.9998L17 10.4998L11 6.99982Z"></path><path data-mce-fragment="1" class="style-scope tp-yt-iron-icon" d="M18 20.9998H3V5.99982H4V19.9998H18V20.9998ZM21 2.99982H6V17.9998H21V2.99982ZM7 3.99982H20V16.9998H7V3.99982Z"></path></g></svg></div>
<div data-mce-fragment="1" class="nav-item-text style-scope ytcp-navigation-drawer">Content</div>
</a></li>
<li data-mce-fragment="1" class="style-scope ytcp-navigation-drawer"><a data-mce-fragment="1" href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/analytics/tab-overview/period-default" id="menu-item-2" class="menu-item-link style-scope ytcp-navigation-drawer" data-mce-href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/analytics/tab-overview/period-default">
<div data-mce-fragment="1" class="content-icon style-scope tp-yt-paper-icon-item" id="contentIcon"><svg data-mce-fragment="1" class="style-scope tp-yt-iron-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" focusable="false"><g data-mce-fragment="1" class="style-scope tp-yt-iron-icon" viewBox="0 0 24 24" height="24" width="24"><path data-mce-fragment="1" class="style-scope tp-yt-iron-icon" d="M3 3V21H21V3H3ZM9 17H7V10H9V17ZM13 17H11V7H13V17ZM17 17H15V14H17V17Z"></path></g></svg></div>
<div data-mce-fragment="1" class="nav-item-text style-scope ytcp-navigation-drawer">Analytics</div>
</a></li>
<li data-mce-fragment="1" class="style-scope ytcp-navigation-drawer"><a data-mce-fragment="1" href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/comments/inbox" id="menu-item-3" class="menu-item-link style-scope ytcp-navigation-drawer" data-mce-href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/comments/inbox">
<div data-mce-fragment="1" class="content-icon style-scope tp-yt-paper-icon-item" id="contentIcon"><svg data-mce-fragment="1" class="style-scope tp-yt-iron-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" focusable="false"><g data-mce-fragment="1" class="style-scope tp-yt-iron-icon" viewBox="0 0 24 24" height="24" width="24"><path data-mce-fragment="1" class="style-scope tp-yt-iron-icon" d="M8 7H16V9H8V7ZM8 13H13V11H8V13ZM5 3V16H15H15.41L15.7 16.29L19 19.59V3H5ZM4 2H20V22L15 17H4V2Z"></path></g></svg></div>
<div data-mce-fragment="1" class="nav-item-text style-scope ytcp-navigation-drawer">Comments</div>
</a></li>
<li data-mce-fragment="1" class="style-scope ytcp-navigation-drawer"><a data-mce-fragment="1" href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/translations" id="menu-item-4" class="menu-item-link style-scope ytcp-navigation-drawer" data-mce-href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/translations">
<div data-mce-fragment="1" class="content-icon style-scope tp-yt-paper-icon-item" id="contentIcon"><svg data-mce-fragment="1" class="style-scope tp-yt-iron-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" focusable="false"><g data-mce-fragment="1" class="style-scope tp-yt-iron-icon" viewBox="0 0 24 24" height="24" width="24"><path data-mce-fragment="1" class="style-scope tp-yt-iron-icon" d="M5 11H7V13H5V11ZM15 15H5V17H15V15ZM19 15H17V17H19V15ZM19 11H9V13H19V11ZM22 6H2V20H22V6ZM3 7H21V19H3V7Z"></path></g></svg></div>
<div data-mce-fragment="1" class="nav-item-text style-scope ytcp-navigation-drawer">Subtitles</div>
</a></li>
<li data-mce-fragment="1" class="style-scope ytcp-navigation-drawer"><a data-mce-fragment="1" href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/copyright" id="menu-item-5" class="menu-item-link style-scope ytcp-navigation-drawer" data-mce-href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/copyright">
<div data-mce-fragment="1" class="content-icon style-scope tp-yt-paper-icon-item" id="contentIcon"><svg data-mce-fragment="1" class="style-scope tp-yt-iron-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" focusable="false"><g data-mce-fragment="1" class="style-scope tp-yt-iron-icon" viewBox="0 0 24 24" height="24" width="24"><path data-mce-fragment="1" class="style-scope tp-yt-iron-icon" d="M10.57 10.96C10.62 10.66 10.72 10.4 10.84 10.17C10.96 9.94 11.15 9.75 11.38 9.61C11.6 9.47 11.87 9.41 12.21 9.4C12.42 9.41 12.61 9.45 12.78 9.52C12.96 9.6 13.13 9.71 13.25 9.85C13.38 9.99 13.48 10.15 13.56 10.33C13.64 10.51 13.68 10.71 13.69 10.91L15.32 10.91C15.3 10.48 15.22 10.09 15.06 9.73C14.91 9.37 14.7 9.06 14.42 8.81C14.14 8.56 13.82 8.35 13.44 8.21C13.07 8.06 12.65 8 12.18 8C11.59 8 11.07 8.1 10.63 8.31C10.19 8.52 9.83 8.79 9.54 9.15C9.25 9.5 9.03 9.91 8.89 10.39C8.75 10.87 8.67 11.36 8.67 11.88L8.67 12.13C8.67 12.66 8.74 13.15 8.88 13.62C9.02 14.09 9.24 14.5 9.53 14.85C9.82 15.2 10.19 15.48 10.62 15.68C11.06 15.88 11.58 15.99 12.17 15.99C12.6 15.99 13 15.92 13.37 15.78C13.74 15.64 14.07 15.45 14.35 15.21C14.63 14.96 14.86 14.68 15.02 14.35C15.18 14.02 15.28 13.68 15.29 13.3L13.66 13.3C13.65 13.49 13.61 13.66 13.52 13.83C13.43 14 13.33 14.13 13.19 14.25C13.05 14.37 12.9 14.46 12.72 14.52C12.55 14.58 12.36 14.6 12.17 14.61C11.84 14.6 11.57 14.54 11.36 14.4C11.13 14.25 10.95 14.06 10.82 13.84C10.69 13.61 10.59 13.34 10.55 13.04C10.51 12.74 10.48 12.43 10.48 12.13L10.48 11.88C10.5 11.56 10.52 11.26 10.57 10.96ZM12 3C16.96 3 21 7.04 21 12C21 16.96 16.96 21 12 21C7.04 21 3 16.96 3 12C3 7.04 7.04 3 12 3ZM12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2Z"></path></g></svg></div>
<div data-mce-fragment="1" class="nav-item-text style-scope ytcp-navigation-drawer">Copyright</div>
</a></li>
<li data-mce-fragment="1" class="style-scope ytcp-navigation-drawer"><a data-mce-fragment="1" href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/monetization/overview" id="menu-item-6" class="menu-item-link style-scope ytcp-navigation-drawer" data-mce-href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/monetization/overview">
<div data-mce-fragment="1" class="content-icon style-scope tp-yt-paper-icon-item" id="contentIcon"><svg data-mce-fragment="1" class="style-scope tp-yt-iron-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" focusable="false"><g data-mce-fragment="1" class="style-scope tp-yt-iron-icon" viewBox="0 0 24 24" height="24" width="24"><path data-mce-fragment="1" class="style-scope tp-yt-iron-icon" d="M8 7V10C8 10.55 8.45 11 9 11H15C16.1 11 17 11.9 17 13V17C17 18.1 16.1 19 15 19H13V21H11V19H7V18H15C15.55 18 16 17.55 16 17V13C16 12.45 15.55 12 15 12H9C7.9 12 7 11.1 7 10V7C7 5.9 7.9 5 9 5H11V3H13V5H17V6H9C8.45 6 8 6.45 8 7Z"></path></g></svg></div>
<div data-mce-fragment="1" class="nav-item-text style-scope ytcp-navigation-drawer">Earn</div>
</a></li>
<li data-mce-fragment="1" class="style-scope ytcp-navigation-drawer"><a data-mce-fragment="1" href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/editing" id="menu-item-7" class="menu-item-link style-scope ytcp-navigation-drawer" data-mce-href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/editing">
<div data-mce-fragment="1" class="content-icon style-scope tp-yt-paper-icon-item" id="contentIcon"><svg data-mce-fragment="1" class="style-scope tp-yt-iron-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" focusable="false"><g data-mce-fragment="1" class="style-scope tp-yt-iron-icon" viewBox="0 0 24 24" height="24" width="24"><path data-mce-fragment="1" class="style-scope tp-yt-iron-icon" d="M6.71 7.2L7.89 5.1L6.71 3L8.81 4.18L10.91 3L9.74 5.1L10.92 7.2L8.82 6.02L6.71 7.2ZM18.9 14.26L16.8 13.08L17.98 15.18L16.8 17.28L18.9 16.1L21 17.28L19.82 15.18L21 13.08L18.9 14.26ZM21 3L18.9 4.18L16.8 3L17.98 5.1L16.8 7.2L18.9 6.02L21 7.2L19.82 5.1L21 3ZM17.14 10.02L6.15 21L3 17.85L14 6.85L17.14 10.02ZM6.15 19.59L13.7 12.04L11.96 10.3L4.41 17.85L6.15 19.59Z"></path></g></svg></div>
<div data-mce-fragment="1" class="nav-item-text style-scope ytcp-navigation-drawer">Customization</div>
</a></li>
<li data-mce-fragment="1" class="style-scope ytcp-navigation-drawer"><a data-mce-fragment="1" href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/music" id="menu-item-8" class="menu-item-link style-scope ytcp-navigation-drawer" data-mce-href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/music">
<div data-mce-fragment="1" class="content-icon style-scope tp-yt-paper-icon-item" id="contentIcon"><svg data-mce-fragment="1" class="style-scope tp-yt-iron-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" focusable="false"><g data-mce-fragment="1" class="style-scope tp-yt-iron-icon" viewBox="0 0 24 24" height="24" width="24"><path data-mce-fragment="1" class="style-scope tp-yt-iron-icon" d="M16 6L16 8L14 8L14 13C14 14.1 13.1 15 12 15C10.9 15 10 14.1 10 13C10 11.9 10.9 11 12 11C12.37 11 12.7 11.11 13 11.28L13 6L16 6ZM18 20L4 20L4 6L3 6L3 21L18 21L18 20ZM21 3L6 3L6 18L21 18L21 3ZM7 4L20 4L20 17L7 17L7 4Z"></path></g></svg></div>
<div data-mce-fragment="1" class="nav-item-text style-scope ytcp-navigation-drawer">Audio library</div>
</a></li>
</ul>
<div data-mce-fragment="1" class="style-scope ytcp-navigation-drawer" id="bottom-section">
<ul data-mce-fragment="1" class="remove-default-style style-scope ytcp-navigation-drawer">
<li data-mce-fragment="1" class="style-scope ytcp-navigation-drawer">
<div data-mce-fragment="1" class="content-icon style-scope tp-yt-paper-icon-item" id="contentIcon"><svg data-mce-fragment="1" class="style-scope tp-yt-iron-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" focusable="false"><g data-mce-fragment="1" class="style-scope tp-yt-iron-icon"><path data-mce-fragment="1" class="style-scope tp-yt-iron-icon" d="M12,9c1.65,0,3,1.35,3,3s-1.35,3-3,3s-3-1.35-3-3S10.35,9,12,9 M12,8c-2.21,0-4,1.79-4,4s1.79,4,4,4s4-1.79,4-4 S14.21,8,12,8L12,8z M13.22,3l0.55,2.2l0.13,0.51l0.5,0.18c0.61,0.23,1.19,0.56,1.72,0.98l0.4,0.32l0.5-0.14l2.17-0.62l1.22,2.11 l-1.63,1.59l-0.37,0.36l0.08,0.51c0.05,0.32,0.08,0.64,0.08,0.98s-0.03,0.66-0.08,0.98l-0.08,0.51l0.37,0.36l1.63,1.59l-1.22,2.11 l-2.17-0.62l-0.5-0.14l-0.4,0.32c-0.53,0.43-1.11,0.76-1.72,0.98l-0.5,0.18l-0.13,0.51L13.22,21h-2.44l-0.55-2.2l-0.13-0.51 l-0.5-0.18C9,17.88,8.42,17.55,7.88,17.12l-0.4-0.32l-0.5,0.14l-2.17,0.62L3.6,15.44l1.63-1.59l0.37-0.36l-0.08-0.51 C5.47,12.66,5.44,12.33,5.44,12s0.03-0.66,0.08-0.98l0.08-0.51l-0.37-0.36L3.6,8.56l1.22-2.11l2.17,0.62l0.5,0.14l0.4-0.32 C8.42,6.45,9,6.12,9.61,5.9l0.5-0.18l0.13-0.51L10.78,3H13.22 M14,2h-4L9.26,4.96c-0.73,0.27-1.4,0.66-2,1.14L4.34,5.27l-2,3.46 l2.19,2.13C4.47,11.23,4.44,11.61,4.44,12s0.03,0.77,0.09,1.14l-2.19,2.13l2,3.46l2.92-0.83c0.6,0.48,1.27,0.87,2,1.14L10,22h4 l0.74-2.96c0.73-0.27,1.4-0.66,2-1.14l2.92,0.83l2-3.46l-2.19-2.13c0.06-0.37,0.09-0.75,0.09-1.14s-0.03-0.77-0.09-1.14l2.19-2.13 l-2-3.46L16.74,6.1c-0.6-0.48-1.27-0.87-2-1.14L14,2L14,2z"></path></g></svg></div>
<div data-mce-fragment="1" class="nav-item-text style-scope ytcp-navigation-drawer">Settings</div>
</li>
<li data-mce-fragment="1" class="style-scope ytcp-navigation-drawer">
<div data-mce-fragment="1" class="content-icon style-scope tp-yt-paper-icon-item" id="contentIcon"><svg data-mce-fragment="1" class="style-scope tp-yt-iron-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" focusable="false"><g data-mce-fragment="1" class="style-scope tp-yt-iron-icon"><path data-mce-fragment="1" class="style-scope tp-yt-iron-icon" d="M13,14h-2v-2h2V14z M13,5h-2v6h2V5z M19,3H5v16.59l3.29-3.29L8.59,16H9h10V3 M20,2v15H9l-5,5V2H20L20,2z"></path></g></svg></div>
<div data-mce-fragment="1" class="nav-item-text style-scope ytcp-navigation-drawer">Send feedback</div>
</li>
</ul>
</div>
</nav><main data-mce-fragment="1" class="style-scope ytcp-entity-page" id="main" studio-theme="DEFAULT">
<div data-mce-fragment="1" class="all-pages style-scope ytcp-app">
<div data-mce-fragment="1" class="page-title-container style-scope ytcp-app" id="page-title-container">
<h1 data-mce-fragment="1" class="page-title style-scope ytcp-app" theme="DEFAULT">Channel analytics</h1>
<div data-mce-fragment="1" class="advanced-analytics-container style-scope ytcp-app"><a data-mce-fragment="1" tabindex="-1" href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/analytics/tab-content/period-week/explore?entity_type=CHANNEL&amp;entity_id=UCHxuYcHwtqla576YbjuwegA&amp;time_period=week&amp;explore_type=TABLE_AND_CHART&amp;metric=VIEWS&amp;granularity=DAY&amp;t_metrics=VIEWS&amp;t_metrics=WATCH_TIME&amp;t_metrics=SUBSCRIBERS_NET_CHANGE&amp;t_metrics=TOTAL_ESTIMATED_EARNINGS&amp;t_metrics=VIDEO_THUMBNAIL_IMPRESSIONS&amp;t_metrics=VIDEO_THUMBNAIL_IMPRESSIONS_VTR&amp;dimension=VIDEO&amp;o_column=VIEWS&amp;o_direction=ANALYTICS_ORDER_DIRECTION_DESC" class="style-scope ytcp-app" data-mce-href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/analytics/tab-content/period-week/explore?entity_type=CHANNEL&amp;entity_id=UCHxuYcHwtqla576YbjuwegA&amp;time_period=week&amp;explore_type=TABLE_AND_CHART&amp;metric=VIEWS&amp;granularity=DAY&amp;t_metrics=VIEWS&amp;t_metrics=WATCH_TIME&amp;t_metrics=SUBSCRIBERS_NET_CHANGE&amp;t_metrics=TOTAL_ESTIMATED_EARNINGS&amp;t_metrics=VIDEO_THUMBNAIL_IMPRESSIONS&amp;t_metrics=VIDEO_THUMBNAIL_IMPRESSIONS_VTR&amp;dimension=VIDEO&amp;o_column=VIEWS&amp;o_direction=ANALYTICS_ORDER_DIRECTION_DESC" data-mce-tabindex="-1"></a></div>
</div>
<div data-mce-fragment="1" class="advanced-analytics-separator style-scope ytcp-app"></div>
<div data-mce-fragment="1" class="style-scope yta-overview-app" id="background">
<div data-mce-fragment="1" class="style-scope yta-overview-app" id="header"></div>
<div data-mce-fragment="1" class="wrapper style-scope ytcp-primary-action-bar">
<div data-mce-fragment="1" class="primary style-scope ytcp-primary-action-bar">
<div data-mce-fragment="1" class="style-scope tp-yt-paper-tabs" id="tabsContainer">
<div data-mce-fragment="1" class="tabs-content scrollable style-scope tp-yt-paper-tabs" id="tabsContent" style-target="content">
<div data-mce-fragment="1" class="tab-content style-scope tp-yt-paper-tab" style-target="tab-content"></div>
<div data-mce-fragment="1" class="tab-content style-scope tp-yt-paper-tab" style-target="tab-content"></div>
<div data-mce-fragment="1" class="tab-content style-scope tp-yt-paper-tab" style-target="tab-content"></div>
<div data-mce-fragment="1" class="tab-content style-scope tp-yt-paper-tab" style-target="tab-content"></div>
</div>
</div>
</div>
<div data-mce-fragment="1" class="has-label borderless container style-scope ytcp-dropdown-trigger style-scope ytcp-dropdown-trigger">
<div data-mce-fragment="1" class="color-marker style-scope ytcp-dropdown-trigger">
<div data-mce-fragment="1" class="color-marker-inner style-scope ytcp-dropdown-trigger"></div>
</div>
<div data-mce-fragment="1" class="left-container style-scope ytcp-dropdown-trigger">
<div data-mce-fragment="1" class="label-area style-scope ytcp-dropdown-trigger">
<div data-mce-fragment="1" class="label-text style-scope ytcp-dropdown-trigger">Jun 8 – 14, 2024</div>
</div>
<span data-mce-fragment="1" class="dropdown-trigger-text style-scope ytcp-text-dropdown-trigger">Last 7 days</span></div>
<div data-mce-fragment="1" class="right-container style-scope ytcp-dropdown-trigger"><svg data-mce-fragment="1" class="style-scope tp-yt-iron-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" focusable="false"><g data-mce-fragment="1" class="style-scope tp-yt-iron-icon"><path data-mce-fragment="1" class="style-scope tp-yt-iron-icon" d="M18,9l-6,6L6,9H18z"></path></g></svg></div>
<div data-mce-fragment="1" class="style-scope paper-ripple" id="background"></div>
<div data-mce-fragment="1" class="style-scope paper-ripple" id="waves"></div>
</div>
</div>
<div data-mce-fragment="1" class="without-side-bar style-scope yta-screen style-scope yta-screen" id="content">
<div data-mce-fragment="1" class="layout horizontal style-scope yta-screen">
<div data-mce-fragment="1" class="tab-content layout vertical style-scope yta-screen">
<div data-mce-fragment="1" class="content-card layout vertical style-scope yta-personalized-overview-header style-scope yta-personalized-overview-header">
<div data-mce-fragment="1" class="header-row style-scope yta-personalized-overview-header">
<div data-mce-fragment="1" class="header-container style-scope yta-personalized-overview-header">
<div data-mce-fragment="1" class="chips-container style-scope yta-personalized-overview-header">
<div data-mce-fragment="1" class="text style-scope ytcp-chip" id="chip-text">All</div>
<div data-mce-fragment="1" class="text style-scope ytcp-chip" id="chip-text">Videos</div>
<div data-mce-fragment="1" class="text style-scope ytcp-chip" id="chip-text">Shorts</div>
<div data-mce-fragment="1" class="text style-scope ytcp-chip" id="chip-text">Live</div>
<div data-mce-fragment="1" class="vertical-divider style-scope yta-personalized-overview-header"></div>
<div data-mce-fragment="1" class="text style-scope ytcp-chip" id="chip-text">Playlists</div>
</div>
</div>
</div>
</div>
<div data-mce-fragment="1" class="header style-scope tp-yt-paper-card"></div>
<div data-mce-fragment="1" class="content style-scope yta-table-card" hasseemore="">
<div data-mce-fragment="1" class="title-section style-scope yta-table-card">
<div data-mce-fragment="1" class="layout horizontal style-scope yta-title-subtitle-header">
<div data-mce-fragment="1" class="layout vertical style-scope yta-title-subtitle-header" id="container">
<div data-mce-fragment="1" class="layout horizontal  center style-scope yta-title-subtitle-header" id="title-container">
<div data-mce-fragment="1" aria-describedby="goog_142842432" class="layout horizontal style-scope yta-title-subtitle-header" id="tooltip-target">
<div data-mce-fragment="1" class="style-scope yta-title-subtitle-header">
<h1 data-mce-fragment="1" class="style-scope yta-title-subtitle-header">New viewers</h1>
</div>
<svg data-mce-fragment="1" class="style-scope tp-yt-iron-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" focusable="false"><g data-mce-fragment="1" class="style-scope tp-yt-iron-icon"><path data-mce-fragment="1" class="style-scope tp-yt-iron-icon" d="M14.97,16.95L10,13.87V7h2v5.76l4.03,2.49L14.97,16.95z M12,3c-4.96,0-9,4.04-9,9s4.04,9,9,9s9-4.04,9-9S16.96,3,12,3 M12,2c5.52,0,10,4.48,10,10s-4.48,10-10,10S2,17.52,2,12S6.48,2,12,2L12,2z"></path></g></svg></div>
<span data-mce-fragment="1" class="flex style-scope yta-title-subtitle-header"></span></div>
<span data-mce-fragment="1" class="subtitle style-scope yta-title-subtitle-header">Last 7 days</span></div>
</div>
</div>
<div data-mce-fragment="1" class="table-container style-scope yta-table-card">
<table data-mce-fragment="1" class="style-scope yta-table-card">
<tbody data-mce-fragment="1">
<tr data-mce-fragment="1" class="table-row style-scope yta-table-card">
<td data-mce-fragment="1" class="highlighter-column style-scope yta-table-card">
<div data-mce-fragment="1" class="highlighter style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="title-column style-scope yta-table-card"><a data-mce-fragment="1" class="remove-default-style style-scope yta-table-card">
<div data-mce-fragment="1" class="title-container style-scope yta-table-card">
<div data-mce-fragment="1" class="title style-scope yta-table-card">
<div data-mce-fragment="1" id="title-text-0" class="title-text debug-dimension-value style-scope yta-table-card">Shorts</div>
</div>
</div>
</a></td>
<td data-mce-fragment="1" class="bar-column style-scope yta-table-card">
<div data-mce-fragment="1" class="bar layout end-justified style-scope yta-table-card">
<div data-mce-fragment="1" class="percentage  style-scope yta-table-card style-scope yta-table-card"></div>
</div>
</td>
<td data-mce-fragment="1" class="value-column style-scope yta-table-card">
<div data-mce-fragment="1" id="value0" class="value debug-table-value style-scope yta-table-card">1</div>
</td>
</tr>
<tr data-mce-fragment="1" class="table-row style-scope yta-table-card">
<td data-mce-fragment="1" class="highlighter-column style-scope yta-table-card">
<div data-mce-fragment="1" class="highlighter style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="title-column style-scope yta-table-card"><a data-mce-fragment="1" class="remove-default-style style-scope yta-table-card">
<div data-mce-fragment="1" class="title-container style-scope yta-table-card">
<div data-mce-fragment="1" class="title style-scope yta-table-card">
<div data-mce-fragment="1" id="title-text-1" class="title-text debug-dimension-value style-scope yta-table-card">Live stream</div>
</div>
</div>
</a></td>
<td data-mce-fragment="1" class="bar-column style-scope yta-table-card">
<div data-mce-fragment="1" class="bar layout end-justified style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="value-column style-scope yta-table-card">
<div data-mce-fragment="1" id="value1" class="value debug-table-value style-scope yta-table-card">0</div>
</td>
</tr>
<tr data-mce-fragment="1" class="table-row style-scope yta-table-card">
<td data-mce-fragment="1" class="highlighter-column style-scope yta-table-card">
<div data-mce-fragment="1" class="highlighter style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="title-column style-scope yta-table-card"><a data-mce-fragment="1" class="remove-default-style style-scope yta-table-card">
<div data-mce-fragment="1" class="title-container style-scope yta-table-card">
<div data-mce-fragment="1" class="title style-scope yta-table-card">
<div data-mce-fragment="1" id="title-text-2" class="title-text debug-dimension-value style-scope yta-table-card">Videos</div>
</div>
</div>
</a></td>
<td data-mce-fragment="1" class="bar-column style-scope yta-table-card">
<div data-mce-fragment="1" class="bar layout end-justified style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="value-column style-scope yta-table-card">
<div data-mce-fragment="1" id="value2" class="value debug-table-value style-scope yta-table-card">0</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div data-mce-fragment="1" class="layout horizontal footer style-scope yta-card-container"><span data-mce-fragment="1" class="style-scope yta-card-container"><a data-mce-fragment="1" tabindex="-1" aria-label="New viewers" href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/analytics/tab-content/period-week/explore?entity_type=CHANNEL&amp;entity_id=UCHxuYcHwtqla576YbjuwegA&amp;time_period=week&amp;explore_type=TABLE_AND_CHART&amp;metric=NEW_VIEWERS&amp;granularity=DAY&amp;t_metrics=RETURNING_VIEWERS&amp;t_metrics=NEW_VIEWERS&amp;t_metrics=ESTIMATED_UNIQUE_VIEWERS&amp;t_metrics=SUBSCRIBERS_NET_CHANGE&amp;dimension=CREATOR_CONTENT_TYPE&amp;o_column=NEW_VIEWERS&amp;o_direction=ANALYTICS_ORDER_DIRECTION_DESC" class="style-scope yta-card-container" id="see-more-link" data-mce-href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/analytics/tab-content/period-week/explore?entity_type=CHANNEL&amp;entity_id=UCHxuYcHwtqla576YbjuwegA&amp;time_period=week&amp;explore_type=TABLE_AND_CHART&amp;metric=NEW_VIEWERS&amp;granularity=DAY&amp;t_metrics=RETURNING_VIEWERS&amp;t_metrics=NEW_VIEWERS&amp;t_metrics=ESTIMATED_UNIQUE_VIEWERS&amp;t_metrics=SUBSCRIBERS_NET_CHANGE&amp;dimension=CREATOR_CONTENT_TYPE&amp;o_column=NEW_VIEWERS&amp;o_direction=ANALYTICS_ORDER_DIRECTION_DESC" data-mce-tabindex="-1"></a></span><span data-mce-fragment="1" class="layout horizontal experiment-and-feedback style-scope yta-card-container"></span></div>
<div data-mce-fragment="1" class="header style-scope tp-yt-paper-card"></div>
<div data-mce-fragment="1" class="content style-scope yta-table-card" hasseemore="">
<div data-mce-fragment="1" class="title-section style-scope yta-table-card">
<div data-mce-fragment="1" class="layout horizontal style-scope yta-title-subtitle-header">
<div data-mce-fragment="1" class="layout vertical style-scope yta-title-subtitle-header" id="container">
<div data-mce-fragment="1" class="layout horizontal  center style-scope yta-title-subtitle-header" id="title-container">
<div data-mce-fragment="1" aria-describedby="goog_142842433" class="layout horizontal style-scope yta-title-subtitle-header" id="tooltip-target">
<div data-mce-fragment="1" class="style-scope yta-title-subtitle-header">
<h1 data-mce-fragment="1" class="style-scope yta-title-subtitle-header">Returning viewers</h1>
</div>
<svg data-mce-fragment="1" class="style-scope tp-yt-iron-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" focusable="false"><g data-mce-fragment="1" class="style-scope tp-yt-iron-icon"><path data-mce-fragment="1" class="style-scope tp-yt-iron-icon" d="M14.97,16.95L10,13.87V7h2v5.76l4.03,2.49L14.97,16.95z M12,3c-4.96,0-9,4.04-9,9s4.04,9,9,9s9-4.04,9-9S16.96,3,12,3 M12,2c5.52,0,10,4.48,10,10s-4.48,10-10,10S2,17.52,2,12S6.48,2,12,2L12,2z"></path></g></svg></div>
<span data-mce-fragment="1" class="flex style-scope yta-title-subtitle-header"></span></div>
<span data-mce-fragment="1" class="subtitle style-scope yta-title-subtitle-header">Last 7 days</span></div>
</div>
</div>
<div data-mce-fragment="1" class="table-container style-scope yta-table-card">
<table data-mce-fragment="1" class="style-scope yta-table-card">
<tbody data-mce-fragment="1">
<tr data-mce-fragment="1" class="table-row style-scope yta-table-card">
<td data-mce-fragment="1" class="highlighter-column style-scope yta-table-card">
<div data-mce-fragment="1" class="highlighter style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="title-column style-scope yta-table-card"><a data-mce-fragment="1" class="remove-default-style style-scope yta-table-card">
<div data-mce-fragment="1" class="title-container style-scope yta-table-card">
<div data-mce-fragment="1" class="title style-scope yta-table-card">
<div data-mce-fragment="1" id="title-text-0" class="title-text debug-dimension-value style-scope yta-table-card">Shorts</div>
</div>
</div>
</a></td>
<td data-mce-fragment="1" class="bar-column style-scope yta-table-card">
<div data-mce-fragment="1" class="bar layout end-justified style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="value-column style-scope yta-table-card">
<div data-mce-fragment="1" id="value0" class="value debug-table-value style-scope yta-table-card">0</div>
</td>
</tr>
<tr data-mce-fragment="1" class="table-row style-scope yta-table-card">
<td data-mce-fragment="1" class="highlighter-column style-scope yta-table-card">
<div data-mce-fragment="1" class="highlighter style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="title-column style-scope yta-table-card"><a data-mce-fragment="1" class="remove-default-style style-scope yta-table-card">
<div data-mce-fragment="1" class="title-container style-scope yta-table-card">
<div data-mce-fragment="1" class="title style-scope yta-table-card">
<div data-mce-fragment="1" id="title-text-1" class="title-text debug-dimension-value style-scope yta-table-card">Live stream</div>
</div>
</div>
</a></td>
<td data-mce-fragment="1" class="bar-column style-scope yta-table-card">
<div data-mce-fragment="1" class="bar layout end-justified style-scope yta-table-card">
<div data-mce-fragment="1" class="percentage  style-scope yta-table-card style-scope yta-table-card"></div>
</div>
</td>
<td data-mce-fragment="1" class="value-column style-scope yta-table-card">
<div data-mce-fragment="1" id="value1" class="value debug-table-value style-scope yta-table-card">1</div>
</td>
</tr>
<tr data-mce-fragment="1" class="table-row style-scope yta-table-card">
<td data-mce-fragment="1" class="highlighter-column style-scope yta-table-card">
<div data-mce-fragment="1" class="highlighter style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="title-column style-scope yta-table-card"><a data-mce-fragment="1" class="remove-default-style style-scope yta-table-card">
<div data-mce-fragment="1" class="title-container style-scope yta-table-card">
<div data-mce-fragment="1" class="title style-scope yta-table-card">
<div data-mce-fragment="1" id="title-text-2" class="title-text debug-dimension-value style-scope yta-table-card">Videos</div>
</div>
</div>
</a></td>
<td data-mce-fragment="1" class="bar-column style-scope yta-table-card">
<div data-mce-fragment="1" class="bar layout end-justified style-scope yta-table-card">
<div data-mce-fragment="1" class="percentage  style-scope yta-table-card style-scope yta-table-card"></div>
</div>
</td>
<td data-mce-fragment="1" class="value-column style-scope yta-table-card">
<div data-mce-fragment="1" id="value2" class="value debug-table-value style-scope yta-table-card">1</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div data-mce-fragment="1" class="layout horizontal footer style-scope yta-card-container"><span data-mce-fragment="1" class="style-scope yta-card-container"><a data-mce-fragment="1" tabindex="-1" aria-label="Returning viewers" href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/analytics/tab-content/period-week/explore?entity_type=CHANNEL&amp;entity_id=UCHxuYcHwtqla576YbjuwegA&amp;time_period=week&amp;explore_type=TABLE_AND_CHART&amp;metric=RETURNING_VIEWERS&amp;granularity=DAY&amp;t_metrics=RETURNING_VIEWERS&amp;t_metrics=NEW_VIEWERS&amp;t_metrics=ESTIMATED_UNIQUE_VIEWERS&amp;t_metrics=SUBSCRIBERS_NET_CHANGE&amp;dimension=CREATOR_CONTENT_TYPE&amp;o_column=RETURNING_VIEWERS&amp;o_direction=ANALYTICS_ORDER_DIRECTION_DESC" class="style-scope yta-card-container" id="see-more-link" data-mce-href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/analytics/tab-content/period-week/explore?entity_type=CHANNEL&amp;entity_id=UCHxuYcHwtqla576YbjuwegA&amp;time_period=week&amp;explore_type=TABLE_AND_CHART&amp;metric=RETURNING_VIEWERS&amp;granularity=DAY&amp;t_metrics=RETURNING_VIEWERS&amp;t_metrics=NEW_VIEWERS&amp;t_metrics=ESTIMATED_UNIQUE_VIEWERS&amp;t_metrics=SUBSCRIBERS_NET_CHANGE&amp;dimension=CREATOR_CONTENT_TYPE&amp;o_column=RETURNING_VIEWERS&amp;o_direction=ANALYTICS_ORDER_DIRECTION_DESC" data-mce-tabindex="-1"></a></span><span data-mce-fragment="1" class="layout horizontal experiment-and-feedback style-scope yta-card-container"></span></div>
<div data-mce-fragment="1" class="header style-scope tp-yt-paper-card"></div>
<div data-mce-fragment="1" class="content style-scope yta-table-card" hasseemore="">
<div data-mce-fragment="1" class="title-section style-scope yta-table-card">
<div data-mce-fragment="1" class="layout horizontal style-scope yta-title-subtitle-header">
<div data-mce-fragment="1" class="layout vertical style-scope yta-title-subtitle-header" id="container">
<div data-mce-fragment="1" class="layout horizontal  center style-scope yta-title-subtitle-header" id="title-container">
<div data-mce-fragment="1" class="layout horizontal style-scope yta-title-subtitle-header" id="tooltip-target">
<div data-mce-fragment="1" class="style-scope yta-title-subtitle-header">
<h1 data-mce-fragment="1" class="style-scope yta-title-subtitle-header">Subscribers</h1>
</div>
</div>
<span data-mce-fragment="1" class="flex style-scope yta-title-subtitle-header"></span></div>
<span data-mce-fragment="1" class="subtitle style-scope yta-title-subtitle-header">Last 7 days</span></div>
</div>
</div>
<div data-mce-fragment="1" class="table-container style-scope yta-table-card">
<table data-mce-fragment="1" class="style-scope yta-table-card">
<tbody data-mce-fragment="1">
<tr data-mce-fragment="1" class="table-row style-scope yta-table-card">
<td data-mce-fragment="1" class="highlighter-column style-scope yta-table-card">
<div data-mce-fragment="1" class="highlighter style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="title-column style-scope yta-table-card"><a data-mce-fragment="1" class="remove-default-style style-scope yta-table-card">
<div data-mce-fragment="1" class="title-container style-scope yta-table-card">
<div data-mce-fragment="1" class="title style-scope yta-table-card">
<div data-mce-fragment="1" id="title-text-0" class="title-text debug-dimension-value style-scope yta-table-card">Shorts</div>
</div>
</div>
</a></td>
<td data-mce-fragment="1" class="bar-column style-scope yta-table-card">
<div data-mce-fragment="1" class="bar layout end-justified style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="value-column style-scope yta-table-card">
<div data-mce-fragment="1" id="value0" class="value debug-table-value style-scope yta-table-card">0</div>
</td>
</tr>
<tr data-mce-fragment="1" class="table-row style-scope yta-table-card">
<td data-mce-fragment="1" class="highlighter-column style-scope yta-table-card">
<div data-mce-fragment="1" class="highlighter style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="title-column style-scope yta-table-card"><a data-mce-fragment="1" class="remove-default-style style-scope yta-table-card">
<div data-mce-fragment="1" class="title-container style-scope yta-table-card">
<div data-mce-fragment="1" class="title style-scope yta-table-card">
<div data-mce-fragment="1" id="title-text-1" class="title-text debug-dimension-value style-scope yta-table-card">Live stream</div>
</div>
</div>
</a></td>
<td data-mce-fragment="1" class="bar-column style-scope yta-table-card">
<div data-mce-fragment="1" class="bar layout end-justified style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="value-column style-scope yta-table-card">
<div data-mce-fragment="1" id="value1" class="value debug-table-value style-scope yta-table-card">0</div>
</td>
</tr>
<tr data-mce-fragment="1" class="table-row style-scope yta-table-card">
<td data-mce-fragment="1" class="highlighter-column style-scope yta-table-card">
<div data-mce-fragment="1" class="highlighter style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="title-column style-scope yta-table-card"><a data-mce-fragment="1" class="remove-default-style style-scope yta-table-card">
<div data-mce-fragment="1" class="title-container style-scope yta-table-card">
<div data-mce-fragment="1" class="title style-scope yta-table-card">
<div data-mce-fragment="1" id="title-text-2" class="title-text debug-dimension-value style-scope yta-table-card">Videos</div>
</div>
</div>
</a></td>
<td data-mce-fragment="1" class="bar-column style-scope yta-table-card">
<div data-mce-fragment="1" class="bar layout end-justified style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="value-column style-scope yta-table-card">
<div data-mce-fragment="1" id="value2" class="value debug-table-value style-scope yta-table-card">0</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div data-mce-fragment="1" class="layout horizontal footer style-scope yta-card-container"><span data-mce-fragment="1" class="style-scope yta-card-container"><a data-mce-fragment="1" tabindex="-1" aria-label="Subscribers" href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/analytics/tab-content/period-week/explore?entity_type=CHANNEL&amp;entity_id=UCHxuYcHwtqla576YbjuwegA&amp;time_period=week&amp;explore_type=TABLE_AND_CHART&amp;metric=SUBSCRIBERS_NET_CHANGE&amp;granularity=DAY&amp;t_metrics=RETURNING_VIEWERS&amp;t_metrics=NEW_VIEWERS&amp;t_metrics=ESTIMATED_UNIQUE_VIEWERS&amp;t_metrics=SUBSCRIBERS_NET_CHANGE&amp;dimension=CREATOR_CONTENT_TYPE&amp;o_column=SUBSCRIBERS_NET_CHANGE&amp;o_direction=ANALYTICS_ORDER_DIRECTION_DESC" class="style-scope yta-card-container" id="see-more-link" data-mce-href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/analytics/tab-content/period-week/explore?entity_type=CHANNEL&amp;entity_id=UCHxuYcHwtqla576YbjuwegA&amp;time_period=week&amp;explore_type=TABLE_AND_CHART&amp;metric=SUBSCRIBERS_NET_CHANGE&amp;granularity=DAY&amp;t_metrics=RETURNING_VIEWERS&amp;t_metrics=NEW_VIEWERS&amp;t_metrics=ESTIMATED_UNIQUE_VIEWERS&amp;t_metrics=SUBSCRIBERS_NET_CHANGE&amp;dimension=CREATOR_CONTENT_TYPE&amp;o_column=SUBSCRIBERS_NET_CHANGE&amp;o_direction=ANALYTICS_ORDER_DIRECTION_DESC" data-mce-tabindex="-1"></a></span><span data-mce-fragment="1" class="layout horizontal experiment-and-feedback style-scope yta-card-container"></span></div>
<div data-mce-fragment="1" class="layout horizontal style-scope yta-screen">
<div data-mce-fragment="1" class="header style-scope tp-yt-paper-card"></div>
<div data-mce-fragment="1" class="content style-scope yta-table-card" hasseemore="">
<div data-mce-fragment="1" class="title-section style-scope yta-table-card">
<div data-mce-fragment="1" class="layout horizontal style-scope yta-title-subtitle-header">
<div data-mce-fragment="1" class="layout vertical style-scope yta-title-subtitle-header" id="container">
<div data-mce-fragment="1" class="layout horizontal  center style-scope yta-title-subtitle-header" id="title-container">
<div data-mce-fragment="1" class="layout horizontal style-scope yta-title-subtitle-header" id="tooltip-target">
<div data-mce-fragment="1" class="style-scope yta-title-subtitle-header">
<h1 data-mce-fragment="1" class="style-scope yta-title-subtitle-header">Views</h1>
</div>
</div>
<span data-mce-fragment="1" class="flex style-scope yta-title-subtitle-header"></span></div>
<span data-mce-fragment="1" class="subtitle style-scope yta-title-subtitle-header">Last 7 days</span></div>
</div>
</div>
<div data-mce-fragment="1" class="table-container style-scope yta-table-card">
<table data-mce-fragment="1" class="style-scope yta-table-card">
<tbody data-mce-fragment="1">
<tr data-mce-fragment="1" class="table-row style-scope yta-table-card">
<td data-mce-fragment="1" class="highlighter-column style-scope yta-table-card">
<div data-mce-fragment="1" class="highlighter style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="title-column style-scope yta-table-card"><a data-mce-fragment="1" class="remove-default-style style-scope yta-table-card">
<div data-mce-fragment="1" class="title-container style-scope yta-table-card">
<div data-mce-fragment="1" class="title style-scope yta-table-card">
<div data-mce-fragment="1" id="title-text-0" class="title-text debug-dimension-value style-scope yta-table-card">Shorts</div>
</div>
</div>
</a></td>
<td data-mce-fragment="1" class="bar-column style-scope yta-table-card">
<div data-mce-fragment="1" class="bar layout end-justified style-scope yta-table-card">
<div data-mce-fragment="1" class="percentage  style-scope yta-table-card style-scope yta-table-card"></div>
</div>
</td>
<td data-mce-fragment="1" class="value-column style-scope yta-table-card" has-percentage="50.0%">
<div data-mce-fragment="1" id="value0" class="value debug-table-value style-scope yta-table-card">2</div>
<div data-mce-fragment="1" class="row-percentage style-scope yta-table-card">(50.0%)</div>
</td>
</tr>
<tr data-mce-fragment="1" class="table-row style-scope yta-table-card">
<td data-mce-fragment="1" class="highlighter-column style-scope yta-table-card">
<div data-mce-fragment="1" class="highlighter style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="title-column style-scope yta-table-card"><a data-mce-fragment="1" class="remove-default-style style-scope yta-table-card">
<div data-mce-fragment="1" class="title-container style-scope yta-table-card">
<div data-mce-fragment="1" class="title style-scope yta-table-card">
<div data-mce-fragment="1" id="title-text-1" class="title-text debug-dimension-value style-scope yta-table-card">Live stream</div>
</div>
</div>
</a></td>
<td data-mce-fragment="1" class="bar-column style-scope yta-table-card">
<div data-mce-fragment="1" class="bar layout end-justified style-scope yta-table-card">
<div data-mce-fragment="1" class="percentage  style-scope yta-table-card style-scope yta-table-card"></div>
</div>
</td>
<td data-mce-fragment="1" class="value-column style-scope yta-table-card" has-percentage="25.0%">
<div data-mce-fragment="1" id="value1" class="value debug-table-value style-scope yta-table-card">1</div>
<div data-mce-fragment="1" class="row-percentage style-scope yta-table-card">(25.0%)</div>
</td>
</tr>
<tr data-mce-fragment="1" class="table-row style-scope yta-table-card">
<td data-mce-fragment="1" class="highlighter-column style-scope yta-table-card">
<div data-mce-fragment="1" class="highlighter style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="title-column style-scope yta-table-card"><a data-mce-fragment="1" class="remove-default-style style-scope yta-table-card">
<div data-mce-fragment="1" class="title-container style-scope yta-table-card">
<div data-mce-fragment="1" class="title style-scope yta-table-card">
<div data-mce-fragment="1" id="title-text-2" class="title-text debug-dimension-value style-scope yta-table-card">Videos</div>
</div>
</div>
</a></td>
<td data-mce-fragment="1" class="bar-column style-scope yta-table-card">
<div data-mce-fragment="1" class="bar layout end-justified style-scope yta-table-card">
<div data-mce-fragment="1" class="percentage  style-scope yta-table-card style-scope yta-table-card"></div>
</div>
</td>
<td data-mce-fragment="1" class="value-column style-scope yta-table-card" has-percentage="25.0%">
<div data-mce-fragment="1" id="value2" class="value debug-table-value style-scope yta-table-card">1</div>
<div data-mce-fragment="1" class="row-percentage style-scope yta-table-card">(25.0%)</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div data-mce-fragment="1" class="layout horizontal footer style-scope yta-card-container"><span data-mce-fragment="1" class="style-scope yta-card-container"><a data-mce-fragment="1" tabindex="-1" aria-label="Views" href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/analytics/tab-content/period-week/explore?entity_type=CHANNEL&amp;entity_id=UCHxuYcHwtqla576YbjuwegA&amp;time_period=week&amp;explore_type=TABLE_AND_CHART&amp;metric=VIEWS&amp;granularity=DAY&amp;t_metrics=VIEWS&amp;t_metrics=AVERAGE_WATCH_TIME&amp;t_metrics=AVERAGE_WATCH_PERCENTAGE&amp;t_metrics=WATCH_TIME&amp;dimension=CREATOR_CONTENT_TYPE&amp;o_column=VIEWS&amp;o_direction=ANALYTICS_ORDER_DIRECTION_DESC" class="style-scope yta-card-container" id="see-more-link" data-mce-href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/analytics/tab-content/period-week/explore?entity_type=CHANNEL&amp;entity_id=UCHxuYcHwtqla576YbjuwegA&amp;time_period=week&amp;explore_type=TABLE_AND_CHART&amp;metric=VIEWS&amp;granularity=DAY&amp;t_metrics=VIEWS&amp;t_metrics=AVERAGE_WATCH_TIME&amp;t_metrics=AVERAGE_WATCH_PERCENTAGE&amp;t_metrics=WATCH_TIME&amp;dimension=CREATOR_CONTENT_TYPE&amp;o_column=VIEWS&amp;o_direction=ANALYTICS_ORDER_DIRECTION_DESC" data-mce-tabindex="-1"></a></span><span data-mce-fragment="1" class="layout horizontal experiment-and-feedback style-scope yta-card-container"></span></div>
<div data-mce-fragment="1" class="header style-scope tp-yt-paper-card"></div>
<div data-mce-fragment="1" class="container style-scope yta-funnel-card">
<div data-mce-fragment="1" class="style-scope yta-funnel-card" id="header">
<div data-mce-fragment="1" class="layout horizontal style-scope yta-title-subtitle-header">
<div data-mce-fragment="1" class="layout vertical style-scope yta-title-subtitle-header" id="container">
<div data-mce-fragment="1" class="layout horizontal  center style-scope yta-title-subtitle-header" id="title-container">
<div data-mce-fragment="1" aria-describedby="goog_142842425" class="layout horizontal style-scope yta-title-subtitle-header" id="tooltip-target">
<div data-mce-fragment="1" class="style-scope yta-title-subtitle-header">
<h1 data-mce-fragment="1" class="style-scope yta-title-subtitle-header">Impressions and how they led to watch time</h1>
</div>
</div>
<span data-mce-fragment="1" class="flex style-scope yta-title-subtitle-header"></span></div>
</div>
</div>
<div data-mce-fragment="1" class="style-scope yta-funnel-card" id="subtitle">Data available Jun 8 – 14, 2024 (7 days)</div>
</div>
<div data-mce-fragment="1" class="svg-container style-scope yta-funnel"><svg data-mce-fragment="1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 522 394" preserveAspectRatio="none" height="394px" width="100%" class="funnel-background style-scope yta-funnel"><defs data-mce-fragment="1" class="style-scope yta-funnel"></defs><g data-mce-fragment="1" class="style-scope yta-funnel" fill-rule="evenodd" fill="none" stroke-width="1" stroke="none" id="Funnel-spec"><g data-mce-fragment="1" class="style-scope yta-funnel" stroke="var(--ytcp-line-divider)" transform="translate(-95.000000, -170.000000)" id="generate-SVG"><polygon data-mce-fragment="1" class="style-scope yta-funnel" points="209.39622 475 502.60378 475 469.778559 563 242.221441 563" fill="var(--ytcp-general-background-a)" stroke="var(--ytcp-line-divider)" id="tier5" vector-effect="non-scaling-stroke"></polygon><polygon data-mce-fragment="1" class="style-scope yta-funnel" points="191.491553 427 520.508447 427 502.60378 475 209.39622 475 191.491553 427" fill="var(--ytcp-brand-background-solid)" stroke="var(--ytcp-line-divider)" id="tier4" vector-effect="non-scaling-stroke"></polygon><polygon data-mce-fragment="1" class="style-scope yta-funnel" points="158.666332 339 553.333668 339 520.508447 427 191.491553 427 158.666332 339" fill="var(--ytcp-general-background-a)" stroke="var(--ytcp-line-divider)" id="tier3" vector-effect="non-scaling-stroke"></polygon><polygon data-mce-fragment="1" class="style-scope yta-funnel" points="140.761666 291 571.238334 291 553.333668 339 158.666332 339 140.761666 291" fill="var(--ytcp-brand-background-solid)" stroke="var(--ytcp-line-divider)" id="tier2" vector-effect="non-scaling-stroke"></polygon><polygon data-mce-fragment="1" class="style-scope yta-funnel" points="571.238334 291 140.761666 291 96 171 616 171 571.238334 291" fill="var(--ytcp-general-background-a)" stroke="var(--ytcp-line-divider)" id="tier1" vector-effect="non-scaling-stroke"></polygon></g></g></svg></div>
<div data-mce-fragment="1" class="content layout vertical style-scope yta-funnel" id="funnel">
<div data-mce-fragment="1" class="wide  style-scope yta-funnel style-scope yta-funnel" id="impressions">
<div data-mce-fragment="1" aria-describedby="goog_142842426" class="impressions-title style-scope yta-funnel" id="impressions-title">Impressions</div>
<div data-mce-fragment="1" class="metric-value style-scope yta-funnel" id="impressions-value">18</div>
<div data-mce-fragment="1" class="style-scope yta-funnel" id="discovery-bar-container">
<div data-mce-fragment="1" class="style-scope yta-funnel" id="discovery-bar">
<div data-mce-fragment="1" class="yt-discovery-bar style-scope yta-funnel"></div>
<div data-mce-fragment="1" class="non-yt-discovery-bar style-scope yta-funnel"></div>
</div>
<div data-mce-fragment="1" class="layout horizontal secondary discovery-text style-scope yta-funnel">
<div data-mce-fragment="1" class="style-scope yta-funnel" id="discovery-title">11.1% from YouTube recommending your content</div>
<div data-mce-fragment="1" tabindex="0" role="tooltip" aria-labelledby="goog_142842430" class="help-icon style-scope yta-funnel" id="discovery-tooltip-target" data-mce-tabindex="0"><svg data-mce-fragment="1" class="style-scope tp-yt-iron-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" focusable="false"><g data-mce-fragment="1" class="style-scope tp-yt-iron-icon"><path data-mce-fragment="1" class="style-scope tp-yt-iron-icon" d="M13,17h-2v-6h2V17z M13,7h-2v2h2V7z M12,3c-4.96,0-9,4.04-9,9s4.04,9,9,9c4.96,0,9-4.04,9-9S16.96,3,12,3 M12,2 c5.52,0,10,4.48,10,10s-4.48,10-10,10C6.48,22,2,17.52,2,12S6.48,2,12,2L12,2z"></path></g></svg></div>
</div>
</div>
</div>
<div data-mce-fragment="1" class="wide secondary center-align style-scope yta-funnel style-scope yta-funnel" id="ctr">
<div data-mce-fragment="1" aria-describedby="goog_142842427" class="paddingten style-scope yta-funnel" id="ctr-title">5.6% click-through rate</div>
</div>
<div data-mce-fragment="1" class="wide style-scope yta-funnel style-scope yta-funnel" id="views">
<div data-mce-fragment="1" class="views-container layout horizontal style-scope yta-funnel">
<div data-mce-fragment="1" aria-describedby="goog_142842428" class="metric-title style-scope yta-funnel" id="views-title">Views from impressions</div>
</div>
<div data-mce-fragment="1" class="metric-value style-scope yta-funnel" id="views-value">1</div>
</div>
<div data-mce-fragment="1" class="wide secondary center-align style-scope yta-funnel style-scope yta-funnel" id="average-watch-time">
<div data-mce-fragment="1" class="paddingten style-scope yta-funnel">1:00 average view duration</div>
</div>
<div data-mce-fragment="1" class="wide style-scope yta-funnel style-scope yta-funnel" id="watch-time">
<div data-mce-fragment="1" class="watch-time-container style-scope yta-funnel">
<div data-mce-fragment="1" aria-describedby="goog_142842429" class="metric-title style-scope yta-funnel" id="watch-time-title">Watch time from impressions (hours)</div>
<div data-mce-fragment="1" class="metric-value style-scope yta-funnel" id="wt-value">0.02</div>
</div>
</div>
</div>
</div>
<div data-mce-fragment="1" class="layout horizontal footer style-scope yta-card-container"><span data-mce-fragment="1" class="style-scope yta-card-container"></span><span data-mce-fragment="1" class="layout horizontal experiment-and-feedback style-scope yta-card-container"></span></div>
<div data-mce-fragment="1" class="header style-scope tp-yt-paper-card"></div>
<div data-mce-fragment="1" class="content style-scope yta-table-card" hasseemore="">
<div data-mce-fragment="1" class="title-section style-scope yta-table-card">
<div data-mce-fragment="1" class="layout horizontal style-scope yta-title-subtitle-header">
<div data-mce-fragment="1" class="layout vertical style-scope yta-title-subtitle-header" id="container">
<div data-mce-fragment="1" class="layout horizontal  center style-scope yta-title-subtitle-header" id="title-container">
<div data-mce-fragment="1" class="layout horizontal style-scope yta-title-subtitle-header" id="tooltip-target">
<div data-mce-fragment="1" class="style-scope yta-title-subtitle-header">
<h1 data-mce-fragment="1" class="style-scope yta-title-subtitle-header">Published content</h1>
</div>
</div>
<span data-mce-fragment="1" class="flex style-scope yta-title-subtitle-header"></span></div>
<span data-mce-fragment="1" class="subtitle style-scope yta-title-subtitle-header">Last 7 days</span></div>
</div>
</div>
<div data-mce-fragment="1" class="table-container style-scope yta-table-card">
<table data-mce-fragment="1" class="style-scope yta-table-card">
<tbody data-mce-fragment="1">
<tr data-mce-fragment="1" class="table-row style-scope yta-table-card">
<td data-mce-fragment="1" class="highlighter-column style-scope yta-table-card">
<div data-mce-fragment="1" class="highlighter style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="title-column style-scope yta-table-card"><a data-mce-fragment="1" class="remove-default-style style-scope yta-table-card">
<div data-mce-fragment="1" class="title-container style-scope yta-table-card">
<div data-mce-fragment="1" class="title style-scope yta-table-card">
<div data-mce-fragment="1" id="title-text-0" class="title-text debug-dimension-value style-scope yta-table-card">Live stream</div>
</div>
</div>
</a></td>
<td data-mce-fragment="1" class="bar-column style-scope yta-table-card">
<div data-mce-fragment="1" class="bar layout end-justified style-scope yta-table-card">
<div data-mce-fragment="1" class="percentage  style-scope yta-table-card style-scope yta-table-card"></div>
</div>
</td>
<td data-mce-fragment="1" class="value-column style-scope yta-table-card">
<div data-mce-fragment="1" id="value0" class="value debug-table-value style-scope yta-table-card">1</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div data-mce-fragment="1" class="layout horizontal footer style-scope yta-card-container"><span data-mce-fragment="1" class="style-scope yta-card-container"><a data-mce-fragment="1" tabindex="-1" aria-label="Published content" href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/analytics/tab-content/period-week/explore?entity_type=CHANNEL&amp;entity_id=UCHxuYcHwtqla576YbjuwegA&amp;time_period=week&amp;explore_type=TABLE_AND_CHART&amp;metric=VIDEO_COUNT_FIRST_PUBLISHED&amp;granularity=DAY&amp;t_metrics=VIDEO_COUNT_FIRST_PUBLISHED&amp;dimension=CREATOR_CONTENT_TYPE&amp;o_column=VIDEO_COUNT_FIRST_PUBLISHED&amp;o_direction=ANALYTICS_ORDER_DIRECTION_DESC" class="style-scope yta-card-container" id="see-more-link" data-mce-href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/analytics/tab-content/period-week/explore?entity_type=CHANNEL&amp;entity_id=UCHxuYcHwtqla576YbjuwegA&amp;time_period=week&amp;explore_type=TABLE_AND_CHART&amp;metric=VIDEO_COUNT_FIRST_PUBLISHED&amp;granularity=DAY&amp;t_metrics=VIDEO_COUNT_FIRST_PUBLISHED&amp;dimension=CREATOR_CONTENT_TYPE&amp;o_column=VIDEO_COUNT_FIRST_PUBLISHED&amp;o_direction=ANALYTICS_ORDER_DIRECTION_DESC" data-mce-tabindex="-1"></a></span><span data-mce-fragment="1" class="layout horizontal experiment-and-feedback style-scope yta-card-container"></span></div>
<div data-mce-fragment="1" class="header style-scope tp-yt-paper-card"></div>
<div data-mce-fragment="1" class="content style-scope yta-card-with-chips">
<div data-mce-fragment="1" class="title-section style-scope yta-card-with-chips">
<div data-mce-fragment="1" class="layout horizontal style-scope yta-title-subtitle-header">
<div data-mce-fragment="1" class="layout vertical style-scope yta-title-subtitle-header" id="container">
<div data-mce-fragment="1" class="layout horizontal  center style-scope yta-title-subtitle-header" id="title-container">
<div data-mce-fragment="1" class="layout horizontal style-scope yta-title-subtitle-header" id="tooltip-target">
<div data-mce-fragment="1" class="style-scope yta-title-subtitle-header">
<h1 data-mce-fragment="1" class="style-scope yta-title-subtitle-header">Viewers across formats</h1>
</div>
</div>
<span data-mce-fragment="1" class="flex style-scope yta-title-subtitle-header"></span></div>
<span data-mce-fragment="1" class="subtitle style-scope yta-title-subtitle-header">Returning viewers · Last 28 days</span></div>
</div>
</div>
<div data-mce-fragment="1" class="no-data-message style-scope yta-card-with-chips">Not enough data to show this report.</div>
<div data-mce-fragment="1" class="horizontal-separator style-scope yta-card-with-chips"></div>
<div data-mce-fragment="1" class="chips style-scope yta-card-with-chips">
<div data-mce-fragment="1" class="chip-bar style-scope ytcp-static-chip-bar"></div>
</div>
</div>
<div data-mce-fragment="1" class="layout horizontal footer style-scope yta-card-container"><span data-mce-fragment="1" class="style-scope yta-card-container"></span><span data-mce-fragment="1" class="layout horizontal experiment-and-feedback style-scope yta-card-container"></span></div>
<div data-mce-fragment="1" class="header style-scope tp-yt-paper-card"></div>
<div data-mce-fragment="1" class="content style-scope yta-table-card" hasseemore="">
<div data-mce-fragment="1" class="title-section style-scope yta-table-card">
<div data-mce-fragment="1" class="layout horizontal style-scope yta-title-subtitle-header">
<div data-mce-fragment="1" class="layout vertical style-scope yta-title-subtitle-header" id="container">
<div data-mce-fragment="1" class="layout horizontal  center style-scope yta-title-subtitle-header" id="title-container">
<div data-mce-fragment="1" aria-describedby="goog_142842431" class="layout horizontal style-scope yta-title-subtitle-header" id="tooltip-target">
<div data-mce-fragment="1" class="style-scope yta-title-subtitle-header">
<h1 data-mce-fragment="1" class="style-scope yta-title-subtitle-header">How viewers find you</h1>
</div>
</div>
<span data-mce-fragment="1" class="flex style-scope yta-title-subtitle-header"></span></div>
<span data-mce-fragment="1" class="subtitle style-scope yta-title-subtitle-header">Views · Last 7 days</span></div>
</div>
<div data-mce-fragment="1" class="style-scope yta-donut-chart-base" id="chart-container">
<div data-mce-fragment="1" class="aplos-chart-container aplos-chart aplos-style quantum-style style-scope yta-donut-chart-base"><svg data-mce-fragment="1" height="140" width="440" aria-hidden="true" class="aplos-chart aplos-chart-svg style-scope yta-donut-chart-base"><defs data-mce-fragment="1" class="style-scope yta-donut-chart-base"></defs><g data-mce-fragment="1" transform="translate(220,70)" class="aplos-draw-area style-scope yta-donut-chart-base"><rect data-mce-fragment="1" height="140" width="440" y="-70" x="-220" class="mouseCapturePane style-scope yta-donut-chart-base"></rect><g data-mce-fragment="1" class="seriesGroup style-scope yta-donut-chart-base" series-id="traffic sources"><g data-mce-fragment="1" class="arcs style-scope yta-donut-chart-base"><g data-mce-fragment="1" data-label-position="inside" data-user-classes="" class="arc style-scope yta-donut-chart-base"><path data-mce-fragment="1" d="M4.2862637970157365e-15,-70A70,70,0,0,1,70,1.554312234475219e-14L51,1.1324274851176597e-14A51,51,0,0,0,3.1228493378257506e-15,-51Z" fill="rgba(142, 140, 255, 1)" data-id="0" class="pieSegment style-scope yta-donut-chart-base"></path><g data-mce-fragment="1" transform="translate(42.77996026178614,-42.77996026178612)" class="arc-label-group style-scope yta-donut-chart-base"><g data-mce-fragment="1" class="style-scope yta-donut-chart-base" transform="translate(0,0)"><text data-mce-fragment="1" dy=".35em" class="arc-label style-scope yta-donut-chart-base"></text></g><line data-mce-fragment="1" y2="0" x2="0" y1="0" x1="0" class="arc-leader-line style-scope yta-donut-chart-base"></line><line data-mce-fragment="1" y2="0" x2="0" y1="0" x1="0" class="arc-leader-line-tail style-scope yta-donut-chart-base"></line></g></g><g data-mce-fragment="1" data-label-position="inside" data-user-classes="" class="arc style-scope yta-donut-chart-base"><path data-mce-fragment="1" d="M70,1.554312234475219e-14A70,70,0,0,1,-2.6799980892488647e-14,70L-1.952570036452744e-14,51A51,51,0,0,0,51,1.1324274851176597e-14Z" fill="rgba(142, 140, 255, 0.8)" data-id="1" class="pieSegment style-scope yta-donut-chart-base"></path><g data-mce-fragment="1" transform="translate(42.77996026178611,42.779960261786144)" class="arc-label-group style-scope yta-donut-chart-base"><g data-mce-fragment="1" class="style-scope yta-donut-chart-base" transform="translate(0,0)"><text data-mce-fragment="1" dy=".35em" class="arc-label style-scope yta-donut-chart-base"></text></g><line data-mce-fragment="1" y2="0" x2="0" y1="0" x1="0" class="arc-leader-line style-scope yta-donut-chart-base"></line><line data-mce-fragment="1" y2="0" x2="0" y1="0" x1="0" class="arc-leader-line-tail style-scope yta-donut-chart-base"></line></g></g><g data-mce-fragment="1" data-label-position="inside" data-user-classes="" class="arc style-scope yta-donut-chart-base"><path data-mce-fragment="1" d="M-2.6799980892488647e-14,70A70,70,0,0,1,-70,-5.3599961784977293e-14L-51,-3.905140072905488e-14A51,51,0,0,0,-1.952570036452744e-14,51Z" fill="rgba(142, 140, 255, 0.6)" data-id="2" class="pieSegment style-scope yta-donut-chart-base"></path><g data-mce-fragment="1" transform="translate(-42.779960261786165,42.779960261786094)" class="arc-label-group style-scope yta-donut-chart-base"><g data-mce-fragment="1" class="style-scope yta-donut-chart-base" transform="translate(0,0)"><text data-mce-fragment="1" dy=".35em" class="arc-label style-scope yta-donut-chart-base"></text></g><line data-mce-fragment="1" y2="0" x2="0" y1="0" x1="0" class="arc-leader-line style-scope yta-donut-chart-base"></line><line data-mce-fragment="1" y2="0" x2="0" y1="0" x1="0" class="arc-leader-line-tail style-scope yta-donut-chart-base"></line></g></g><g data-mce-fragment="1" data-label-position="inside" data-user-classes="" class="arc style-scope yta-donut-chart-base"><path data-mce-fragment="1" d="M-70,-5.3599961784977293e-14A70,70,0,0,1,4.9313697987961557e-14,-70L3.5928551391229135e-14,-51A51,51,0,0,0,-51,-3.905140072905488e-14Z" fill="rgba(142, 140, 255, 0.4)" data-id="3" class="pieSegment style-scope yta-donut-chart-base"></path><g data-mce-fragment="1" transform="translate(-42.779960261786094,-42.77996026178616)" class="arc-label-group style-scope yta-donut-chart-base"><g data-mce-fragment="1" class="style-scope yta-donut-chart-base" transform="translate(0,0)"><text data-mce-fragment="1" dy=".35em" class="arc-label style-scope yta-donut-chart-base"></text></g><line data-mce-fragment="1" y2="0" x2="0" y1="0" x1="0" class="arc-leader-line style-scope yta-donut-chart-base"></line><line data-mce-fragment="1" y2="0" x2="0" y1="0" x1="0" class="arc-leader-line-tail style-scope yta-donut-chart-base"></line></g></g></g><g data-mce-fragment="1" class="arc-borders style-scope yta-donut-chart-base"><line data-mce-fragment="1" y2="-71" y1="-50" transform="rotate(0)" x2="0" x1="0" class="arc-border style-scope yta-donut-chart-base"></line><line data-mce-fragment="1" y2="-71" y1="-50" transform="rotate(90.00000000000001)" x2="0" x1="0" class="arc-border style-scope yta-donut-chart-base"></line><line data-mce-fragment="1" y2="-71" y1="-50" transform="rotate(180.00000000000003)" x2="0" x1="0" class="arc-border style-scope yta-donut-chart-base"></line><line data-mce-fragment="1" y2="-71" y1="-50" transform="rotate(270.00000000000006)" x2="0" x1="0" class="arc-border style-scope yta-donut-chart-base"></line></g></g></g></svg>
<div data-mce-fragment="1" class="aplos-donut-center style-scope yta-donut-chart-base">
<div data-mce-fragment="1" class="aplos-donut-center-content style-scope yta-donut-chart-base">Traffic Sources</div>
</div>
</div>
</div>
</div>
<div data-mce-fragment="1" class="table-container style-scope yta-table-card">
<table data-mce-fragment="1" class="style-scope yta-table-card">
<tbody data-mce-fragment="1">
<tr data-mce-fragment="1" class="table-row style-scope yta-table-card">
<td data-mce-fragment="1" class="highlighter-column style-scope yta-table-card">
<div data-mce-fragment="1" class="highlighter style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="title-column style-scope yta-table-card"><a data-mce-fragment="1" class="remove-default-style style-scope yta-table-card">
<div data-mce-fragment="1" class="title-container style-scope yta-table-card">
<div data-mce-fragment="1" class="title style-scope yta-table-card">
<div data-mce-fragment="1" id="title-text-0" class="title-text debug-dimension-value style-scope yta-table-card">Direct or unknown</div>
</div>
</div>
</a></td>
<td data-mce-fragment="1" class="bar-column style-scope yta-table-card">
<div data-mce-fragment="1" class="bar layout end-justified style-scope yta-table-card">
<div data-mce-fragment="1" class="percentage  style-scope yta-table-card style-scope yta-table-card"></div>
</div>
</td>
<td data-mce-fragment="1" class="value-column style-scope yta-table-card">
<div data-mce-fragment="1" id="value0" class="value debug-table-value style-scope yta-table-card">25.0%</div>
</td>
</tr>
<tr data-mce-fragment="1" class="table-row style-scope yta-table-card">
<td data-mce-fragment="1" class="highlighter-column style-scope yta-table-card">
<div data-mce-fragment="1" class="highlighter style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="title-column style-scope yta-table-card"><a data-mce-fragment="1" class="remove-default-style style-scope yta-table-card">
<div data-mce-fragment="1" class="title-container style-scope yta-table-card">
<div data-mce-fragment="1" class="title style-scope yta-table-card">
<div data-mce-fragment="1" id="title-text-1" class="title-text debug-dimension-value style-scope yta-table-card">Browse features</div>
</div>
</div>
</a></td>
<td data-mce-fragment="1" class="bar-column style-scope yta-table-card">
<div data-mce-fragment="1" class="bar layout end-justified style-scope yta-table-card">
<div data-mce-fragment="1" class="percentage  style-scope yta-table-card style-scope yta-table-card"></div>
</div>
</td>
<td data-mce-fragment="1" class="value-column style-scope yta-table-card">
<div data-mce-fragment="1" id="value1" class="value debug-table-value style-scope yta-table-card">25.0%</div>
</td>
</tr>
<tr data-mce-fragment="1" class="table-row style-scope yta-table-card">
<td data-mce-fragment="1" class="highlighter-column style-scope yta-table-card">
<div data-mce-fragment="1" class="highlighter style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="title-column style-scope yta-table-card"><a data-mce-fragment="1" class="remove-default-style style-scope yta-table-card">
<div data-mce-fragment="1" class="title-container style-scope yta-table-card">
<div data-mce-fragment="1" class="title style-scope yta-table-card">
<div data-mce-fragment="1" id="title-text-2" class="title-text debug-dimension-value style-scope yta-table-card">Channel pages</div>
</div>
</div>
</a></td>
<td data-mce-fragment="1" class="bar-column style-scope yta-table-card">
<div data-mce-fragment="1" class="bar layout end-justified style-scope yta-table-card">
<div data-mce-fragment="1" class="percentage  style-scope yta-table-card style-scope yta-table-card"></div>
</div>
</td>
<td data-mce-fragment="1" class="value-column style-scope yta-table-card">
<div data-mce-fragment="1" id="value2" class="value debug-table-value style-scope yta-table-card">25.0%</div>
</td>
</tr>
<tr data-mce-fragment="1" class="table-row style-scope yta-table-card">
<td data-mce-fragment="1" class="highlighter-column style-scope yta-table-card">
<div data-mce-fragment="1" class="highlighter style-scope yta-table-card"></div>
</td>
<td data-mce-fragment="1" class="title-column style-scope yta-table-card"><a data-mce-fragment="1" class="remove-default-style style-scope yta-table-card">
<div data-mce-fragment="1" class="title-container style-scope yta-table-card">
<div data-mce-fragment="1" class="title style-scope yta-table-card">
<div data-mce-fragment="1" id="title-text-3" class="title-text debug-dimension-value style-scope yta-table-card">Notifications</div>
</div>
</div>
</a></td>
<td data-mce-fragment="1" class="bar-column style-scope yta-table-card">
<div data-mce-fragment="1" class="bar layout end-justified style-scope yta-table-card">
<div data-mce-fragment="1" class="percentage  style-scope yta-table-card style-scope yta-table-card"></div>
</div>
</td>
<td data-mce-fragment="1" class="value-column style-scope yta-table-card">
<div data-mce-fragment="1" id="value3" class="value debug-table-value style-scope yta-table-card">25.0%</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div data-mce-fragment="1" class="layout horizontal footer style-scope yta-card-container"><span data-mce-fragment="1" class="style-scope yta-card-container"><a data-mce-fragment="1" tabindex="-1" aria-label="How viewers find you" href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/analytics/tab-content/period-week/explore?entity_type=CHANNEL&amp;entity_id=UCHxuYcHwtqla576YbjuwegA&amp;time_period=week&amp;explore_type=TABLE_AND_CHART&amp;metric=VIEWS&amp;granularity=DAY&amp;t_metrics=VIDEO_THUMBNAIL_IMPRESSIONS&amp;t_metrics=VIDEO_THUMBNAIL_IMPRESSIONS_VTR&amp;t_metrics=VIEWS&amp;t_metrics=AVERAGE_WATCH_TIME&amp;t_metrics=WATCH_TIME&amp;dimension=TRAFFIC_SOURCE_TYPE&amp;o_column=VIEWS&amp;o_direction=ANALYTICS_ORDER_DIRECTION_DESC" class="style-scope yta-card-container" id="see-more-link" data-mce-href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/analytics/tab-content/period-week/explore?entity_type=CHANNEL&amp;entity_id=UCHxuYcHwtqla576YbjuwegA&amp;time_period=week&amp;explore_type=TABLE_AND_CHART&amp;metric=VIEWS&amp;granularity=DAY&amp;t_metrics=VIDEO_THUMBNAIL_IMPRESSIONS&amp;t_metrics=VIDEO_THUMBNAIL_IMPRESSIONS_VTR&amp;t_metrics=VIEWS&amp;t_metrics=AVERAGE_WATCH_TIME&amp;t_metrics=WATCH_TIME&amp;dimension=TRAFFIC_SOURCE_TYPE&amp;o_column=VIEWS&amp;o_direction=ANALYTICS_ORDER_DIRECTION_DESC" data-mce-tabindex="-1"></a></span><span data-mce-fragment="1" class="layout horizontal experiment-and-feedback style-scope yta-card-container"></span></div>
<div data-mce-fragment="1" class="header style-scope tp-yt-paper-card"></div>
<div data-mce-fragment="1" class="content style-scope yta-remix-card">
<div data-mce-fragment="1" class="header style-scope yta-remix-card">
<div data-mce-fragment="1" class="layout horizontal style-scope yta-title-subtitle-header">
<div data-mce-fragment="1" class="layout vertical style-scope yta-title-subtitle-header" id="container">
<div data-mce-fragment="1" class="layout horizontal  center style-scope yta-title-subtitle-header" id="title-container">
<div data-mce-fragment="1" class="layout horizontal style-scope yta-title-subtitle-header" id="tooltip-target">
<div data-mce-fragment="1" class="style-scope yta-title-subtitle-header">
<h1 data-mce-fragment="1" class="style-scope yta-title-subtitle-header">Top Remixed</h1>
</div>
</div>
<span data-mce-fragment="1" class="flex style-scope yta-title-subtitle-header"></span></div>
<span data-mce-fragment="1" class="subtitle style-scope yta-title-subtitle-header">Your content used to create Shorts · Last 7 days</span></div>
</div>
</div>
<div data-mce-fragment="1" class="style-scope yta-remix-card">
<div data-mce-fragment="1" class="empty-state layout vertical flex-start style-scope yta-remix-card"><span data-mce-fragment="1" class="empty-state-text style-scope yta-remix-card">Nothing to show for these dates</span></div>
</div>
</div>
<div data-mce-fragment="1" class="layout horizontal footer style-scope yta-card-container"><span data-mce-fragment="1" class="style-scope yta-card-container"><a data-mce-fragment="1" tabindex="-1" href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/analytics/tab-content/period-week/explore?entity_type=CHANNEL&amp;entity_id=UCHxuYcHwtqla576YbjuwegA&amp;time_period=week&amp;explore_type=TABLE_AND_CHART&amp;metric=SHORTS_REMIX_VIEWS&amp;granularity=DAY&amp;t_metrics=SHORTS_REMIX_VIEWS&amp;t_metrics=SHORTS_REMIX_COUNT&amp;dimension=VIDEO&amp;o_column=SHORTS_REMIX_VIEWS&amp;o_direction=ANALYTICS_ORDER_DIRECTION_DESC" class="style-scope yta-card-container" id="see-more-link" data-mce-href="https://studio.youtube.com/channel/UCHxuYcHwtqla576YbjuwegA/analytics/tab-content/period-week/explore?entity_type=CHANNEL&amp;entity_id=UCHxuYcHwtqla576YbjuwegA&amp;time_period=week&amp;explore_type=TABLE_AND_CHART&amp;metric=SHORTS_REMIX_VIEWS&amp;granularity=DAY&amp;t_metrics=SHORTS_REMIX_VIEWS&amp;t_metrics=SHORTS_REMIX_COUNT&amp;dimension=VIDEO&amp;o_column=SHORTS_REMIX_VIEWS&amp;o_direction=ANALYTICS_ORDER_DIRECTION_DESC" data-mce-tabindex="-1"></a></span><span data-mce-fragment="1" class="layout horizontal experiment-and-feedback style-scope yta-card-container"></span></div>
</div>
</div>
</div>
</div>
</div>
</div>
</main></div>
</td>
</tr>
</tbody>
</table>
{% schema %}
  {
    "name": "style-scope",
    "settings": []
  }
{% endschema %}