element.style {
}
<style>
.ͼ1d {
    color: #aa1111;
}
*, *:before, *:after {
    box-sizing: border-box;
}
<style>
.ͼ4 .cm-line {
    caret-color: transparent !important;
}
style attribute {
    tab-size: 4;
}
<style>
.ͼ1 .cm-content[contenteditable=true] {
    -webkit-user-modify: read-write-plaintext-only;
}
<style>
.ͼ2 .cm-content {
    caret-color: black;
}
<style>
.ͼ1 .cm-lineWrapping {
    white-space: pre-wrap;
    white-space: break-spaces;
    word-break: break-word;
    overflow-wrap: anywhere;
    flex-shrink: 1;
}
<style>
.ͼ1 .cm-content {
    margin: 0;
    flex-grow: 2;
    flex-shrink: 0;
    min-height: 100%;
    display: block;
    white-space: pre;
    word-wrap: normal;
    box-sizing: border-box;
    padding: 4px 0;
    outline: none;
}
<style>
.ͼ1 .cm-scroller {
    display: flex !important;
    align-items: flex-start !important;
    font-family: monospace;
    line-height: 1.4;
    height: 100%;
    overflow-x: auto;
    position: relative;
    z-index: 0;
}
<style>
.ͼ16 {
    background-color: var(--p-color-bg-surface);
    color: var(--p-color-text);
}
.Polaris-LegacyStack {
    --pc-stack-spacing: var(--p-space-400);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: calc(var(--pc-stack-spacing)* -1);
    margin-left: calc(var(--pc-stack-spacing)* -1);
}
.Polaris-LegacyStack {
    --pc-stack-spacing: var(--p-space-400);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: calc(var(--pc-stack-spacing)* -1);
    margin-left: calc(var(--pc-stack-spacing)* -1);
}
.Polaris-ThemeProvider--themeContainer {
    color: var(--p-color-text);
}
:root, .p-theme-light {
    --p-border-radius-0: 0rem;
    --p-border-radius-050: .125rem;
    --p-border-radius-100: .25rem;
    --p-border-radius-150: .375rem;
    --p-border-radius-200: .5rem;
    --p-border-radius-300: .75rem;
    --p-border-radius-400: 1rem;
    --p-border-radius-500: 1.25rem;
    --p-border-radius-750: 1.875rem;
    --p-border-radius-full: 624.9375rem;
    --p-border-width-0: 0rem;
    --p-border-width-0165: .04125rem;
    --p-border-width-025: .0625rem;
    --p-border-width-050: .125rem;
    --p-border-width-100: .25rem;
    --p-breakpoints-xs: 0rem;
    --p-breakpoints-sm: 30.625rem;
    --p-breakpoints-md: 48rem;
    --p-breakpoints-lg: 65rem;
    --p-breakpoints-xl: 90rem;
    color-scheme: light;
    --p-color-bg: rgba(241, 241, 241, 1);
    --p-color-bg-inverse: rgba(26, 26, 26, 1);
    --p-color-bg-surface: rgba(255, 255, 255, 1);
    --p-color-bg-surface-hover: rgba(247, 247, 247, 1);
    --p-color-bg-surface-active: rgba(243, 243, 243, 1);
    --p-color-bg-surface-selected: rgba(241, 241, 241, 1);
    --p-color-bg-surface-disabled: rgba(0, 0, 0, .05);
    --p-color-bg-surface-secondary: rgba(247, 247, 247, 1);
    --p-color-bg-surface-secondary-hover: rgba(241, 241, 241, 1);
    --p-color-bg-surface-secondary-active: rgba(235, 235, 235, 1);
    --p-color-bg-surface-secondary-selected: rgba(235, 235, 235, 1);
    --p-color-bg-surface-tertiary: rgba(243, 243, 243, 1);
    --p-color-bg-surface-tertiary-hover: rgba(235, 235, 235, 1);
    --p-color-bg-surface-tertiary-active: rgba(227, 227, 227, 1);
    --p-color-bg-surface-brand: rgba(227, 227, 227, 1);
    --p-color-bg-surface-brand-hover: rgba(235, 235, 235, 1);
    --p-color-bg-surface-brand-active: rgba(241, 241, 241, 1);
    --p-color-bg-surface-brand-selected: rgba(241, 241, 241, 1);
    --p-color-bg-surface-info: rgba(234, 244, 255, 1);
    --p-color-bg-surface-info-hover: rgba(224, 240, 255, 1);
    --p-color-bg-surface-info-active: rgba(202, 230, 255, 1);
    --p-color-bg-surface-success: rgba(205, 254, 225, 1);
    --p-color-bg-surface-success-hover: rgba(180, 254, 210, 1);
    --p-color-bg-surface-success-active: rgba(146, 254, 194, 1);
    --p-color-bg-surface-caution: rgba(255, 248, 219, 1);
    --p-color-bg-surface-caution-hover: rgba(255, 244, 191, 1);
    --p-color-bg-surface-caution-active: rgba(255, 239, 157, 1);
    --p-color-bg-surface-warning: rgba(255, 241, 227, 1);
    --p-color-bg-surface-warning-hover: rgba(255, 235, 213, 1);
Show All Properties (408 more)
}
style attribute {
    background-color: var(--p-color-bg);
    color: var(--p-color-text);
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f2f4;
    scrollbar-color: var(--p-color-scrollbar-thumb-bg-hover) transparent;
}
html, body, button {
    font-family: var(--p-font-family-sans);
}
html, body {
    font-size: var(--p-font-size-400);
    line-height: var(--p-font-line-height-600);
    font-weight: var(--p-font-weight-regular);
    font-feature-settings: "calt" 0;
    letter-spacing: initial;
    color: var(--p-color-text);
    -webkit-tap-highlight-color: transparent;
}
style attribute {
    --pc-frame-global-ribbon-height: 0px;
    --pc-frame-offset: 0px;
    --pc-app-provider-scrollbar-width: 0px;
}
:root {
    --tooltip-offset: 0;
}
:root {
    --image-dimensions: 15rem;
    --narrow-image-dimensions: 11.25rem;
    --padding: 1.25rem;
    --column-gap: 1.25rem;
    --column-width: var(--image-dimensions);
    --two-column-width: calc(var(--column-width)*2);
    --width-when-column-wraps: calc(var(--two-column-width) + var(--column-gap) + var(--padding)*2 - .0625rem);
}
:root {
    --osui-nav-item-interior-padding: var(--p-space-200);
    --osui_nav-action-connected-button-width: 1.75rem;
    --osui_nav-action-connected-button-width-slim: 1.25rem;
    --osui_nav-action-common-prefix-size: 1.25rem;
    --osui_nav-action-common-prefix-gap: var(--p-space-200);
    --osui-nav-item-alignment-none: 0;
    --osui-nav-item-alignment-base-tight: var(--p-space-300);
    --osui_nav-item-alignment-common-icon: calc(var(--osui_nav-action-common-prefix-size) + var(--osui_nav-action-common-prefix-gap) + var(--osui-nav-item-alignment-base-tight));
    --osui_nav-item-alignment-common-action-with-icon: calc(var(--osui_nav-action-connected-button-width-slim) + var(--osui_nav-action-common-prefix-size) + var(--osui_nav-action-common-prefix-gap));
    --osui_nav-item-alignment-nested-offset: var(--p-space-100);
}
:root {
    --pc-skeleton-page-max-width: 62.375rem;
    --pc-skeleton-page-max-width-narrow: 41.375rem;
}
:root {
    --item-min-height: var(--p-space-400);
    --item-min-width: 3.125rem;
    --item-vertical-padding: var(--p-space-200);
}
:root {
    --pc-toast-manager-translate-y-out: 9.375rem;
    --pc-toast-manager-translate-y-in: 0;
    --pc-toast-manager-scale-in: 1;
    --pc-toast-manager-scale-out: .9;
    --pc-toast-manager-blur-in: 0;
    --pc-toast-manager-transition-delay-in: 0s;
}
:root {
    --pc-label-as-placeholder-y: 1.25rem;
}
:root {
    --polaris-version-number: "13.8.0";
    --pg-navigation-width: 15rem;
    --pg-dangerous-magic-space-4: 1rem;
    --pg-dangerous-magic-space-5: 1.25rem;
    --pg-dangerous-magic-space-8: 2rem;
    --pg-layout-width-primary-min: 30rem;
    --pg-layout-width-primary-max: 41.375rem;
    --pg-layout-width-secondary-min: 15rem;
    --pg-layout-width-secondary-max: 20rem;
    --pg-layout-width-one-half-width-base: 28.125rem;
    --pg-layout-width-one-third-width-base: 15rem;
    --pg-layout-width-nav-base: var(--pg-navigation-width);
    --pg-layout-width-page-content-partially-condensed: 28.125rem;
    --pg-layout-width-inner-spacing-base: var(--pg-dangerous-magic-space-4);
    --pg-layout-width-outer-spacing-min: var(--pg-dangerous-magic-space-5);
    --pg-layout-width-outer-spacing-max: var(--pg-dangerous-magic-space-8);
    --pg-layout-relative-size: 2;
    --pg-dismiss-icon-size: 2rem;
    --pg-top-bar-height: 3.5rem;
    --pg-mobile-nav-width: calc(100vw - var(--pg-dismiss-icon-size) - var(--pg-dangerous-magic-space-8));
    --pg-control-height: 2rem;
    --pg-control-vertical-padding: calc((2.25rem - var(--p-font-line-height-600) - var(--p-space-050))/2);
}
:root, .p-theme-light {
    --p-border-radius-0: 0rem;
    --p-border-radius-050: .125rem;
    --p-border-radius-100: .25rem;
    --p-border-radius-150: .375rem;
    --p-border-radius-200: .5rem;
    --p-border-radius-300: .75rem;
    --p-border-radius-400: 1rem;
    --p-border-radius-500: 1.25rem;
    --p-border-radius-750: 1.875rem;
    --p-border-radius-full: 624.9375rem;
    --p-border-width-0: 0rem;
    --p-border-width-0165: .04125rem;
    --p-border-width-025: .0625rem;
    --p-border-width-050: .125rem;
    --p-border-width-100: .25rem;
    --p-breakpoints-xs: 0rem;
    --p-breakpoints-sm: 30.625rem;
    --p-breakpoints-md: 48rem;
    --p-breakpoints-lg: 65rem;
    --p-breakpoints-xl: 90rem;
    color-scheme: light;
    --p-color-bg: rgba(241, 241, 241, 1);
    --p-color-bg-inverse: rgba(26, 26, 26, 1);
    --p-color-bg-surface: rgba(255, 255, 255, 1);
    --p-color-bg-surface-hover: rgba(247, 247, 247, 1);
    --p-color-bg-surface-active: rgba(243, 243, 243, 1);
    --p-color-bg-surface-selected: rgba(241, 241, 241, 1);
    --p-color-bg-surface-disabled: rgba(0, 0, 0, .05);
    --p-color-bg-surface-secondary: rgba(247, 247, 247, 1);
    --p-color-bg-surface-secondary-hover: rgba(241, 241, 241, 1);
    --p-color-bg-surface-secondary-active: rgba(235, 235, 235, 1);
    --p-color-bg-surface-secondary-selected: rgba(235, 235, 235, 1);
    --p-color-bg-surface-tertiary: rgba(243, 243, 243, 1);
    --p-color-bg-surface-tertiary-hover: rgba(235, 235, 235, 1);
    --p-color-bg-surface-tertiary-active: rgba(227, 227, 227, 1);
    --p-color-bg-surface-brand: rgba(227, 227, 227, 1);
    --p-color-bg-surface-brand-hover: rgba(235, 235, 235, 1);
    --p-color-bg-surface-brand-active: rgba(241, 241, 241, 1);
    --p-color-bg-surface-brand-selected: rgba(241, 241, 241, 1);
    --p-color-bg-surface-info: rgba(234, 244, 255, 1);
    --p-color-bg-surface-info-hover: rgba(224, 240, 255, 1);
    --p-color-bg-surface-info-active: rgba(202, 230, 255, 1);
    --p-color-bg-surface-success: rgba(205, 254, 225, 1);
    --p-color-bg-surface-success-hover: rgba(180, 254, 210, 1);
    --p-color-bg-surface-success-active: rgba(146, 254, 194, 1);
    --p-color-bg-surface-caution: rgba(255, 248, 219, 1);
    --p-color-bg-surface-caution-hover: rgba(255, 244, 191, 1);
    --p-color-bg-surface-caution-active: rgba(255, 239, 157, 1);
    --p-color-bg-surface-warning: rgba(255, 241, 227, 1);
    --p-color-bg-surface-warning-hover: rgba(255, 235, 213, 1);
    --p-color-bg-surface-warning-active: rgba(255, 228, 198, 1);
    --p-color-bg-surface-critical: rgba(254, 233, 232, 1);
    --p-color-bg-surface-critical-hover: rgba(254, 226, 225, 1);
    --p-color-bg-surface-critical-active: rgba(254, 218, 217, 1);
    --p-color-bg-surface-emphasis: rgba(240, 242, 255, 1);
    --p-color-bg-surface-emphasis-hover: rgba(234, 237, 255, 1);
    --p-color-bg-surface-emphasis-active: rgba(226, 231, 255, 1);
    --p-color-bg-surface-magic: rgba(248, 247, 255, 1);
    --p-color-bg-surface-magic-hover: rgba(243, 241, 255, 1);
    --p-color-bg-surface-magic-active: rgba(233, 229, 255, 1);
    --p-color-bg-surface-inverse: rgba(48, 48, 48, 1);
    --p-color-bg-surface-transparent: rgba(0, 0, 0, 0);
    --p-color-bg-fill: rgba(255, 255, 255, 1);
    --p-color-bg-fill-hover: rgba(250, 250, 250, 1);
    --p-color-bg-fill-active: rgba(247, 247, 247, 1);
    --p-color-bg-fill-selected: rgba(204, 204, 204, 1);
    --p-color-bg-fill-disabled: rgba(0, 0, 0, .05);
    --p-color-bg-fill-secondary: rgba(241, 241, 241, 1);
    --p-color-bg-fill-secondary-hover: rgba(235, 235, 235, 1);
    --p-color-bg-fill-secondary-active: rgba(227, 227, 227, 1);
    --p-color-bg-fill-tertiary: rgba(227, 227, 227, 1);
    --p-color-bg-fill-tertiary-hover: rgba(212, 212, 212, 1);
    --p-color-bg-fill-tertiary-active: rgba(204, 204, 204, 1);
    --p-color-bg-fill-brand: rgba(48, 48, 48, 1);
    --p-color-bg-fill-brand-hover: rgba(26, 26, 26, 1);
    --p-color-bg-fill-brand-active: rgba(26, 26, 26, 1);
    --p-color-bg-fill-brand-selected: rgba(48, 48, 48, 1);
    --p-color-bg-fill-brand-disabled: rgba(0, 0, 0, .17);
    --p-color-bg-fill-info: rgba(145, 208, 255, 1);
    --p-color-bg-fill-info-hover: rgba(81, 192, 255, 1);
    --p-color-bg-fill-info-active: rgba(0, 148, 213, 1);
    --p-color-bg-fill-info-secondary: rgba(213, 235, 255, 1);
    --p-color-bg-fill-success: rgba(41, 132, 90, 1);
    --p-color-bg-fill-success-hover: rgba(19, 111, 69, 1);
    --p-color-bg-fill-success-active: rgba(12, 81, 50, 1);
    --p-color-bg-fill-success-secondary: rgba(180, 254, 210, 1);
    --p-color-bg-fill-warning: rgba(255, 184, 0, 1);
    --p-color-bg-fill-warning-hover: rgba(229, 165, 0, 1);
    --p-color-bg-fill-warning-active: rgba(178, 132, 0, 1);
    --p-color-bg-fill-warning-secondary: rgba(255, 214, 164, 1);
    --p-color-bg-fill-caution: rgba(255, 230, 0, 1);
    --p-color-bg-fill-caution-hover: rgba(234, 211, 0, 1);
    --p-color-bg-fill-caution-active: rgba(225, 203, 0, 1);
    --p-color-bg-fill-caution-secondary: rgba(255, 235, 120, 1);
    --p-color-bg-fill-critical: rgba(229, 28, 0, 1);
    --p-color-bg-fill-critical-hover: rgba(181, 38, 11, 1);
    --p-color-bg-fill-critical-active: rgba(142, 31, 11, 1);
    --p-color-bg-fill-critical-selected: rgba(142, 31, 11, 1);
    --p-color-bg-fill-critical-secondary: rgba(254, 211, 209, 1);
    --p-color-bg-fill-emphasis: rgba(0, 91, 211, 1);
    --p-color-bg-fill-emphasis-hover: rgba(0, 66, 153, 1);
    --p-color-bg-fill-emphasis-active: rgba(0, 46, 106, 1);
    --p-color-bg-fill-magic: rgba(128, 81, 255, 1);
    --p-color-bg-fill-magic-secondary: rgba(233, 229, 255, 1);
    --p-color-bg-fill-magic-secondary-hover: rgba(228, 222, 255, 1);
    --p-color-bg-fill-magic-secondary-active: rgba(223, 217, 255, 1);
    --p-color-bg-fill-inverse: rgba(48, 48, 48, 1);
    --p-color-bg-fill-inverse-hover: rgba(74, 74, 74, 1);
    --p-color-bg-fill-inverse-active: rgba(97, 97, 97, 1);
    --p-color-bg-fill-transparent: rgba(0, 0, 0, .02);
    --p-color-bg-fill-transparent-hover: rgba(0, 0, 0, .05);
    --p-color-bg-fill-transparent-active: rgba(0, 0, 0, .08);
    --p-color-bg-fill-transparent-selected: rgba(0, 0, 0, .08);
    --p-color-bg-fill-transparent-secondary: rgba(0, 0, 0, .06);
    --p-color-bg-fill-transparent-secondary-hover: rgba(0, 0, 0, .08);
    --p-color-bg-fill-transparent-secondary-active: rgba(0, 0, 0, .11);
    --p-color-text: rgba(48, 48, 48, 1);
    --p-color-text-secondary: rgba(97, 97, 97, 1);
    --p-color-text-disabled: rgba(181, 181, 181, 1);
    --p-color-text-link: rgba(0, 91, 211, 1);
    --p-color-text-link-hover: rgba(0, 66, 153, 1);
    --p-color-text-link-active: rgba(0, 46, 106, 1);
    --p-color-text-brand: rgba(74, 74, 74, 1);
    --p-color-text-brand-hover: rgba(48, 48, 48, 1);
    --p-color-text-brand-on-bg-fill: rgba(255, 255, 255, 1);
    --p-color-text-brand-on-bg-fill-hover: rgba(227, 227, 227, 1);
    --p-color-text-brand-on-bg-fill-active: rgba(204, 204, 204, 1);
    --p-color-text-brand-on-bg-fill-disabled: rgba(255, 255, 255, 1);
    --p-color-text-info: rgba(0, 58, 90, 1);
    --p-color-text-info-hover: rgba(0, 58, 90, 1);
    --p-color-text-info-active: rgba(0, 33, 51, 1);
    --p-color-text-info-secondary: rgba(0, 124, 180, 1);
    --p-color-text-info-on-bg-fill: rgba(0, 33, 51, 1);
    --p-color-text-success: rgba(12, 81, 50, 1);
    --p-color-text-success-hover: rgba(8, 61, 37, 1);
    --p-color-text-success-active: rgba(9, 42, 27, 1);
    --p-color-text-success-secondary: rgba(41, 132, 90, 1);
    --p-color-text-success-on-bg-fill: rgba(248, 255, 251, 1);
    --p-color-text-caution: rgba(79, 71, 0, 1);
    --p-color-text-caution-hover: rgba(51, 46, 0, 1);
    --p-color-text-caution-active: rgba(31, 28, 0, 1);
    --p-color-text-caution-secondary: rgba(130, 117, 0, 1);
    --p-color-text-caution-on-bg-fill: rgba(51, 46, 0, 1);
    --p-color-text-warning: rgba(94, 66, 0, 1);
    --p-color-text-warning-hover: rgba(65, 45, 0, 1);
    --p-color-text-warning-active: rgba(37, 26, 0, 1);
    --p-color-text-warning-secondary: rgba(149, 111, 0, 1);
    --p-color-text-warning-on-bg-fill: rgba(37, 26, 0, 1);
    --p-color-text-critical: rgba(142, 31, 11, 1);
    --p-color-text-critical-hover: rgba(95, 21, 7, 1);
    --p-color-text-critical-active: rgba(47, 10, 4, 1);
    --p-color-text-critical-secondary: rgba(229, 28, 0, 1);
    --p-color-text-critical-on-bg-fill: rgba(255, 251, 251, 1);
    --p-color-text-emphasis: rgba(0, 91, 211, 1);
    --p-color-text-emphasis-hover: rgba(0, 66, 153, 1);
    --p-color-text-emphasis-active: rgba(0, 46, 106, 1);
    --p-color-text-emphasis-on-bg-fill: rgba(252, 253, 255, 1);
    --p-color-text-emphasis-on-bg-fill-hover: rgba(226, 231, 255, 1);
    --p-color-text-emphasis-on-bg-fill-active: rgba(213, 220, 255, 1);
    --p-color-text-magic: rgba(87, 0, 209, 1);
    --p-color-text-magic-secondary: rgba(113, 38, 255, 1);
    --p-color-text-magic-on-bg-fill: rgba(253, 253, 255, 1);
    --p-color-text-inverse: rgba(227, 227, 227, 1);
    --p-color-text-inverse-secondary: rgba(181, 181, 181, 1);
    --p-color-text-link-inverse: rgba(197, 208, 255, 1);
    --p-color-border: rgba(227, 227, 227, 1);
    --p-color-border-hover: rgba(204, 204, 204, 1);
    --p-color-border-disabled: rgba(235, 235, 235, 1);
    --p-color-border-secondary: rgba(235, 235, 235, 1);
    --p-color-border-tertiary: rgba(204, 204, 204, 1);
    --p-color-border-focus: rgba(0, 91, 211, 1);
    --p-color-border-brand: rgba(227, 227, 227, 1);
    --p-color-border-info: rgba(168, 216, 255, 1);
    --p-color-border-success: rgba(146, 254, 194, 1);
    --p-color-border-caution: rgba(255, 235, 120, 1);
    --p-color-border-warning: rgba(255, 200, 121, 1);
    --p-color-border-critical: rgba(254, 195, 193, 1);
    --p-color-border-critical-secondary: rgba(142, 31, 11, 1);
    --p-color-border-emphasis: rgba(0, 91, 211, 1);
    --p-color-border-emphasis-hover: rgba(0, 66, 153, 1);
    --p-color-border-emphasis-active: rgba(0, 46, 106, 1);
    --p-color-border-magic: rgba(228, 222, 255, 1);
    --p-color-border-magic-secondary: rgba(148, 116, 255, 1);
    --p-color-border-magic-secondary-hover: rgba(128, 81, 255, 1);
    --p-color-border-inverse: rgba(97, 97, 97, 1);
    --p-color-border-inverse-hover: rgba(204, 204, 204, 1);
    --p-color-border-inverse-active: rgba(227, 227, 227, 1);
    --p-color-tooltip-tail-down-border-experimental: rgba(212, 212, 212, 1);
    --p-color-tooltip-tail-up-border-experimental: rgba(227, 227, 227, 1);
    --p-color-border-gradient-experimental: linear-gradient(to bottom, rgba(235, 235, 235, 1), rgba(204, 204, 204, 1) 78%, rgba(181, 181, 181, 1));
    --p-color-border-gradient-hover-experimental: linear-gradient(to bottom, rgba(235, 235, 235, 1), rgba(204, 204, 204, 1) 78%, rgba(181, 181, 181, 1));
    --p-color-border-gradient-selected-experimental: linear-gradient(to bottom, rgba(235, 235, 235, 1), rgba(204, 204, 204, 1) 78%, rgba(181, 181, 181, 1));
    --p-color-border-gradient-active-experimental: linear-gradient(to bottom, rgba(235, 235, 235, 1), rgba(204, 204, 204, 1) 78%, rgba(181, 181, 181, 1));
    --p-color-icon: rgba(74, 74, 74, 1);
    --p-color-icon-hover: rgba(48, 48, 48, 1);
    --p-color-icon-active: rgba(26, 26, 26, 1);
    --p-color-icon-disabled: rgba(204, 204, 204, 1);
    --p-color-icon-secondary: rgba(138, 138, 138, 1);
    --p-color-icon-secondary-hover: rgba(97, 97, 97, 1);
    --p-color-icon-secondary-active: rgba(74, 74, 74, 1);
    --p-color-icon-brand: rgba(26, 26, 26, 1);
    --p-color-icon-info: rgba(0, 148, 213, 1);
    --p-color-icon-success: rgba(41, 132, 90, 1);
    --p-color-icon-caution: rgba(153, 138, 0, 1);
    --p-color-icon-warning: rgba(178, 132, 0, 1);
    --p-color-icon-critical: rgba(239, 77, 47, 1);
    --p-color-icon-emphasis: rgba(0, 91, 211, 1);
    --p-color-icon-emphasis-hover: rgba(0, 66, 153, 1);
    --p-color-icon-emphasis-active: rgba(0, 46, 106, 1);
    --p-color-icon-magic: rgba(128, 81, 255, 1);
    --p-color-icon-inverse: rgba(227, 227, 227, 1);
    --p-color-avatar-bg-fill: rgba(181, 181, 181, 1);
    --p-color-avatar-five-bg-fill: rgba(253, 75, 146, 1);
    --p-color-avatar-five-text-on-bg-fill: rgba(255, 246, 248, 1);
    --p-color-avatar-four-bg-fill: rgba(81, 192, 255, 1);
    --p-color-avatar-four-text-on-bg-fill: rgba(0, 33, 51, 1);
    --p-color-avatar-one-bg-fill: rgba(197, 48, 197, 1);
    --p-color-avatar-one-text-on-bg-fill: rgba(253, 239, 253, 1);
    --p-color-avatar-seven-bg-fill: rgba(148, 116, 255, 1);
    --p-color-avatar-seven-text-on-bg-fill: rgba(248, 247, 255, 1);
    --p-color-avatar-six-bg-fill: rgba(37, 232, 43, 1);
    --p-color-avatar-six-text-on-bg-fill: rgba(3, 61, 5, 1);
    --p-color-avatar-text-on-bg-fill: rgba(255, 255, 255, 1);
    --p-color-avatar-three-bg-fill: rgba(44, 224, 212, 1);
    --p-color-avatar-three-text-on-bg-fill: rgba(3, 60, 57, 1);
    --p-color-avatar-two-bg-fill: rgba(56, 250, 163, 1);
    --p-color-avatar-two-text-on-bg-fill: rgba(12, 81, 50, 1);
    --p-color-backdrop-bg: rgba(0, 0, 0, .71);
    --p-color-button-gradient-bg-fill: linear-gradient(180deg, rgba(48, 48, 48, 0) 63.53%, rgba(255, 255, 255, .15) 100%);
    --p-color-button-gradient-bg-fill-selected-experimental: linear-gradient(180deg, rgba(48, 48, 48, 0) 63.53%, rgba(255, 255, 255, .15) 100%);
    --p-color-button-gradient-bg-fill-active-experimental: linear-gradient(180deg, rgba(48, 48, 48, 0) 63.53%, rgba(255, 255, 255, .15) 100%);
    --p-color-checkbox-bg-surface-disabled: rgba(0, 0, 0, .08);
    --p-color-checkbox-icon-disabled: rgba(255, 255, 255, 1);
    --p-color-input-bg-surface: rgba(253, 253, 253, 1);
    --p-color-input-bg-surface-hover: rgba(250, 250, 250, 1);
    --p-color-input-bg-surface-active: rgba(247, 247, 247, 1);
    --p-color-input-border: rgba(138, 138, 138, 1);
    --p-color-input-border-hover: rgba(97, 97, 97, 1);
    --p-color-input-border-active: rgba(26, 26, 26, 1);
    --p-color-nav-bg: rgba(235, 235, 235, 1);
    --p-color-nav-bg-surface: rgba(0, 0, 0, .02);
    --p-color-nav-bg-surface-hover: rgba(241, 241, 241, 1);
    --p-color-nav-bg-surface-active: rgba(250, 250, 250, 1);
    --p-color-nav-bg-surface-selected: rgba(250, 250, 250, 1);
    --p-color-radio-button-bg-surface-disabled: rgba(0, 0, 0, .08);
    --p-color-radio-button-icon-disabled: rgba(255, 255, 255, 1);
    --p-color-video-thumbnail-play-button-bg-fill-hover: rgba(0, 0, 0, .81);
    --p-color-video-thumbnail-play-button-bg-fill: rgba(0, 0, 0, .71);
    --p-color-video-thumbnail-play-button-text-on-bg-fill: rgba(255, 255, 255, 1);
    --p-color-scrollbar-thumb-bg-hover: rgba(138, 138, 138, 1);
    --p-color-scrollbar-thumb-bg: rgba(181, 181, 181, 1);
    --p-font-family-sans: "Inter", -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    --p-font-family-mono: ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo, monospace;
    --p-font-size-275: .6875rem;
    --p-font-size-300: .75rem;
    --p-font-size-325: .8125rem;
    --p-font-size-350: .875rem;
    --p-font-size-400: 1rem;
    --p-font-size-450: 1.125rem;
    --p-font-size-500: 1.25rem;
    --p-font-size-550: 1.375rem;
    --p-font-size-600: 1.5rem;
    --p-font-size-750: 1.875rem;
    --p-font-size-800: 2rem;
    --p-font-size-900: 2.25rem;
    --p-font-size-1000: 2.5rem;
    --p-font-weight-regular: 450;
    --p-font-weight-medium: 550;
    --p-font-weight-semibold: 650;
    --p-font-weight-bold: 700;
    --p-font-letter-spacing-densest: -.03375rem;
    --p-font-letter-spacing-denser: -.01875rem;
    --p-font-letter-spacing-dense: -.0125rem;
    --p-font-letter-spacing-normal: 0rem;
    --p-font-line-height-300: .75rem;
    --p-font-line-height-400: 1rem;
    --p-font-line-height-500: 1.25rem;
    --p-font-line-height-600: 1.5rem;
    --p-font-line-height-700: 1.75rem;
    --p-font-line-height-800: 2rem;
    --p-font-line-height-1000: 2.5rem;
    --p-font-line-height-1200: 3rem;
    --p-height-0: 0rem;
    --p-height-025: .0625rem;
    --p-height-050: .125rem;
    --p-height-100: .25rem;
    --p-height-150: .375rem;
    --p-height-200: .5rem;
    --p-height-300: .75rem;
    --p-height-400: 1rem;
    --p-height-500: 1.25rem;
    --p-height-600: 1.5rem;
    --p-height-700: 1.75rem;
    --p-height-800: 2rem;
    --p-height-900: 2.25rem;
    --p-height-1000: 2.5rem;
    --p-height-1200: 3rem;
    --p-height-1600: 4rem;
    --p-height-2000: 5rem;
    --p-height-2400: 6rem;
    --p-height-2800: 7rem;
    --p-height-3200: 8rem;
    --p-motion-duration-0: 0ms;
    --p-motion-duration-50: 50ms;
    --p-motion-duration-100: .1s;
    --p-motion-duration-150: .15s;
    --p-motion-duration-200: .2s;
    --p-motion-duration-250: .25s;
    --p-motion-duration-300: .3s;
    --p-motion-duration-350: .35s;
    --p-motion-duration-400: .4s;
    --p-motion-duration-450: .45s;
    --p-motion-duration-500: .5s;
    --p-motion-duration-5000: 5s;
    --p-motion-ease: cubic-bezier(.25, .1, .25, 1);
    --p-motion-ease-in: cubic-bezier(.42, 0, 1, 1);
    --p-motion-ease-out: cubic-bezier(.19, .91, .38, 1);
    --p-motion-ease-in-out: cubic-bezier(.42, 0, .58, 1);
    --p-motion-linear: cubic-bezier(0, 0, 1, 1);
    --p-motion-keyframes-bounce: p-motion-keyframes-bounce;
    --p-motion-keyframes-fade-in: p-motion-keyframes-fade-in;
    --p-motion-keyframes-pulse: p-motion-keyframes-pulse;
    --p-motion-keyframes-spin: p-motion-keyframes-spin;
    --p-motion-keyframes-appear-above: p-motion-keyframes-appear-above;
    --p-motion-keyframes-appear-below: p-motion-keyframes-appear-below;
    --p-shadow-0: none;
    --p-shadow-100: 0rem .0625rem 0rem 0rem rgba(26, 26, 26, .07);
    --p-shadow-200: 0rem .1875rem .0625rem -.0625rem rgba(26, 26, 26, .07);
    --p-shadow-300: 0rem .25rem .375rem -.125rem rgba(26, 26, 26, .2);
    --p-shadow-400: 0rem .5rem 1rem -.25rem rgba(26, 26, 26, .22);
    --p-shadow-500: 0rem .75rem 1.25rem -.5rem rgba(26, 26, 26, .24);
    --p-shadow-600: 0rem 1.25rem 1.25rem -.5rem rgba(26, 26, 26, .28);
    --p-shadow-bevel-100: .0625rem 0rem 0rem 0rem rgba(0, 0, 0, .13) inset, -.0625rem 0rem 0rem 0rem rgba(0, 0, 0, .13) inset, 0rem -.0625rem 0rem 0rem rgba(0, 0, 0, .17) inset, 0rem .0625rem 0rem 0rem rgba(204, 204, 204, .5) inset;
    --p-shadow-inset-100: 0rem .0625rem .125rem 0rem rgba(26, 26, 26, .15) inset, 0rem .0625rem .0625rem 0rem rgba(26, 26, 26, .15) inset;
    --p-shadow-inset-200: 0rem .125rem .0625rem 0rem rgba(26, 26, 26, .2) inset, .0625rem 0rem .0625rem 0rem rgba(26, 26, 26, .12) inset, -.0625rem 0rem .0625rem 0rem rgba(26, 26, 26, .12) inset;
    --p-shadow-button: 0rem -.0625rem 0rem 0rem #b5b5b5 inset, 0rem 0rem 0rem .0625rem rgba(0, 0, 0, .1) inset, 0rem .03125rem 0rem .09375rem #FFF inset;
    --p-shadow-button-hover: 0rem .0625rem 0rem 0rem #EBEBEB inset, -.0625rem 0rem 0rem 0rem #EBEBEB inset, .0625rem 0rem 0rem 0rem #EBEBEB inset, 0rem -.0625rem 0rem 0rem #CCC inset;
    --p-shadow-button-inset: -.0625rem 0rem .0625rem 0rem rgba(26, 26, 26, .122) inset, .0625rem 0rem .0625rem 0rem rgba(26, 26, 26, .122) inset, 0rem .125rem .0625rem 0rem rgba(26, 26, 26, .2) inset;
    --p-shadow-button-primary: 0rem -.0625rem 0rem .0625rem rgba(0, 0, 0, .8) inset, 0rem 0rem 0rem .0625rem rgba(48, 48, 48, 1) inset, 0rem .03125rem 0rem .09375rem rgba(255, 255, 255, .25) inset;
    --p-shadow-button-primary-hover: 0rem .0625rem 0rem 0rem rgba(255, 255, 255, .24) inset, .0625rem 0rem 0rem 0rem rgba(255, 255, 255, .2) inset, -.0625rem 0rem 0rem 0rem rgba(255, 255, 255, .2) inset, 0rem -.0625rem 0rem 0rem #000 inset, 0rem -.0625rem 0rem .0625rem #1A1A1A;
    --p-shadow-button-primary-inset: 0rem .1875rem 0rem 0rem rgb(0, 0, 0) inset;
    --p-shadow-button-primary-critical: 0rem -.0625rem 0rem .0625rem rgba(142, 31, 11, .8) inset, 0rem 0rem 0rem .0625rem rgba(181, 38, 11, .8) inset, 0rem .03125rem 0rem .09375rem rgba(255, 255, 255, .349) inset;
    --p-shadow-button-primary-critical-hover: 0rem .0625rem 0rem 0rem rgba(255, 255, 255, .48) inset, .0625rem 0rem 0rem 0rem rgba(255, 255, 255, .2) inset, -.0625rem 0rem 0rem 0rem rgba(255, 255, 255, .2) inset, 0rem -.09375rem 0rem 0rem rgba(0, 0, 0, .25) inset;
    --p-shadow-button-primary-critical-inset: -.0625rem 0rem .0625rem 0rem rgba(0, 0, 0, .2) inset, .0625rem 0rem .0625rem 0rem rgba(0, 0, 0, .2) inset, 0rem .125rem 0rem 0rem rgba(0, 0, 0, .6) inset;
    --p-shadow-button-primary-success: 0rem -.0625rem 0rem .0625rem rgba(12, 81, 50, .8) inset, 0rem 0rem 0rem .0625rem rgba(19, 111, 69, .8) inset, 0rem .03125rem 0rem .09375rem rgba(255, 255, 255, .251) inset;
    --p-shadow-button-primary-success-hover: 0rem .0625rem 0rem 0rem rgba(255, 255, 255, .48) inset, .0625rem 0rem 0rem 0rem rgba(255, 255, 255, .2) inset, -.0625rem 0rem 0rem 0rem rgba(255, 255, 255, .2) inset, 0rem -.09375rem 0rem 0rem rgba(0, 0, 0, .25) inset;
    --p-shadow-button-primary-success-inset: -.0625rem 0rem .0625rem 0rem rgba(0, 0, 0, .2) inset, .0625rem 0rem .0625rem 0rem rgba(0, 0, 0, .2) inset, 0rem .125rem 0rem 0rem rgba(0, 0, 0, .6) inset;
    --p-shadow-border-inset: 0rem 0rem 0rem .0625rem rgba(0, 0, 0, .08) inset;
    --p-space-0: 0rem;
    --p-space-025: .0625rem;
    --p-space-050: .125rem;
    --p-space-100: .25rem;
    --p-space-150: .375rem;
    --p-space-200: .5rem;
    --p-space-300: .75rem;
    --p-space-400: 1rem;
    --p-space-500: 1.25rem;
    --p-space-600: 1.5rem;
    --p-space-800: 2rem;
    --p-space-1000: 2.5rem;
    --p-space-1200: 3rem;
    --p-space-1600: 4rem;
    --p-space-2000: 5rem;
    --p-space-2400: 6rem;
    --p-space-2800: 7rem;
    --p-space-3200: 8rem;
    --p-space-button-group-gap: var(--p-space-200);
    --p-space-card-gap: var(--p-space-400);
    --p-space-card-padding: var(--p-space-400);
    --p-space-table-cell-padding: var(--p-space-150);
    --p-text-heading-3xl-font-family: var(--p-font-family-sans);
    --p-text-heading-3xl-font-size: var(--p-font-size-900);
    --p-text-heading-3xl-font-weight: var(--p-font-weight-bold);
    --p-text-heading-3xl-font-letter-spacing: var(--p-font-letter-spacing-densest);
    --p-text-heading-3xl-font-line-height: var(--p-font-line-height-1200);
    --p-text-heading-2xl-font-family: var(--p-font-family-sans);
    --p-text-heading-2xl-font-size: var(--p-font-size-750);
    --p-text-heading-2xl-font-weight: var(--p-font-weight-bold);
    --p-text-heading-2xl-font-letter-spacing: var(--p-font-letter-spacing-denser);
    --p-text-heading-2xl-font-line-height: var(--p-font-line-height-1000);
    --p-text-heading-xl-font-family: var(--p-font-family-sans);
    --p-text-heading-xl-font-size: var(--p-font-size-600);
    --p-text-heading-xl-font-weight: var(--p-font-weight-bold);
    --p-text-heading-xl-font-letter-spacing: var(--p-font-letter-spacing-dense);
    --p-text-heading-xl-font-line-height: var(--p-font-line-height-800);
    --p-text-heading-lg-font-family: var(--p-font-family-sans);
    --p-text-heading-lg-font-size: var(--p-font-size-500);
    --p-text-heading-lg-font-weight: var(--p-font-weight-semibold);
    --p-text-heading-lg-font-letter-spacing: var(--p-font-letter-spacing-dense);
    --p-text-heading-lg-font-line-height: var(--p-font-line-height-600);
    --p-text-heading-md-font-family: var(--p-font-family-sans);
    --p-text-heading-md-font-size: var(--p-font-size-350);
    --p-text-heading-md-font-weight: var(--p-font-weight-semibold);
    --p-text-heading-md-font-letter-spacing: var(--p-font-letter-spacing-normal);
    --p-text-heading-md-font-line-height: var(--p-font-line-height-500);
    --p-text-heading-sm-font-family: var(--p-font-family-sans);
    --p-text-heading-sm-font-size: var(--p-font-size-325);
    --p-text-heading-sm-font-weight: var(--p-font-weight-semibold);
    --p-text-heading-sm-font-letter-spacing: var(--p-font-letter-spacing-normal);
    --p-text-heading-sm-font-line-height: var(--p-font-line-height-500);
    --p-text-heading-xs-font-family: var(--p-font-family-sans);
    --p-text-heading-xs-font-size: var(--p-font-size-300);
    --p-text-heading-xs-font-weight: var(--p-font-weight-semibold);
    --p-text-heading-xs-font-letter-spacing: var(--p-font-letter-spacing-normal);
    --p-text-heading-xs-font-line-height: var(--p-font-line-height-400);
    --p-text-body-lg-font-family: var(--p-font-family-sans);
    --p-text-body-lg-font-size: var(--p-font-size-350);
    --p-text-body-lg-font-weight: var(--p-font-weight-regular);
    --p-text-body-lg-font-letter-spacing: var(--p-font-letter-spacing-normal);
    --p-text-body-lg-font-line-height: var(--p-font-line-height-500);
    --p-text-body-md-font-family: var(--p-font-family-sans);
    --p-text-body-md-font-size: var(--p-font-size-325);
    --p-text-body-md-font-weight: var(--p-font-weight-regular);
    --p-text-body-md-font-letter-spacing: var(--p-font-letter-spacing-normal);
    --p-text-body-md-font-line-height: var(--p-font-line-height-500);
    --p-text-body-sm-font-family: var(--p-font-family-sans);
    --p-text-body-sm-font-size: var(--p-font-size-300);
    --p-text-body-sm-font-weight: var(--p-font-weight-regular);
    --p-text-body-sm-font-letter-spacing: var(--p-font-letter-spacing-normal);
    --p-text-body-sm-font-line-height: var(--p-font-line-height-400);
    --p-text-body-xs-font-family: var(--p-font-family-sans);
    --p-text-body-xs-font-size: var(--p-font-size-275);
    --p-text-body-xs-font-weight: var(--p-font-weight-regular);
    --p-text-body-xs-font-letter-spacing: var(--p-font-letter-spacing-normal);
    --p-text-body-xs-font-line-height: var(--p-font-line-height-300);
    --p-width-0: 0rem;
    --p-width-025: .0625rem;
    --p-width-050: .125rem;
    --p-width-100: .25rem;
    --p-width-150: .375rem;
    --p-width-200: .5rem;
    --p-width-300: .75rem;
    --p-width-400: 1rem;
    --p-width-500: 1.25rem;
    --p-width-600: 1.5rem;
    --p-width-700: 1.75rem;
    --p-width-800: 2rem;
    --p-width-900: 2.25rem;
    --p-width-1000: 2.5rem;
    --p-width-1200: 3rem;
    --p-width-1600: 4rem;
    --p-width-2000: 5rem;
    --p-width-2400: 6rem;
    --p-width-2800: 7rem;
    --p-width-3200: 8rem;
    --p-z-index-0: auto;
    --p-z-index-1: 100;
    --p-z-index-2: 400;
    --p-z-index-3: 510;
    --p-z-index-4: 512;
    --p-z-index-5: 513;
    --p-z-index-6: 514;
    --p-z-index-7: 515;
    --p-z-index-8: 516;
    --p-z-index-9: 517;
    --p-z-index-10: 518;
    --p-z-index-11: 519;
    --p-z-index-12: 520;
}
html {
    position: relative;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
    scrollbar-color: var(--p-color-bg) var(--p-color-bg);
    transition: scrollbar-color var(--p-motion-duration-100) var(--p-motion-ease-in);
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
<style>
.ͼ4 .cm-line ::selection {
    background-color: transparent !important;
}
<div class="Polaris-LegacyCard__Section Polaris-LegacyCard__FirstSectionPadding Polaris-LegacyCard__LastSectionPadding"><div class="Polaris-LegacyCard__Section"><div class="Polaris-LegacyStack Polaris-LegacyStack--vertical"><div class="Polaris-LegacyStack__Item"><div class="Polaris-Labelled--inside"><div class="Polaris-Labelled__LabelWrapper Polaris-Labelled--insideWrapper Polaris-Labelled--animated"><div class="Polaris-Label"><label id=":r8g:Label" for=":r8g:" class="Polaris-Label__Text"><span class="Polaris-Text--root Polaris-Text--bodyXs Polaris-Text--block Polaris-Text--subdued Polaris-Text--truncate">Email subject</span></label></div></div><div class="Polaris-Connected"><div class="Polaris-Connected__Item Polaris-Connected__Item--primary"><div class="Polaris-TextField Polaris-TextField--labelInside Polaris-TextField--hasValue"><input id=":r8g:" autocomplete="off" class="Polaris-TextField__Input" type="text" aria-labelledby=":r8g:Label" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="{%render 'admin-e-r.app%}"><div class="Polaris-TextField__Backdrop"></div></div></div></div></div><div style="margin-bottom: 10px;"></div><div class="Polaris-Label"><label id="labelLabel" for="label" class="Polaris-Label__Text"><span class="Polaris-Text--root Polaris-Text--bodyMd Polaris-Text--block Polaris-Text--truncate">Email body (HTML)</span></label></div><div style="height: 500px; border-radius: var(--p-border-radius-100); border-width: 0.0625rem; border-style: solid; border-color: var(--p-color-border-secondary); border-image: initial;"><div class="_Editor_1e2i7_5"><div class="cm-theme"><div class="cm-editor cm-focused ͼ1 ͼ2 ͼ4 ͼ8d ͼ16 cm-htmlMixed"><div aria-live="polite" style="position: absolute; top: -10000px;"></div><div tabindex="-1" class="cm-scroller"><div class="cm-gutters" aria-hidden="true" style="min-height: 231873px; position: sticky;"><div class="cm-gutter cm-lineNumbers"><div class="cm-gutterElement" style="height: 0px; visibility: hidden; pointer-events: none;">999</div><div class="cm-gutterElement" style="height: 71648.6px; margin-top: 227.984px;">10</div></div></div><div spellcheck="false" autocorrect="off" autocapitalize="off" translate="no" contenteditable="true" class="cm-content cm-lineWrapping" style="tab-size: 4;" role="textbox" aria-multiline="true"><div contenteditable="false" style="height: 223.984px;"></div><div class="cm-line"><img class="cm-widgetBuffer" aria-hidden="true"><div contenteditable="false" style="height: 5606.01px;"></div><img class="cm-widgetBuffer" aria-hidden="true">r data-mce-fragment="1"<span class="ͼ1d">&amp;gt;</span> <span class="ͼ1d">&amp;amp;</span>lt;meta charset="UTF-8"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;lt;</span>br data-mce-fragment="1"<span class="ͼ1d">&amp;gt;</span> <span class="ͼ1d">&amp;amp;</span>lt;div id="app"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;div class="GradientBackground__wrapper"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;div class="_Loading_sdgsn_4" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" aria-hidden="true" role="progressbar" aria-label="Page loading bar"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;div class="_Level_sdgsn_32" style="transform: scaleX(1); transition-duration: 500ms;"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/div<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/div<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;a href="#main" class="_SkipLink_1jpd1_4"<span class="ͼ1d">&amp;amp;</span>gt;Skip to content<span class="ͼ1d">&amp;amp;</span>lt;/a<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;div class="_CardContainer_1c4dx_10"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;header role="banner" class="_TopBar_1ue8d_4"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;div class="_TopBarInner_1ue8d_10"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;a class="_LogoLink_1ue8d_25" aria-label="" aria-current="page" href="" data-polaris-unstyled="true"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;img alt="" src="https://cloud/web/assets/v1/vite/client/en/assets/svg"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/a<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;div<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;div class="_ActivatorContainer_1ff0i_50"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;button type="button" class="_Activator_1ff0i_4" tabindex="0" aria-controls=":r0:" aria-owns=":r0:" aria-expanded="false" data-state="closed"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;span class="_Avatar_1ff0i_30"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;span aria-label="Enmanuel rivera de la rosa" role="img" class="Polaris-Avatar Polaris-Avatar--sizeXl"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;img alt="" src="https://assets.com/accounts/production/account/avatar(2)_250x250_crop_center" class="Polaris-Avatar__Image Polaris-Avatar--hidden" role="presentation"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/span<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/span<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/button<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/div<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/div<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/div<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/header<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;a href="#main" class="_SkipLink_1jpd1_4"<span class="ͼ1d">&amp;amp;</span>gt;Skip to content<span class="ͼ1d">&amp;amp;</span>lt;/a<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;main id="MerchantSpace" role="main" class="_Container_1c4dx_1"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;div id="main" class="_FocusReceiver_1c4dx_38" tabindex="-1"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;section class="_SurfaceArea_4zaak_46"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;div class="_SurfaceAreaInner_4zaak_63"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;div class="_StoresLayoutContainer_4zaak_36"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;div class="_StoresLayout_1pym6_1"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;header class="_StoresHeader_xl66o_1"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;h1 id="StoresHeading" class="_StoresHeading_xl66o_17"<span class="ͼ1d">&amp;amp;</span>gt;Welcome back, Enmanuel<span class="ͼ1d">&amp;amp;</span>lt;/h1<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;span class="_CreateStoreContainer_xl66o_29"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;button id="CreateStoreCta" class="Polaris-Button Polaris-Button--pressable Polaris-Button--variantPrimary Polaris-Button--sizeLarge Polaris-Button--textAlignCenter Polaris-Button--fullWidth Polaris-Button--iconWithText" type="button"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;span class="Polaris-Button__Icon"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;span class="Polaris-Icon"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;svg viewBox="1 1 18 18" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;path d="M10.75 5.75c0-.414-.336-.75-.75-.75s-.75.336-.75.75v3.5h-3.5c-.414 0-.75.336-.75.75s.336.75.75.75h3.5v3.5c0 .414.336.75.75.75s.75-.336.75-.75v-3.5h3.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-3.5v-3.5Z"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/path<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/svg<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/span<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/span<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--semibold Polaris-Text--break"<span class="ͼ1d">&amp;amp;</span>gt;Create store<span class="ͼ1d">&amp;amp;</span>lt;/span<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/button<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/span<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/header<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;div aria-busy="false" aria-live="polite"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;div class="_FiltersWrapper_1i15k_4"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/div<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;section class="_Section_o01ej_1 _FullHeight_o01ej_21" aria-labelledby="StoresHeading"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;ul class="_List_y1icz_4"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;li class="_StoreCardContainer_1qeyg_92"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;a href="/store/e3a39b-db?no_redirect=true" class="_StoreCard_1qeyg_4"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;div class="_StoreMeta_1qeyg_109"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;span class="_StoreIcon_1qeyg_39"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;span aria-label="Enma_StylishFurniture" role="img" class="Polaris-Avatar Polaris-Avatar--sizeXl"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;img alt="" src="https://s/files/1/" class="Polaris-Avatar__Image Polaris-Avatar--hidden" role="presentation"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/span<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/span<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;div class="_StoreDetails_1qeyg_53"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;h6 class="Polaris-Text--root Polaris-Text--headingSm Polaris-Text--break"<span class="ͼ1d">&amp;amp;</span>gt;Enma_StylishFurniture<span class="ͼ1d">&amp;amp;</span>lt;/h6<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;span class="_Caption_1qeyg_75" aria-hidden="true"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;p class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--break"<span class="ͼ1d">&amp;amp;</span>gt;e3a39b-db<span class="ͼ1d">&amp;amp;</span>lt;/p<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/span<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/div<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;div class="_StoreArrow_1qeyg_131"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;span class="Polaris-Icon"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;svg viewBox="1 1 18 18" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;path fill-rule="evenodd" d="M7.72 14.53a.75.75 0 0 1 0-1.06l3.47-3.47-3.47-3.47a.75.75 0 0 1 1.06-1.06l4 4a.75.75 0 0 1 0 1.06l-4 4a.75.75 0 0 1-1.06 0Z"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/path<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/svg<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/span<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/div<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/div<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/a<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/li<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/ul<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/section<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/div<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--break Polaris-Text--visuallyHidden"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;span aria-live="assertive" aria-hidden="true"<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/span<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/span<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/div<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/div<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/div<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/section<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/div<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>lt;/main<span class="ͼ1d">&amp;amp;</span>gt;<span class="ͼ1d">&amp;amp;</span>l<img class="cm-widgetBuffer" aria-hidden="true"><div contenteditable="false" style="height: 61831.6px;"></div><img class="cm-widgetBuffer" aria-hidden="true"></div><div contenteditable="false" style="height: 159992px;"></div></div><div class="cm-selectionLayer" aria-hidden="true"></div><div class="cm-cursorLayer" aria-hidden="true" style="animation-duration: 1200ms; animation-name: cm-blink;"><div class="cm-cursor cm-cursor-primary" style="left: 224.922px; top: 7537.77px; height: 19px;"></div></div></div></div></div></div></div></div></div></div><div class="Polaris-LegacyCard__Section"><button class="Polaris-Button Polaris-Button--pressable Polaris-Button--variantSecondary Polaris-Button--sizeMedium Polaris-Button--textAlignCenter" aria-label="Revert changes button" aria-disabled="false" type="button"><span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Revert and default</span></button></div></div>
<table data-mce-fragment="1" width="100%">button id="CreateStoreCta" class="Polaris-Button Polaris-Button--pressable Polaris-Button--variantPrimary Polaris-Button--sizeLarge Polaris-Button--textAlignCenter Polaris-Button--fullWidth Polaris-Button--iconWithText" type="button"
<tbody data-mce-fragment="1">
<tr data-mce-fragment="1">
<td data-mce-fragment="1">&nbsp;
<table data-mce-fragment="1" width="100%">
<tbody data-mce-fragment="1">
<tr data-mce-fragment="1">
<td data-mce-fragment="1">
<p>&nbsp;.collections-column .block-grid {<br data-mce-fragment="1"> display: flex;<br data-mce-fragment="1"> justify-content: center;<br data-mce-fragment="1"> margin: 0 -10px;<br data-mce-fragment="1">}<br data-mce-fragment="1">.collections-column .alpha-block, <br data-mce-fragment="1">.collections-column .beta-block {<br data-mce-fragment="1"> max-width: 33.33%;<br data-mce-fragment="1"> width: 33.33%;<br data-mce-fragment="1"> padding: 0 10px;<br data-mce-fragment="1">}<br data-mce-fragment="1">.collections-column .alpha-block.with-half, <br data-mce-fragment="1">.collections-column .beta-block.with-half {<br data-mce-fragment="1"> max-width: 50%;<br data-mce-fragment="1"> width: 50%;<br data-mce-fragment="1">}<br data-mce-fragment="1">.collections-column .title {<br data-mce-fragment="1"> font-size: 24px;<br data-mce-fragment="1"> text-align: center;<br data-mce-fragment="1"> font-weight: 700;<br data-mce-fragment="1"> letter-spacing: 0;<br data-mce-fragment="1"> line-height: 1.3;<br data-mce-fragment="1"> max-width: 200px;<br data-mce-fragment="1"> margin: 0 auto;<br data-mce-fragment="1"> margin-bottom: 8px !important;<br data-mce-fragment="1">}<br data-mce-fragment="1">.collections-column .with-half .alpha-wrapper {<br data-mce-fragment="1"> padding: 56px 24px;<br data-mce-fragment="1">}<br data-mce-fragment="1">.collections-column .with-half .title {<br data-mce-fragment="1"> max-width: 320px;<br data-mce-fragment="1"> margin-bottom: 24px !important;<br data-mce-fragment="1">}<br data-mce-fragment="1">.collections-column .with-half .button-wrapper {<br data-mce-fragment="1"> margin-top: 24px;<br data-mce-fragment="1">}<br data-mce-fragment="1">.collections-column .image {<br data-mce-fragment="1"> max-width: 200px;<br data-mce-fragment="1"> margin: 0 auto;<br data-mce-fragment="1">}<br data-mce-fragment="1">.collections-column .button-wrapper {<br data-mce-fragment="1"> text-align: center;<br data-mce-fragment="1"> margin-top: 8px;<br data-mce-fragment="1">}<br data-mce-fragment="1">.collections-column .alpha-wrapper {<br data-mce-fragment="1"> background-position: center;<br data-mce-fragment="1"> background-repeat: no-repeat;<br data-mce-fragment="1"> background-size: cover;<br data-mce-fragment="1">}<br data-mce-fragment="1">.collections-column .alpha-wrapper {<br data-mce-fragment="1"> padding: 24px;<br data-mce-fragment="1"> display: flex;<br data-mce-fragment="1"> align-items: center;<br data-mce-fragment="1"> height: 100%;<br data-mce-fragment="1"> justify-content: center;<br data-mce-fragment="1">}<br data-mce-fragment="1">.collections-column .beta-wrapper {<br data-mce-fragment="1"> display: flex;<br data-mce-fragment="1"> align-items: center;<br data-mce-fragment="1"> justify-content: center;<br data-mce-fragment="1"> height: 100%;<br data-mce-fragment="1"> padding: 24px;<br data-mce-fragment="1">}<br data-mce-fragment="1">.collections-column .beta-wrapper .title {<br data-mce-fragment="1"> font-size: 40px;<br data-mce-fragment="1">}<br data-mce-fragment="1">.collections-column .caption {<br data-mce-fragment="1"> font-size: 16px;<br data-mce-fragment="1"> text-align: center;<br data-mce-fragment="1"> font-weight: 700;<br data-mce-fragment="1"> text-transform: uppercase;<br data-mce-fragment="1"> margin-bottom: 8px;<br data-mce-fragment="1">}<br data-mce-fragment="1">.collections-column .pre-title {<br data-mce-fragment="1"> font-size: 20px;<br data-mce-fragment="1"> text-align: center;<br data-mce-fragment="1"> max-width: 200px;<br data-mce-fragment="1"> margin: 0 auto;<br data-mce-fragment="1"> margin-bottom: 8px;<br data-mce-fragment="1"> line-height: 1.6;<br data-mce-fragment="1"> font-weight: 700;<br data-mce-fragment="1">}<br data-mce-fragment="1"><br data-mce-fragment="1">@media screen and (max-width:990px){<br data-mce-fragment="1"> .collections-column .alpha-wrapper {<br data-mce-fragment="1"> padding: 15px;<br data-mce-fragment="1"> }<br data-mce-fragment="1"> .collections-column .beta-wrapper {<br data-mce-fragment="1"> padding: 15px;<br data-mce-fragment="1"> }<br data-mce-fragment="1"> .collections-column .alpha-block, <br data-mce-fragment="1"> .collections-column .beta-block {<br data-mce-fragment="1"> padding: 0 5px;<br data-mce-fragment="1"> }<br data-mce-fragment="1"> .collections-column .block-grid {<br data-mce-fragment="1"> margin: 0 -5px;<br data-mce-fragment="1"> }<br data-mce-fragment="1">}<br data-mce-fragment="1">@media screen and (max-width:768px){<br data-mce-fragment="1"> .collections-column .block-grid {<br data-mce-fragment="1"> margin: 0;<br data-mce-fragment="1"> display: block;<br data-mce-fragment="1"> }<br data-mce-fragment="1"> .collections-column .alpha-block, .collections-column .beta-block {<br data-mce-fragment="1"> max-width:100%;<br data-mce-fragment="1"> width:100%;<br data-mce-fragment="1"> padding: 0;<br data-mce-fragment="1"> margin-bottom: 20px;<br data-mce-fragment="1"> }<br data-mce-fragment="1"> .collections-column .alpha-block:last-child, .collections-column .beta-block:last-child {<br data-mce-fragment="1"> margin-bottom: 0px;<br data-mce-fragment="1"> }<br data-mce-fragment="1"> .collections-column .beta-wrapper {<br data-mce-fragment="1"> padding: 24px;<br data-mce-fragment="1"> }<br data-mce-fragment="1"> .collections-column .alpha-wrapper {<br data-mce-fragment="1"> padding: 15px;<br data-mce-fragment="1"> }<br data-mce-fragment="1"> .collections-column .alpha-block.with-half, <br data-mce-fragment="1"> .collections-column .beta-block.with-half {<br data-mce-fragment="1"> max-width: 100%;<br data-mce-fragment="1"> width: 100%;<br data-mce-fragment="1"> }<br data-mce-fragment="1"> .collections-column .with-half .alpha-wrapper {<br data-mce-fragment="1"> padding: 24px 24px;<br data-mce-fragment="1"> }<br data-mce-fragment="1"> .collections-column .with-half .title {<br data-mce-fragment="1"> max-width: 320px;<br data-mce-fragment="1"> margin-bottom: 8px !important;<br data-mce-fragment="1"> }<br data-mce-fragment="1"> .collections-column .with-half .button-wrapper {<br data-mce-fragment="1"> margin-top: 8px;<br data-mce-fragment="1"> }<br data-mce-fragment="1">}</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
.collections-column .block-grid {
display: flex;
justify-content: center;
margin: 0 -10px;
}
.collections-column .alpha-block,
.collections-column .beta-block {
max-width: 33.33%;
width: 33.33%;
padding: 0 10px;
}
.collections-column .alpha-block.with-half,
.collections-column .beta-block.with-half {
max-width: 50%;
width: 50%;
}
.collections-column .title {
font-size: 24px;
text-align: center;
font-weight: 700;
letter-spacing: 0;
line-height: 1.3;
max-width: 200px;
margin: 0 auto;
margin-bottom: 8px !important;
}
.collections-column .with-half .alpha-wrapper {
padding: 56px 24px;
}
.collections-column .with-half .title {
max-width: 320px;
margin-bottom: 24px !important;
}
.collections-column .with-half .button-wrapper {
margin-top: 24px;
}
.collections-column .image {
max-width: 200px;
margin: 0 auto;
}
.collections-column .button-wrapper {
text-align: center;
margin-top: 8px;
}
.collections-column .alpha-wrapper {
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.collections-column .alpha-wrapper {
padding: 24px;
display: flex;
align-items: center;
height: 100%;
justify-content: center;
}
.collections-column .beta-wrapper {
display: flex;
align-items: center;
justify-content: center;
height: 100%;
padding: 24px;
}
.collections-column .beta-wrapper .title {
font-size: 40px;
}
.collections-column .caption {
font-size: 16px;
text-align: center;
font-weight: 700;
text-transform: uppercase;
margin-bottom: 8px;
}
.collections-column .pre-title {
font-size: 20px;
text-align: center;
max-width: 200px;
margin: 0 auto;
margin-bottom: 8px;
line-height: 1.6;
font-weight: 700;
}

@media screen and (max-width:990px){
.collections-column .alpha-wrapper {
padding: 15px;
}
.collections-column .beta-wrapper {
padding: 15px;
}
.collections-column .alpha-block,
.collections-column .beta-block {
padding: 0 5px;
}
.collections-column .block-grid {
margin: 0 -5px;
}
}
@media screen and (max-width:768px){
.collections-column .block-grid {
margin: 0;
display: block;
}
.collections-column .alpha-block, .collections-column .beta-block {
max-width:100%;
width:100%;
padding: 0;
margin-bottom: 20px;
}
.collections-column .alpha-block:last-child, .collections-column .beta-block:last-child {
margin-bottom: 0px;
}
.collections-column .beta-wrapper {
padding: 24px;
}
.collections-column .alpha-wrapper {
padding: 15px;
}
.collections-column .alpha-block.with-half,
.collections-column .beta-block.with-half {
max-width: 100%;
width: 100%;
}
.collections-column .with-half .alpha-wrapper {
padding: 24px 24px;
}
.collections-column .with-half .title {
max-width: 320px;
margin-bottom: 8px !important;
}
.collections-column .with-half .button-wrapper {
margin-top: 8px;
}
}
</table>
{% schema %}
  {
    "name": "collections-column",
    "settings": []
  }
{% endschema %}