<ytcp-entity-page id="entity-page" class="loaded style-scope ytcp-app style-scope ytcp-app" first-load=""><!--css_build_scope:ytcp-entity-page--><!--css_build_styles:video.youtube.src.web.polymer.shared.ui.styles.yt_base_styles.yt.base.styles.css.js--><ytcp-warm-welcome class="style-scope ytcp-entity-page">
</ytcp-warm-welcome>
<div id="main-container" class="style-scope ytcp-entity-page">
  <tp-yt-iron-overlay-backdrop id="nav-backdrop" tabindex="-1" class="style-scope ytcp-entity-page"><!--css_build_mark:third_party.javascript.youtube_components.tp_yt_iron_overlay_behavior.tp.yt.iron.overlay.backdrop.css.js--><!--css_build_scope:tp-yt-iron-overlay-backdrop--><!--css_build_styles:third_party.javascript.youtube_components.tp_yt_iron_overlay_behavior.tp.yt.iron.overlay.backdrop.css.js-->
  
</tp-yt-iron-overlay-backdrop>
  <ytcp-top-banner id="top-banner" color-theme="" class="style-scope ytcp-entity-page"><!--css_build_scope:ytcp-top-banner--><!--css_build_styles:video.youtube.src.web.polymer.shared.ui.styles.yt_base_styles.yt.base.styles.css.js--><ytcp-banner class="style-scope ytcp-top-banner closing" color-theme="" hidden=""><!--css_build_scope:ytcp-banner--><!--css_build_styles:video.youtube.src.web.polymer.shared.ui.styles.yt_base_styles.yt.base.styles.css.js--><div class="container style-scope ytcp-banner" hidden="">
  <dom-if restamp="" class="style-scope ytcp-banner"></dom-if>
</div>
</ytcp-banner>
</ytcp-top-banner>
  <ytcp-header class="style-scope ytcp-entity-page" first-load=""><!--css_build_scope:ytcp-header--><!--css_build_styles:video.youtube.src.web.polymer.shared.ui.styles.yt_base_styles.yt.base.styles.css.js--><header class="style-scope ytcp-header"><ytcp-icon-button id="collapse-expand-icon" class="rtl-flip style-scope ytcp-header" icon="menu" track-click="" tabindex="0" aria-disabled="false" aria-label="Expand menu" role="button"><!--css_build_scope:ytcp-icon-button--><!--css_build_styles:video.youtube.src.web.polymer.shared.ui.styles.yt_base_styles.yt.base.styles.css.js--><tp-yt-iron-icon class="remove-defaults style-scope ytcp-icon-button"><svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope tp-yt-iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g class="style-scope tp-yt-iron-icon"><path d="M21,6H3V5h18V6z M21,11H3v1h18V11z M21,17H3v1h18V17z" class="style-scope tp-yt-iron-icon"></path></g></svg><!--css_build_mark:third_party.javascript.youtube_components.tp_yt_iron_icon.tp.yt.iron.icon.css.js--><!--css_build_scope:tp-yt-iron-icon--><!--css_build_styles:third_party.javascript.youtube_components.tp_yt_iron_icon.tp.yt.iron.icon.css.js-->
</tp-yt-iron-icon><ytcp-tooltip offset="6" class="style-scope ytcp-icon-button" style="display: none;"></ytcp-tooltip><dom-if restamp="" class="style-scope ytcp-icon-button"></dom-if></ytcp-icon-button><ytcp-home-button track-click="" class="style-scope ytcp-header"><!--css_build_scope:ytcp-home-button--><!--css_build_styles:video.youtube.src.web.polymer.shared.ui.styles.yt_base_styles.yt.base.styles.css.js--><a id="home-button" class="style-scope ytcp-home-button" target="_self" href="/channel/UCHxuYcHwtqla576YbjuwegA"><img height="24" alt="" class="style-scope ytcp-home-button" src="https://www.gstatic.com/youtube/img/creator/yt_studio_logo.svg"></a><ytcp-tooltip alignment="center" for="home-button" label="YouTube Studio dashboard" class="style-scope ytcp-home-button" style="display: none;"></ytcp-tooltip></ytcp-home-button><ytcp-button id="skip-navigation" type="primary" class="style-scope ytcp-header" tabindex="0" icon-alignment="start" aria-disabled="false" role="button"><!--css_build_scope:ytcp-button--><!--css_build_styles:video.youtube.src.web.polymer.shared.ui.styles.yt_base_styles.yt.base.styles.css.js--><dom-if restamp="" class="style-scope ytcp-button"></dom-if><dom-if class="style-scope ytcp-button"></dom-if><div class="label style-scope ytcp-button">Skip navigation</div><dom-if restamp="" class="style-scope ytcp-button"></dom-if></ytcp-button><ytcp-omnisearch id="omnisearch" class="style-scope ytcp-header"><!--css_build_scope:ytcp-omnisearch--><!--css_build_styles:video.youtube.src.web.polymer.shared.ui.styles.yt_base_styles.yt.base.styles.css.js-->
<tp-yt-iron-overlay-backdrop id="backdrop" class="style-scope ytcp-omnisearch"><!--css_build_mark:third_party.javascript.youtube_components.tp_yt_iron_overlay_behavior.tp.yt.iron.overlay.backdrop.css.js--><!--css_build_scope:tp-yt-iron-overlay-backdrop--><!--css_build_styles:third_party.javascript.youtube_components.tp_yt_iron_overlay_behavior.tp.yt.iron.overlay.backdrop.css.js-->
</tp-yt-iron-overlay-backdrop>

<div id="search-layer" tabindex="-1" class="style-scope ytcp-omnisearch">
  <tp-yt-iron-icon class="search-icon style-scope ytcp-omnisearch"><svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope tp-yt-iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g class="style-scope tp-yt-iron-icon"><path d="M20.87,20.17l-5.59-5.59C16.35,13.35,17,11.75,17,10c0-3.87-3.13-7-7-7s-7,3.13-7,7s3.13,7,7,7c1.75,0,3.35-0.65,4.58-1.71 l5.59,5.59L20.87,20.17z M10,16c-3.31,0-6-2.69-6-6s2.69-6,6-6s6,2.69,6,6S13.31,16,10,16z" class="style-scope tp-yt-iron-icon"></path></g></svg><!--css_build_mark:third_party.javascript.youtube_components.tp_yt_iron_icon.tp.yt.iron.icon.css.js--><!--css_build_scope:tp-yt-iron-icon--><!--css_build_styles:third_party.javascript.youtube_components.tp_yt_iron_icon.tp.yt.iron.icon.css.js-->
</tp-yt-iron-icon>
  <ytcp-ve track-click="" class="style-scope ytcp-omnisearch" role="none">
    <form name="searchForm" class="style-scope ytcp-omnisearch">
      <input id="query-input" autocomplete="off" aria-controls="results" class="style-scope ytcp-omnisearch" placeholder="Search across your channel" aria-activedescendant="video-result--1" aria-expanded="true">
    </form>
  </ytcp-ve>
  <ytcp-feature-discovery-tour-step alignment="start" anchor-selector="#search-layer" callout-id="zero-state-search" callout-title="Try Studio search" description="Quickly access your videos' analytics, comments and more." position="horizontal-start" proceed-on-anchor-tap="" wait-for-animatable-section="MAIN_CONTENT" class="style-scope ytcp-omnisearch"><!--css_build_scope:ytcp-feature-discovery-tour-step--><!--css_build_styles:video.youtube.src.web.polymer.shared.ui.styles.yt_base_styles.yt.base.styles.css.js-->
</ytcp-feature-discovery-tour-step>

  <div id="results" class="results-ready style-scope ytcp-omnisearch style-scope ytcp-omnisearch">
    
      
        
          <div id="results-header" class="style-scope ytcp-omnisearch">
            <span aria-live="polite" class="style-scope ytcp-omnisearch"> Your recent videos </span>
            
              <dom-if restamp="" class="style-scope ytcp-omnisearch"></dom-if>
              
                <a id="show-all-link" class="style-scope ytcp-omnisearch" href="/channel/UCHxuYcHwtqla576YbjuwegA/videos">Show all</a>
              <dom-if restamp="" class="style-scope ytcp-omnisearch"></dom-if>
            <dom-if class="style-scope ytcp-omnisearch"></dom-if>
          </div>
        <dom-if restamp="" class="style-scope ytcp-omnisearch"></dom-if>
      <dom-if restamp="" class="style-scope ytcp-omnisearch"></dom-if>
      <dom-if restamp="" class="style-scope ytcp-omnisearch"></dom-if>
      <ytcp-omnisearch-results class="style-scope ytcp-omnisearch">
      </ytcp-omnisearch-results>
    <dom-if restamp="" class="style-scope ytcp-omnisearch"></dom-if>
