<table data-mce-fragment="1" width="100%">
<tbody data-mce-fragment="1">
<tr data-mce-fragment="1">
<td data-mce-fragment="1">&nbsp;<meta charset="utf-8"><nav id="chapternav" class="chapternav theme-dark">
<div class="chapternav-wrapper">
<ul class="chapternav-items">
<ul class="chapternav-items">
<li class="chapternav-item chapternav-item-app-store"><a class="chapternav-link" href="https://developer.apple.com/app-store/"><span class="chapternav-label">App Store</span></a></li>
</ul>
</ul>
<span>&nbsp;</span>
<ul class="chapternav-items">
<ul class="chapternav-items">
<li class="chapternav-item chapternav-item-app-review">
<figure class="chapternav-icon" data-hires-status="pending"></figure>
<a class="chapternav-link" href="https://developer.apple.com/distribute/app-review/"><span class="chapternav-label">App Review</span></a></li>
</ul>
</ul>
<span>&nbsp;</span>
<ul class="chapternav-items">
<ul class="chapternav-items">
<li class="chapternav-item chapternav-item-macos">
<figure class="chapternav-icon" data-hires-status="pending"></figure>
<a class="chapternav-link" href="https://developer.apple.com/macos/distribution/"><span class="chapternav-label">macOS</span></a></li>
</ul>
</ul>
<span>&nbsp;</span>
<ul class="chapternav-items">
<ul class="chapternav-items">
<li class="chapternav-item chapternav-item-custom-apps">
<figure class="chapternav-icon" data-hires-status="pending"></figure>
<a class="chapternav-link" href="https://developer.apple.com/custom-apps/"><span class="chapternav-label">Custom Apps</span></a></li>
</ul>
</ul>
<span>&nbsp;</span>
<ul class="chapternav-items">
<ul class="chapternav-items">
<li class="chapternav-item chapternav-item-safari">
<figure class="chapternav-icon" data-hires-status="pending"></figure>
<a class="chapternav-link" href="https://developer.apple.com/safari/extensions/"><span class="chapternav-label">Safari Extensions</span></a></li>
</ul>
</ul>
<span>&nbsp;</span>
<ul class="chapternav-items">
<li class="chapternav-item chapternav-item-program">
<figure class="chapternav-icon" data-hires-status="pending"></figure>
<a class="chapternav-link" href="https://developer.apple.com/programs/"><span class="chapternav-label">Program</span></a></li>
</ul>
<div class="chapternav-paddles"><button class="chapternav-paddle chapternav-paddle-left" aria-hidden="true" disabled="disabled"></button><button class="chapternav-paddle chapternav-paddle-right" aria-hidden="true" disabled="disabled"></button></div>
</div>
</nav><main id="main" class="main" role="main">
<div class="ribbon ribbon-blue">
<div class="ribbon-drop-wrapper">
<div class="ribbon-content-wrapper">
<div class="ribbon-content row">
<div class="column large-centered large-12">
<p><a href="https://developer.apple.com/app-w/small-business-program/" class="ribbon-link more">Enroll in the App&nbsp;Store Small Business Program</a></p>
</div>
</div>
</div>
</div>
</div>
<section class="section section-hero bg-light" role="presentation">
<div class="section-content">
<div class="row">
<div class="column large-centered large-12 text-center">
<figure class="icon-app-store center" data-hires-status="pending"></figure>
<h1 class="typography-headline">App Store</h1>
<p class="typography-intro center">The App&nbsp;Store lets you easily deliver apps to hundreds of millions of people around the world on their iPhone, iPad, Mac, Apple&nbsp;TV, Apple&nbsp;Watch, and Apple&nbsp;Vision&nbsp;Pro. With over $320 billion paid to developers and a rapid adoption rate of new software by Apple customers, it’s an incredible time to distribute on Apple&nbsp;platforms.</p>
<p class="typography-intro center"><a href="https://developer.apple.com/app-store/whats-new/" class="more">Explore what’s new</a></p>
<p class="typography-intro center"><a href="https://developer.apple.com/app-store/" class="more">Learn more</a></p>
</div>
</div>
</div>
<figure class="distribute-hero" data-hires-status="pending"></figure>
</section>
<section class="section section-business bg-light"><a href="https://developer.apple.com/in-app-purchase/" class="section-link">
<div class="section-content overflow">
<div class="row margin-bottom">
<div class="column large-centered large-12 text-center">
<h2>In-App Purchase</h2>
<p class="large-centered large-8 medium-10 small-12 typography-intro">The App&nbsp;Store provides a powerful commerce system that makes it simple to offer your content and services across Apple platforms to people around the world. Facilitating billions of transactions annually, it handles end-to-end payment processing — so you can focus on creating great apps and games that people will love.</p>
<p class="typography-intro"><span class="more">Learn more</span></p>
</div>
</div>
<picture class="image-hero-lockup"><source media="(max-width: 735px)" srcset="/in-app-purchase/images/lockup-hero-small_2x.png"><source media="(max-width: 1068px)" srcset="/in-app-purchase/images/lockup-hero-medium_2x.png"><img src="https://developer.apple.com/in-app-purchase/images/lockup-hero-large_2x.png" width="100%" height="100%" role="img" alt="" data-hires-status="pending"></picture></div>
</a></section>
<section class="section section-vision-app-store bg-light"><a href="https://developer.apple.com/visionos/submit/" class="section-link">
<div class="section-content text-center">
<div class="row">
<div class="column large-centered large-9 small-12 text-center">
<h2>visionOS</h2>
<p class="typography-intro">Apple Vision Pro has a brand-new App&nbsp;Store, where people can discover and download all the incredible apps for visionOS. Whether you’ve created a new visionOS app or are making your existing iPad or iPhone app available on Apple&nbsp;Vision&nbsp;Pro, learn how to prepare your app for the&nbsp;App&nbsp;Store.</p>
<p class="typography-intro"><span class="more">Learn more</span></p>
</div>
</div>
<div class="figure-img-container figure-small-width lv-margin-top mv-margin-top sv-margin-top-small">
<div class="figure-aspect figure-submit-vision"><picture><img src="https://developer.apple.com/distribute/images/visionos-app-store_2x.jpg?2" width="100%" class="vision-image img-border img-rounded" alt="A screenshot of the App Store for Apple Vision Pro as it appears in a living room. The screenshot contains a large image of the Ursa Major constellation with the headline “Explore the Cosmos.”" data-hires-status="pending"></picture></div>
</div>
</div>
</a></section>
<section class="section section-mac-app-store bg-light"><a href="https://developer.apple.com/macos/distribution/" class="section-link">
<div class="section-content text-center">
<div class="row">
<div class="column large-centered large-8 small-12 text-center">
<h2>macOS</h2>
<p class="typography-intro">Learn how the Mac&nbsp;App&nbsp;Store beautifully showcases your apps and makes them even easier to find, and how Developer&nbsp;ID and notarization make it safer for users to install apps that you distribute&nbsp;yourself.</p>
<p class="typography-intro"><span class="more">Learn about distribution on macOS</span></p>
</div>
</div>
</div>
</a>
<figure class="device-macos device-macbook-pro-16-space-gray center" role="img" alt="MacBook Pro displaying the current Featured App on the App Store Discover tab" aria-label="MacBook Pro displaying the current Featured App on the App Store Discover tab" data-hires-status="pending"><picture class="device-screen"><source media="(max-width:735px)" srcset="/distribute/images/screen-mac-app-store-small_2x.jpg"><source media="(max-width:1068px)" srcset="/distribute/images/screen-mac-app-store-medium_2x.jpg"><img src="https://developer.apple.com/distribute/images/screen-mac-app-store-large_2x.jpg" width="100%" data-hires-status="pending"></picture></figure>
</section>
<section class="section section-silicon bg-light">
<div class="section-content text-center">
<div class="row">
<div class="column large-centered large-12 text-center"><a href="https://developer.apple.com/macos/iphone-and-ipad-apps/" class="tile-link">
<div class="tile-wrap">
<figure class="tile-icon icon-mac-app-store center" data-hires-status="pending"></figure>
<h3>iPhone and iPad apps on the Mac&nbsp;App&nbsp;Store</h3>
<p class="large-10 medium-12 center">iPhone and iPad apps are available without modification on Apple&nbsp;silicon&nbsp;Macs, opening new possibilities for users and developers&nbsp;alike.</p>
<p><span class="more">Learn more</span></p>
</div>
</a></div>
</div>
</div>
</section>
<section class="section section-safari bg-light"><a href="https://developer.apple.com/safari/extensions/" class="section-link">
<div class="section-content">
<div class="row">
<div class="column large-centered large-8 medium-10 small-12 text-center">
<h2>Safari extensions</h2>
<p class="typography-intro">Enhance and customize the web browsing experience on iPhone, iPad, Mac, and Apple&nbsp;Vision&nbsp;Pro with Safari extensions. Using powerful native APIs and frameworks, as well as familiar web technologies such as HTML, CSS, and JavaScript, you can easily create Safari extensions in Xcode and distribute them on the App&nbsp;Store or get them notarized for distribution outside the Mac&nbsp;App&nbsp;Store.</p>
<p class="typography-intro"><span class="more">Learn about Safari extensions<span class="loc-en-only"></span></span></p>
</div>
</div>
</div>
<picture class="lockup-safari"><source media="(min-width: 1068px)" srcset="/distribute/images/extensions-hero-medium_2x.png"><img src="https://developer.apple.com/distribute/images/extensions-hero-large_2x.png" width="100%" class="extensions-hero center" alt="Safari Web Extensions on MacOS, iPadOS, and iOS" data-hires-status="pending"></picture></a></section>
<section class="section section-alternate-eu bg-gradient" data-hires-status="pending"><a href="https://developer.apple.com/support/dma-and-apps-in-the-eu/" class="section-link">
<div class="section-content text-center">
<div class="row">
<div class="column large-centered large-8 small-12 text-center">
<h2>Distribution options in the European&nbsp;Union (EU)</h2>
<p class="typography-intro">Eligible developers on the alternative business terms in the EU can distribute iOS apps on the App&nbsp;Store, on alternative app marketplaces or their website, or operate an alternative app marketplace in the EU.</p>
<p class="typography-intro"><span class="more">Learn more<span class="loc-en-only"></span></span></p>
</div>
</div>
</div>
</a></section>
<section class="section section-submote bg-light">
<div class="section-content">
<div class="row">
<div class="column large-6 small-12"><a href="https://developer.apple.com/app-store/submitting/" class="tile-link">
<div class="tile-wrap">
<figure class="tile-icon icon-submitting center" data-hires-status="pending"></figure>
<h3>Submitting your apps</h3>
<p>Learn how to prepare your iPhone, iPad, Mac, Apple&nbsp;TV, Apple&nbsp;Vision&nbsp;Pro, and Apple&nbsp;Watch apps for submission to App&nbsp;Review.</p>
<p><span class="more">Learn more</span></p>
</div>
</a></div>
<div class="column large-6 small-12"><a href="https://developer.apple.com/app-store/promote/" class="tile-link">
<div class="tile-wrap">
<figure class="tile-icon icon-promote center" data-hires-status="pending"></figure>
<h3>Promoting your apps</h3>
<p>Get marketing assets to help promote your apps, and learn about getting featured on the App&nbsp;Store.</p>
<p><span class="more">Learn more</span></p>
</div>
</a></div>
</div>
</div>
</section>
<section class="section section-capabilities">
<div class="section-content">
<div class="row">
<div class="column large-centered large-12 text-center padding-top padding-bottom">
<h2>Badges and marketing resources</h2>
<p>Let customers know that your product uses or is designed for Apple technologies.</p>
<p><a href="https://developer.apple.com/licensing-trademarks/" class="more">Learn more<span class="loc-en-only"></span></a></p>
<div class="badge-wrap text-center"><a class="block-link" href="https://developer.apple.com/health-fitness/works-with-apple-health/"><img src="https://developer.apple.com/softwarelicensing/images/works-with-apple-health.svg" width="160" alt="Works with Apple Health" data-hires-status="pending"></a></div>
<span>&nbsp;</span>
<div class="badge-wrap text-center"><a class="block-link" href="https://developer.apple.com/wallet/add-to-apple-wallet-guidelines/"><img src="https://developer.apple.com/wallet/images/add-to-apple-wallet.svg" alt="Add to Apple Wallet" width="160" data-hires-status="pending"></a></div>
<span>&nbsp;</span>
<div class="badge-wrap text-center"><a class="block-link" href="https://developer.apple.com/apple-pay/marketing/"><img src="https://developer.apple.com/assets/elements/icons/apple-pay/apple-pay.svg" height="48" alt="Apple Pay" data-hires-status="pending"></a></div>
</div>
</div>
</div>
</section>
<section class="section section-adp theme-dark"><a href="https://developer.apple.com/programs/" class="section-link">
<div class="section-content text-center">
<div class="narrow-column"><img src="https://developer.apple.com/app-store/features/images/members.svg" width="144" alt="" data-hires-status="pending">
<h2><span class="eyebrow">Apple Developer Program</span>One membership. All&nbsp;platforms.</h2>
<p class="typography-intro">Join the Apple&nbsp;Developer&nbsp;Program to reach customers around the world on the App&nbsp;Store for iPhone, iPad, Mac, Apple&nbsp;TV, Apple&nbsp;Watch, Apple&nbsp;Vision&nbsp;Pro, and iMessage. You’ll also get access to advanced app capabilities, extensive beta testing tools, and app&nbsp;analytics.</p>
<p class="typography-intro"><span class="more">Learn about membership</span></p>
</div>
</div>
</a></section>
</main>
<aside class="section developer-router-links">
<div class="section-content">
<div class="row">
<div class="column large-3 medium-6 small-6">
<figure class="router-icon router-icon-manage-outline" data-hires-status="pending"></figure>
<a href="https://developer.apple.com/app-store-connect/" class="block text-center">
<p><strong>App Store Connect</strong></p>
<p class="typography-subbody">Manage apps, analytics, sales reports, agreements, tax and banking information, and&nbsp;more.</p>
<p class="typography-subbody"><span class="block-link more">Learn more</span></p>
</a></div>
<div class="column large-3 medium-6 small-6">
<figure class="router-icon router-icon-document" data-hires-status="pending"></figure>
<a href="https://developer.apple.com/support/articles/#distribution" class="block text-center">
<p><strong>Documentation &amp; Help</strong></p>
<p class="typography-subbody">View documentation on distributing your apps on the App&nbsp;Store, in-house, and&nbsp;more.</p>
<p class="typography-subbody"><span class="block-link more">Learn more</span></p>
</a></div>
<div class="column large-3 medium-6 small-6">
<figure class="router-icon router-icon-videos" data-hires-status="pending"></figure>
<a href="https://developer.apple.com/videos/app-store-distribution-marketing/" class="block text-center">
<p><strong>Session Videos</strong></p>
<p class="typography-subbody">See the latest in Apple technologies presented at WWDC and other&nbsp;events.</p>
<p class="typography-subbody"><span class="block-link more">Watch videos<span class="loc-partial-sub"></span></span></p>
</a></div>
<div class="column large-3 medium-6 small-6">
<figure class="router-icon router-icon-forum" data-hires-status="pending"></figure>
<a href="https://developer.apple.com/forums/topics/app-store-distribution-and-marketing" class="block text-center">
<p><strong>Discussion Forums</strong></p>
<p class="typography-subbody">Ask questions and discuss development topics with Apple engineers and other&nbsp;developers.</p>
<p class="typography-subbody"><span class="block-link more">View forums<span class="loc-en-only"></span></span></p>
</a></div>
</div>
</div>
</aside>
<footer id="footer" class="footer" role="contentinfo" aria-labelledby="footer-label">
<div class="footer-content">
<h2 class="footer-label" id="footer-label">Developer Footer</h2>
<nav class="footer-breadcrumbs" aria-label="Breadcrumbs"><a href="https://www.apple.com/" class="home footer-breadcrumbs-home"><span class="footer-breadcrumbs-home-icon" aria-hidden="true" data-hires-status="pending"></span><span class="footer-breadcrumbs-home-label">Apple</span></a>
<div class="footer-breadcrumbs-path">
<ol class="footer-breadcrumbs-list">
<li class="footer-breadcrumbs-item"><a href="https://developer.apple.com/">Developer</a></li>
<li class="footer-breadcrumbs-item">Distribute</li>
</ol>
</div>
</nav><nav class="footer-directory" aria-label="Apple Developer Directory" role="navigation">
<div class="footer-directory-column">
<div class="footer-directory-column-section">
<h3 class="footer-directory-column-section-title">Platforms</h3>
<ul class="footer-directory-column-section-list">
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/ios/">iOS</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/ipados/">iPadOS</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/macos/">macOS</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/tvos/">tvOS</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/visionos/">visionOS</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/watchos/">watchOS</a></li>
</ul>
</div>
<div class="footer-directory-column-section">
<h3 class="footer-directory-column-section-title">Tools</h3>
<ul class="footer-directory-column-section-list">
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/swift/">Swift</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/swiftui/">SwiftUI</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/swift-playgrounds/">Swift Playgrounds</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/testflight/">TestFlight</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/xcode/">Xcode</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/xcode-cloud/">Xcode Cloud</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/sf-symbols/">SF Symbols</a></li>
</ul>
</div>
</div>
<div class="footer-directory-column">
<div class="footer-directory-column-section">
<h3 class="footer-directory-column-section-title">Topics &amp; Technologies</h3>
<ul class="footer-directory-column-section-list">
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/accessibility/">Accessibility</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/accessories/">Accessories</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/app-extensions/">App Extensions</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/app-store/">App Store</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/audio/">Audio &amp; Video</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/augmented-reality/">Augmented Reality</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/business/">Business</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/design/">Design</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/distribute/">Distribution</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/education/">Education</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/fonts/">Fonts</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/games/">Games</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/health-fitness/">Health &amp; Fitness</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/in-app-purchase/">In-App Purchase</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/localization/">Localization</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/maps/">Maps &amp; Location</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/machine-learning/">Machine Learning</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://opensource.apple.com/">Open Source</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/security/">Security</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/safari/">Safari &amp; Web</a></li>
</ul>
</div>
</div>
<div class="footer-directory-column">
<div class="footer-directory-column-section">
<h3 class="footer-directory-column-section-title">Resources</h3>
<ul class="footer-directory-column-section-list">
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/documentation/">Documentation</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/learn/">Tutorials</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/download/">Downloads</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/forums/">Forums</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/videos/">Videos</a></li>
</ul>
</div>
<div class="footer-directory-column-section">
<h3 class="footer-directory-column-section-title">Support</h3>
<ul class="footer-directory-column-section-list">
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/support/articles/">Support Articles</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/contact/">Contact Us</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/bug-reporting/">Bug Reporting</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/system-status/">System Status</a></li>
</ul>
</div>
<div class="footer-directory-column-section">
<h3 class="footer-directory-column-section-title">Account</h3>
<ul class="footer-directory-column-section-list">
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/account/">Apple Developer</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://appstoreconnect.apple.com/">App Store Connect</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/account/ios/certificate/">Certificates, IDs, &amp; Profiles</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://feedbackassistant.apple.com/">Feedback Assistant</a></li>
</ul>
</div>
</div>
<div class="footer-directory-column">
<div class="footer-directory-column-section">
<h3 class="footer-directory-column-section-title">Programs</h3>
<ul class="footer-directory-column-section-list">
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/programs/">Apple Developer Program</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/programs/enterprise/">Apple Developer Enterprise Program</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/app-store/small-business-program/">App Store Small Business Program</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://mfi.apple.com/">MFi Program</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/programs/news-partner/">News Partner Program</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/programs/video-partner/">Video Partner Program</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/security-bounty/">Security Bounty Program</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/programs/security-research-device/">Security Research Device Program</a></li>
</ul>
</div>
<div class="footer-directory-column-section">
<h3 class="footer-directory-column-section-title">Events</h3>
<ul class="footer-directory-column-section-list">
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/events/">Meet with Apple Experts</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/events/developer-centers/">Apple Developer Centers</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/app-store/app-store-awards/">App Store Awards</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/design/awards/">Apple Design Awards</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/academies/">Apple Developer Academies</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/entrepreneur-camp/">Entrepreneur Camp</a></li>
<li class="footer-directory-column-section-item"><a class="footer-directory-column-section-link" href="https://developer.apple.com/wwdc/">WWDC</a></li>
</ul>
</div>
</div>
</nav>
<section class="footer-mini" vocab="http://schema.org/" typeof="Organization">
<div class="footer-mini-news">
<div class="copy">Get the<span>&nbsp;</span><a href="https://apps.apple.com/us/app/apple-developer/id640199958">Apple Developer app</a>.</div>
<div class="content">
<div tabindex="0" class="color-scheme-toggle" role="radiogroup" aria-label="Select a color scheme preference"><label data-color-scheme-option="light"><label data-color-scheme-option="light"><input type="radio" value="light" autocomplete="off" onchange="window.setPreferredColorScheme(event.target.value)"></label></label>
<div class="text">Light</div>
<label data-color-scheme-option="dark"><label data-color-scheme-option="dark"><input type="radio" value="dark" autocomplete="off" onchange="window.setPreferredColorScheme(event.target.value)"></label></label>
<div class="text">Dark</div>
<label data-color-scheme-option="auto"><label data-color-scheme-option="auto"><input type="radio" value="auto" autocomplete="off" onchange="window.setPreferredColorScheme(event.target.value)"></label></label>
<div class="text">Auto</div>
</div>
</div>
</div>
<div class="language-dropdown dropdown-container legacy-form" data-lang="complete"><select class="dropdown" aria-label="Language Dropdown">
<option value="https://developer.apple.com/distribute/">English</option>
<option value="https://developer.apple.com/cn/distribute/">简体中文</option>
<option value="https://developer.apple.com/jp/distribute/">日本語</option>
<option value="https://developer.apple.com/kr/distribute/">한국어</option>
</select><span class="dropdown-icon icon icon-chevrondown" aria-hidden="true"></span></div>
<div class="footer-mini-legal">
<div class="footer-mini-legal-copyright">Copyright © 2024<span>&nbsp;</span><a href="https://www.apple.com/">Apple Inc.</a><span>&nbsp;</span>All rights reserved.</div>
<div class="footer-mini-legal-links"><a class="footer-mini-legal-link" href="https://www.apple.com/legal/internet-services/terms/site.html">Terms of Use</a><span>&nbsp;</span><a class="footer-mini-legal-link" href="https://www.apple.com/legal/privacy/">Privacy Policy</a><span>&nbsp;</span><a class="footer-mini-legal-link" href="https://developer.apple.com/support/terms/">Agreements and Guidelines</a></div>
</div>
</section>
</div>
</footer></td>
</tr>
</tbody>
</table>
{% schema %}
  {
    "name": "apple.com/distribute",
    "settings": []
  }
{% endschema %}