<!DOCTYPE html>
<html lang="en_us">
<head>
<base href="">
Grand Theft Auto: San Andreas
Buy Now(Opens in a new window)
Game Description
Five years ago Carl Johnson escaped from the pressures of life in Los Santos, San Andreas — a city tearing itself apart with gang trouble, drugs, and corruption. Where film stars and millionaires do their best to avoid the dealers and gangbangers.

Read More
Latest Videos
The Introduction.
See all Grand Theft Auto: San Andreas videos
Latest News
Music
February 10, 2021
Screen Songs: The Music of Grand Theft Auto Now on Pandora
Fan Art
February 5, 2021
Fan Creation: San Andreas "Chilli Dog" Recipe by Nerds' Kitchen
Backward Compatibility
November 6, 2020
Backward Compatibility on PlayStation 5 and Xbox Series X|S
Rockstar Launcher
October 2, 2019
The Rockstar Games Launcher
Read more at the Rockstar Newswire
Screens
Specifications
Developer
Rockstar North
Platform
PS4, Xbox One, PC, PS3, Xbox 360, Mac, iOS, PS2, Android, Xbox, Kindle, Windows Phone
Release Date
October 26, 2004
Rating
Rating: ESRB M. Click here learn more about rating systems(Opens in a new window)
Blood and Gore, Intense Violence, Strong Language, Strong Sexual Content, Use of Drugs


Select a Language
Deutsch
English
Español
Español Latinoamérica
Français
Italiano
日本語
한국어
Polski
Português do Brasil
Русский
繁體中文
简体中文
Contact
Careers
Community Guidelines
Subscribe(Opens in a new window)
Corporate
Privacy
Cookie Settings
Cookie Policy
Legal
Do Not Sell My Personal Information
Rockstar Games
New York
London
Paris
Bogotá
MCMXCVIII  
<meta charset="utf-8">
<title>Grand Theft Auto: San Andreas - Rockstar Games</title>
<link href="https://www.rockstargames.com/games/sanandreas" rel="canonical">
<link rel="apple-touch-icon" sizes="180x180" href="https://media-rockstargames-com.akamaized.net/rockstargames-newsite/img/meta-icons/rockstar/favicon-180x180.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://media-rockstargames-com.akamaized.net/rockstargames-newsite/img/meta-icons/rockstar/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://media-rockstargames-com.akamaized.net/rockstargames-newsite/img/meta-icons/rockstar/favicon-16x16.png">
<link rel="mask-icon" color="#666666" href="https://media-rockstargames-com.akamaized.net/rockstargames-newsite/img/meta-icons/rockstar/favicon.svg">
<link href="https://media-rockstargames-com.akamaized.net/rockstargames-newsite/img/meta-icons/rockstar/favicon.ico" type="image/x-icon" rel="icon">
<link href="https://media-rockstargames-com.akamaized.net/rockstargames-newsite/img/meta-icons/rockstar/favicon.ico" type="image/x-icon" rel="shortcut icon">
<meta name="author" content="Rockstar Games">
<meta name="copyright" content="Rockstar Games 2024. All Rights Reserved.">
<meta name="theme-color" content="#000000">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="twitter:card" content="summary">
<meta property="twitter:creator" content="@rockstargames">
<meta property="twitter:creator:id" content="29758446">
<meta property="twitter:site" content="@rockstargames">
<meta property="twitter:title" content="Grand Theft Auto: San Andreas - Rockstar Games">
<meta property="twitter:description" content="Five years ago Carl Johnson escaped from the pressures of life in Los Santos, San Andreas &mdash; a city tearing itself apart with gang trouble, drugs, and corruption. Where film stars and millionaires do their best to avoid the dealers and gangbangers.Now,...">
<meta property="twitter:image" content="https://media-rockstargames-com.akamaized.net/rockstargames-newsite/img/meta-icons/rockstar/favicon-180x180.png">
<meta property="og:site_name" content="Rockstar Games">
<meta property="og:title" content="Grand Theft Auto: San Andreas - Rockstar Games">
<meta property="og:description" content="Five years ago Carl Johnson escaped from the pressures of life in Los Santos, San Andreas &mdash; a city tearing itself apart with gang trouble, drugs, and corruption. Where film stars and millionaires do their best to avoid the dealers and gangbangers.Now,...">
<meta property="og:image" content="https://media-rockstargames-com.akamaized.net/rockstargames-newsite/img/meta-icons/rockstar/favicon-180x180.png">
<meta property="og:locale" content="en_us">
<meta name="title" content="Grand Theft Auto: San Andreas - Rockstar Games">
<meta name="description" content="Five years ago Carl Johnson escaped from the pressures of life in Los Santos, San Andreas &mdash; a city tearing itself apart with gang trouble, drugs, and corruption. Where film stars and millionaires do their best to avoid the dealers and gangbangers.Now,...">
<meta name="keywords" content="Rockstar Games, Rockstar, Video Games, Games, Gaming, Grand Theft Auto, GTA, GTAV, GTA 5, GTA Online, GTA+, GTA Plus, Red Dead Redemption, RDR, Red Dead Online, PS5, PlayStation, Xbox Series X, Xbox Series S, Xbox, PC Games, Computer Games, Home Entertainment, Home Gaming, New Video Games, Videogames, LA Noire, L.A. Noire, Max Payne 3, Max Payne, Vice City, San Andreas, Liberty City, Los Santos, Vinewood">
<meta name="image" content="https://media-rockstargames-com.akamaized.net/rockstargames-newsite/img/meta-icons/rockstar/favicon-180x180.png">
<link rel="alternate" hreflang="en-US" href="https://www.rockstargames.com/games/sanandreas">
<link rel="alternate" hreflang="de-DE" href="https://www.rockstargames.com/de/games/sanandreas">
<link rel="alternate" hreflang="fr-FR" href="https://www.rockstargames.com/fr/games/sanandreas">
<link rel="alternate" hreflang="it-IT" href="https://www.rockstargames.com/it/games/sanandreas">
<link rel="alternate" hreflang="ja-JP" href="https://www.rockstargames.com/jp/games/sanandreas">
<link rel="alternate" hreflang="ru-RU" href="https://www.rockstargames.com/ru/games/sanandreas">
<link rel="alternate" hreflang="es-ES" href="https://www.rockstargames.com/es/games/sanandreas">
<link rel="alternate" hreflang="es-MX" href="https://www.rockstargames.com/mx/games/sanandreas">
<link rel="alternate" hreflang="pt-BR" href="https://www.rockstargames.com/br/games/sanandreas">
<link rel="alternate" hreflang="ko-KR" href="https://www.rockstargames.com/kr/games/sanandreas">
<link rel="alternate" hreflang="zh-Hans" href="https://www.rockstargames.com/zh/games/sanandreas">
<link rel="alternate" hreflang="zh-TW" href="https://www.rockstargames.com/tw/games/sanandreas">
<link rel="alternate" hreflang="pl-PL" href="https://www.rockstargames.com/pl/games/sanandreas">
<style>body { background:#0b0b0b; }</style>
<script src="https://media-rockstargames-com.akamaized.net/mfe6/importmaps/e86455/prod.json" type="rs-importmap"></script><script src="https://media-rockstargames-com.akamaized.net/mfe6/importmaps/92ea64/prod.json" type="rs-importmap"></script><script src="https://media-rockstargames-com.akamaized.net/mfe6/prod/@rockstargames/mfe/1.1.0/b57d19e625d084398d04f44e61eb5dc0449db7cac68108c93c10741d0bf44d2a/systemjs-module-federation.js" data-config='{"container":"@rockstargames\/sites-rockstargames","method":".\/bootstrap","type":"rs-importmap"}'></script><script>window.env = {"responseStatusCode":200,"gtmId":"GTM-NSXXFR","oneTrustId":"cc81fc10-5468-4b73-b37f-93a4686af46f"};</script>
</head>
<body></body>
</html>