<table data-mce-fragment="1" width="100%">
<tbody data-mce-fragment="1">
<tr data-mce-fragment="1">
<td data-mce-fragment="1">&nbsp;<meta charset="utf-8">
<div data-mce-fragment="1" id="container">
<div data-mce-fragment="1" id="headerwrap">
<div data-mce-fragment="1" class="mobnav" id="pagehead1"><span data-mce-fragment="1">&nbsp;</span>
<div data-mce-fragment="1" id="pagehead-left" class="header-block"><span data-mce-fragment="1">&nbsp;</span>
<div data-mce-fragment="1" id="sitename2"><a data-mce-fragment="1" href="https://schema.org/" data-mce-href="https://schema.org/">Schema.org</a></div>
</div>
<span data-mce-fragment="1">&nbsp;</span>
<div data-mce-fragment="1" id="pagehead-mid" class="header-block header-block-right mobnav"><span data-mce-fragment="1">&nbsp;</span>
<div data-mce-fragment="1" id="selectionbar2">
<ul data-mce-fragment="1">
<li data-mce-fragment="1"><a data-mce-fragment="1" href="https://schema.org/docs/documents.html" data-mce-href="https://schema.org/docs/documents.html">Docs</a><span data-mce-fragment="1">&nbsp;</span></li>
<li data-mce-fragment="1"><a data-mce-fragment="1" href="https://schema.org/docs/schemas.html" data-mce-href="https://schema.org/docs/schemas.html">Schemas</a><span data-mce-fragment="1">&nbsp;</span></li>
<li data-mce-fragment="1"><a data-mce-fragment="1" href="https://validator.schema.org/" data-mce-href="https://validator.schema.org/">Validate</a><span data-mce-fragment="1">&nbsp;</span></li>
<li data-mce-fragment="1"><a data-mce-fragment="1" href="https://schema.org/docs/about.html" data-mce-href="https://schema.org/docs/about.html">About</a></li>
</ul>
</div>
</div>
<span data-mce-fragment="1">&nbsp;</span>
<div data-mce-fragment="1" id="pagehead-right" class="header-block header-block-right mobnav"><span data-mce-fragment="1">&nbsp;</span>
<div data-mce-fragment="1" id="cse-search-form2">
<div data-mce-fragment="1" id="___gcse_0">
<div data-mce-fragment="1" dir="ltr" class="gsc-control-searchbox-only gsc-control-searchbox-only-en"><form data-mce-fragment="1" class="gsc-search-box gsc-search-box-tools" accept-charset="utf-8">
<table data-mce-fragment="1" class="gsc-search-box" role="presentation" cellpadding="0" cellspacing="0">
<tbody data-mce-fragment="1">
<tr data-mce-fragment="1">
<td data-mce-fragment="1" class="gsc-input">
<div data-mce-fragment="1" id="gsc-iw-id1" class="gsc-input-box">
<table data-mce-fragment="1" class="gstl_50 gsc-input" id="gs_id50" role="presentation" cellpadding="0" cellspacing="0">
<tbody data-mce-fragment="1">
<tr data-mce-fragment="1">
<td data-mce-fragment="1" class="gsib_a" id="gs_tti50"><input data-mce-fragment="1" spellcheck="false" dir="ltr" id="gsc-i-id1" aria-label="search" title="search" name="search" class="gsc-input" size="10" type="text" autocomplete="off"></td>
</tr>
</tbody>
</table>
</div>
</td>
<td data-mce-fragment="1" class="gsc-search-button"><button data-mce-fragment="1" class="gsc-search-button gsc-search-button-v2"><svg data-mce-fragment="1" viewBox="0 0 13 13" height="13" width="13"><path data-mce-fragment="1" d="m4.8495 7.8226c0.82666 0 1.5262-0.29146 2.0985-0.87438 0.57232-0.58292 0.86378-1.2877 0.87438-2.1144 0.010599-0.82666-0.28086-1.5262-0.87438-2.0985-0.59352-0.57232-1.293-0.86378-2.0985-0.87438-0.8055-0.010599-1.5103 0.28086-2.1144 0.87438-0.60414 0.59352-0.8956 1.293-0.87438 2.0985 0.021197 0.8055 0.31266 1.5103 0.87438 2.1144 0.56172 0.60414 1.2665 0.8956 2.1144 0.87438zm4.4695 0.2115 3.681 3.6819-1.259 1.284-3.6817-3.7 0.0019784-0.69479-0.090043-0.098846c-0.87973 0.76087-1.92 1.1413-3.1207 1.1413-1.3553 0-2.5025-0.46363-3.4417-1.3909s-1.4088-2.0686-1.4088-3.4239c0-1.3553 0.4696-2.4966 1.4088-3.4239 0.9392-0.92727 2.0864-1.3969 3.4417-1.4088 1.3553-0.011889 2.4906 0.45771 3.406 1.4088 0.9154 0.95107 1.379 2.0924 1.3909 3.4239 0 1.2126-0.38043 2.2588-1.1413 3.1385l0.098834 0.090049z"></path></svg></button></td>
</tr>
</tbody>
</table>
</form></div>
</div>
</div>
</div>
</div>
</div>
<div data-mce-fragment="1" class="header-bottom"></div>
</div>
<div data-mce-fragment="1" id="mainContent">
<h1 data-mce-fragment="1">Welcome to Schema.org</h1>
<p data-mce-fragment="1">Schema.org is a collaborative, community activity with a mission to create, maintain, and promote schemas for structured data on the Internet, on web pages, in email messages, and beyond.</p>
<p data-mce-fragment="1">Schema.org vocabulary can be used with many different encodings, including RDFa, Microdata and JSON-LD. These vocabularies cover entities, relationships between entities and actions, and can easily be extended through a well-documented extension model. Over 10 million sites use Schema.org to markup their web pages and email messages. Many applications from Google, Microsoft, Pinterest, Yandex and others already use these vocabularies to power rich, extensible experiences.</p>
<p data-mce-fragment="1">Founded by Google, Microsoft, Yahoo and Yandex, Schema.org vocabularies are developed by an open<span data-mce-fragment="1">&nbsp;</span><a data-mce-fragment="1" href="https://www.w3.org/community/schemaorg" data-mce-href="https://www.w3.org/community/schemaorg">community</a><span data-mce-fragment="1">&nbsp;</span>process, using the<span data-mce-fragment="1">&nbsp;</span><a data-mce-fragment="1" href="http://lists.w3.org/Archives/Public/public-schemaorg" data-mce-href="http://lists.w3.org/Archives/Public/public-schemaorg">public-schemaorg@w3.org</a><span data-mce-fragment="1">&nbsp;</span>mailing list and through<span data-mce-fragment="1">&nbsp;</span><a data-mce-fragment="1" href="http://github.com/schemaorg/schemaorg" data-mce-href="http://github.com/schemaorg/schemaorg">GitHub</a>.</p>
<p data-mce-fragment="1">A shared vocabulary makes it easier for webmasters and developers to decide on a schema and get the maximum benefit for their efforts. It is in this spirit that the founders, together with the larger community have come together - to provide a shared collection of schemas.</p>
<p data-mce-fragment="1">We invite you to<span data-mce-fragment="1">&nbsp;</span><a data-mce-fragment="1" href="https://schema.org/docs/gs.html" data-mce-href="https://schema.org/docs/gs.html">get started</a>!</p>
<p data-mce-fragment="1">View our blog at<span data-mce-fragment="1">&nbsp;</span><a data-mce-fragment="1" href="http://blog.schema.org/" data-mce-href="http://blog.schema.org/">blog.schema.org</a><span data-mce-fragment="1">&nbsp;</span>or see<span data-mce-fragment="1">&nbsp;</span><a data-mce-fragment="1" href="https://schema.org/docs/releases.html" data-mce-href="https://schema.org/docs/releases.html">release history</a><span data-mce-fragment="1">&nbsp;</span>for version 27.0.</p>
</div>
</td>
</tr>
</tbody>
</table>
{% schema %}
  {
    "name": "Schema.org",
    "settings": []
  }
{% endschema %}