{% style %}{% render slider-component {
	--desktop-margin-left-first-item: max( 5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2) );
	position: relative;
	display: block;
}
slider-component {
	--desktop-margin-left-first-item: max( 5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2) );
	position: relative;
	display: block;
}
body, .color-scheme-1, .color-scheme-2, .color-scheme-3, .color-scheme-4, .color-scheme-5 {
	color: rgba(var(--color-foreground), 0.75);
	background-color: rgb(var(--color-background));
}
:root, .color-scheme-1 {
	--color-background: 244, 244, 244;
	--gradient-background: #f4f4f4;
	--color-foreground: 43, 44, 45;
	--color-background-contrast: 180, 180, 180;
	--color-shadow: 0, 17, 40;
	--color-button: 183, 172, 162;
	--color-button-text: 38, 38, 38;
	--color-secondary-button: 244, 244, 244;
	--color-secondary-button-text: 0, 17, 40;
	--color-link: 0, 17, 40;
	--color-badge-foreground: 43, 44, 45;
	--color-badge-background: 244, 244, 244;
	--color-badge-border: 43, 44, 45;
	--payment-terms-background-color: rgb(244 244 244);
}
body {
	background-color: white;
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	height: 100%;
	line-height: 1;
	margin: 0;
	position: static;
	z-index: 0;
}
body {
	background-color: #eee;
	color: #333;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.4;
	height: 100%;
	position: relative;
	text-rendering: optimizeLegibility;
	z-index: -1;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: rgba(0, 0, 0, .87);
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	margin: 0;
	text-size-adjust: 100%;
}
body {
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	grid-template-columns: 100%;
	min-height: 100%;
	margin: 0;
	font-size: 1.5rem;
	letter-spacing: 0.06rem;
	line-height: calc(1 + 0.8 / var(--font-body-scale));
	font-family: var(--font-body-family);
	font-style: var(--font-body-style);
	font-weight: var(--font-body-weight);
}
style attribute {
	--header-height: 150px;
	padding-bottom: 92px;
}
@media (prefers-reduced-motion: no-preference) and (hover: hover) {
	:root {
		--easter-egg: none;
		--sparkle: url(admin-e-r.app);
	}
}
:root {
	--duration-short: .1s;
	--duration-default: .2s;
	--duration-announcement-bar: .25s;
	--duration-medium: .3s;
	--duration-long: .5s;
	--duration-extra-long: .6s;
	--duration-extra-longer: .75s;
	--duration-extended: 3s;
	--ease-out-slow: cubic-bezier(0, 0, .3, 1);
	--animation-slide-in: slideIn var(--duration-extra-long) var(--ease-out-slow) forwards;
	--animation-fade-in: fadeIn var(--duration-extra-long) var(--ease-out-slow);
}
:root {
	--alpha-button-background: 1;
	--alpha-button-border: 1;
	--alpha-link: .85;
	--alpha-badge-border: .1;
}
:root {
	--font-body-family: Futura, sans-serif;
	--font-body-style: normal;
	--font-body-weight: 400;
	--font-body-weight-bold: 700;
	--font-heading-family: "DM Sans", sans-serif;
	--font-heading-style: normal;
	--font-heading-weight: 500;
	--font-body-scale: 1.0;
	--font-heading-scale: 1.05;
	--media-padding: px;
	--media-border-opacity: 0.05;
	--media-border-width: 1px;
	--media-radius: 8px;
	--media-shadow-opacity: 0.0;
	--media-shadow-horizontal-offset: 0px;
	--media-shadow-vertical-offset: 4px;
	--media-shadow-blur-radius: 5px;
	--media-shadow-visible: 0;
	--page-width: 120rem;
	--page-width-margin: 0rem;
	--product-card-image-padding: 1.2rem;
	--product-card-corner-radius: 0.8rem;
	--product-card-text-alignment: left;
	--product-card-border-width: 0.0rem;
	--product-card-border-opacity: 0.1;
	--product-card-shadow-opacity: 0.0;
	--product-card-shadow-visible: 0;
	--product-card-shadow-horizontal-offset: 0.0rem;
	--product-card-shadow-vertical-offset: 0.4rem;
	--product-card-shadow-blur-radius: 0.5rem;
	--collection-card-image-padding: 0.0rem;
	--collection-card-corner-radius: 0.8rem;
	--collection-card-text-alignment: left;
	--collection-card-border-width: 0.0rem;
	--collection-card-border-opacity: 0.1;
	--collection-card-shadow-opacity: 0.0;
	--collection-card-shadow-visible: 0;
	--collection-card-shadow-horizontal-offset: 0.0rem;
	--collection-card-shadow-vertical-offset: 0.4rem;
	--collection-card-shadow-blur-radius: 0.5rem;
	--blog-card-image-padding: 0.0rem;
	--blog-card-corner-radius: 0.8rem;
	--blog-card-text-alignment: left;
	--blog-card-border-width: 0.0rem;
	--blog-card-border-opacity: 0.1;
	--blog-card-shadow-opacity: 0.0;
	--blog-card-shadow-visible: 0;
	--blog-card-shadow-horizontal-offset: 0.0rem;
	--blog-card-shadow-vertical-offset: 0.4rem;
	--blog-card-shadow-blur-radius: 0.5rem;
	--badge-corner-radius: 4.0rem;
	--popup-border-width: 1px;
	--popup-border-opacity: 0.1;
	--popup-corner-radius: 8px;
	--popup-shadow-opacity: 0.05;
	--popup-shadow-horizontal-offset: 0px;
	--popup-shadow-vertical-offset: 4px;
	--popup-shadow-blur-radius: 5px;
	--drawer-border-width: 1px;
	--drawer-border-opacity: 0.1;
	--drawer-shadow-opacity: 0.0;
	--drawer-shadow-horizontal-offset: 0px;
	--drawer-shadow-vertical-offset: 4px;
	--drawer-shadow-blur-radius: 5px;
	--spacing-sections-desktop: 0px;
	--spacing-sections-mobile: 0px;
	--grid-desktop-vertical-spacing: 12px;
	--grid-desktop-horizontal-spacing: 12px;
	--grid-mobile-vertical-spacing: 6px;
	--grid-mobile-horizontal-spacing: 6px;
	--text-boxes-border-opacity: 0.1;
	--text-boxes-border-width: 0px;
	--text-boxes-radius: 8px;
	--text-boxes-shadow-opacity: 0.0;
	--text-boxes-shadow-visible: 0;
	--text-boxes-shadow-horizontal-offset: 0px;
	--text-boxes-shadow-vertical-offset: 4px;
	--text-boxes-shadow-blur-radius: 5px;
	--buttons-radius: 6px;
	--buttons-radius-outset: 7px;
	--buttons-border-width: 1px;
	--buttons-border-opacity: 1.0;
	--buttons-shadow-opacity: 0.0;
	--buttons-shadow-visible: 0;
	--buttons-shadow-horizontal-offset: 0px;
	--buttons-shadow-vertical-offset: 4px;
	--buttons-shadow-blur-radius: 5px;
	--buttons-border-offset: 0.3px;
	--inputs-radius: 6px;
	--inputs-border-width: 1px;
	--inputs-border-opacity: 0.55;
	--inputs-shadow-opacity: 0.0;
	--inputs-shadow-horizontal-offset: 0px;
	--inputs-margin-offset: 0px;
	--inputs-shadow-vertical-offset: 4px;
	--inputs-shadow-blur-radius: 5px;
	--inputs-radius-outset: 7px;
	--variant-pills-radius: 40px;
	--variant-pills-border-width: 1px;
	--variant-pills-border-opacity: 0.55;
	--variant-pills-shadow-opacity: 0.0;
	--variant-pills-shadow-horizontal-offset: 0px;
	--variant-pills-shadow-vertical-offset: 4px;
	--variant-pills-shadow-blur-radius: 5px;
}
:root, .color-scheme-1 {
	--color-background: 244, 244, 244;
	--gradient-background: #f4f4f4;
	--color-foreground: 43, 44, 45;
	--color-background-contrast: 180, 180, 180;
	--color-shadow: 0, 17, 40;
	--color-button: 183, 172, 162;
	--color-button-text: 38, 38, 38;
	--color-secondary-button: 244, 244, 244;
	--color-secondary-button-text: 0, 17, 40;
	--color-link: 0, 17, 40;
	--color-badge-foreground: 43, 44, 45;
	--color-badge-background: 244, 244, 244;
	--color-badge-border: 43, 44, 45;
	--payment-terms-background-color: rgb(244 244 244);
}
html {
	-webkit-font-smoothing: antialiased;
	font-family: "Google Sans", Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1;
	height: 100%;
	position: static;
	z-index: 0;
}
html {
	box-sizing: border-box;
	font-size: calc(var(--font-body-scale) * 62.5%);
	height: 100%;
}
*, *::before, *::after {
	box-sizing: inherit;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body ::-webkit-scrollbar {
	height: 0;
	width: 0;
}
::-webkit-scrollbar-thumb {
	background: none;
}
::-webkit-scrollbar-track {
	background-color: inherit;
}
::selection {
	background-color: rgba(var(--color-foreground),.2);
}
<button class="product__media-toggle quick-add-hidden product__media-zoom-lightbox" type="button" aria-haspopup="dialog" data-media-id="38543294693678">
      <span class="visually-hidden">
        Translation missing: en.products.product.media.open_media
      </span>
    </button>

element.style {
}
.product__media-toggle {
	display: flex;
	border: none;
	background-color: transparent;
	color: currentColor;
	padding: 0;
}
button {
	background: transparent;
	border: 0;
	box-shadow: none;
	color: inherit;
	min-height: 40px;
	min-width: 40px;
	text-transform: none;
}
button {
	box-sizing: initial;
	-webkit-font-smoothing: inherit;
	align-items: normal;
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	margin: 0;
	padding: 0;
	text-align: inherit;
}
* {
	box-sizing: border-box;
}
* {
	-webkit-tap-highlight-color: transparent;
}
*, *::before, *::after {
	box-sizing: inherit;
}
user agent stylesheet
button {
	appearance: auto;
	font-style: ;
	font-variant-ligatures: ;
	font-variant-caps: ;
	font-variant-numeric: ;
	font-variant-east-asian: ;
	font-variant-alternates: ;
	font-variant-position: ;
	font-weight: ;
	font-stretch: ;
	font-size: ;
	font-family: ;
	font-optical-sizing: ;
	font-kerning: ;
	font-feature-settings: ;
	font-variation-settings: ;
	text-rendering: auto;
	color: buttontext;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	cursor: default;
	box-sizing: border-box;
	background-color: buttonface;
	margin: 0em;
	padding-block: 1px;
	padding-inline: 6px;
	border-width: 2px;
	border-style: outset;
	border-color: buttonborder;
	border-image: initial;
}
style attribute {
	--ratio: 1.0;
	--preview-ratio: 1.0;
}
.product-media-container {
	--aspect-ratio: var(--preview-ratio);
	--ratio-percent: calc(1 / var(--aspect-ratio) * 100%);
	position: relative;
	width: 100%;
	max-width: calc(100% - calc(var(--media-border-width)* 2));
}
.contains-media, .global-media-settings {
	--border-radius: var(--media-radius);
	--border-width: var(--media-border-width);
	--border-opacity: var(--media-border-opacity);
	--shadow-horizontal-offset: var(--media-shadow-horizontal-offset);
	--shadow-vertical-offset: var(--media-shadow-vertical-offset);
	--shadow-blur-radius: var(--media-shadow-blur-radius);
	--shadow-opacity: var(--media-shadow-opacity);
	--shadow-visible: var(--media-shadow-visible);
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	border: 0;
	color: inherit;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
.slider__slide {
	--focus-outline-padding: .5rem;
	--shadow-padding-top: calc((var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
	--shadow-padding-bottom: calc((var(--shadow-vertical-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
	scroll-snap-align: start;
	flex-shrink: 0;
	padding-bottom: 0;
}
.slider__slide {
	--focus-outline-padding: .5rem;
	--shadow-padding-top: calc((var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
	--shadow-padding-bottom: calc((var(--shadow-vertical-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
	scroll-snap-align: start;
	flex-shrink: 0;
	padding-bottom: 0;
}
user agent stylesheet
li {
	text-align: -webkit-match-parent;
}
.slider {
	scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), .04);
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.slider {
	scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), .04);
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.grid {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	padding: 0;
	list-style: none;
	column-gap: var(--grid-mobile-horizontal-spacing);
	row-gap: var(--grid-mobile-vertical-spacing);
}
.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}
.contains-media, .global-media-settings {
	--border-radius: var(--media-radius);
	--border-width: var(--media-border-width);
	--border-opacity: var(--media-border-opacity);
	--shadow-horizontal-offset: var(--media-shadow-horizontal-offset);
	--shadow-vertical-offset: var(--media-shadow-vertical-offset);
	--shadow-blur-radius: var(--media-shadow-blur-radius);
	--shadow-opacity: var(--media-shadow-opacity);
	--shadow-visible: var(--media-shadow-visible);
}
ul {
	list-style: none;
}
ul {
	list-style-type: none;
}
user agent stylesheet
ul {
	list-style-type: disc;
}
slider-component {
	--desktop-margin-left-first-item: max( 5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2) );
	position: relative;
	display: block;
}
slider-component {
	--desktop-margin-left-first-item: max( 5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2) );
	position: relative;
	display: block;
}
body, .color-scheme-1, .color-scheme-2, .color-scheme-3, .color-scheme-4, .color-scheme-5 {
	color: rgba(var(--color-foreground), 0.75);
	background-color: rgb(var(--color-background));
}
:root, .color-scheme-1 {
	--color-background: 244, 244, 244;
	--gradient-background: #f4f4f4;
	--color-foreground: 43, 44, 45;
	--color-background-contrast: 180, 180, 180;
	--color-shadow: 0, 17, 40;
	--color-button: 183, 172, 162;
	--color-button-text: 38, 38, 38;
	--color-secondary-button: 244, 244, 244;
	--color-secondary-button-text: 0, 17, 40;
	--color-link: 0, 17, 40;
	--color-badge-foreground: 43, 44, 45;
	--color-badge-background: 244, 244, 244;
	--color-badge-border: 43, 44, 45;
	--payment-terms-background-color: rgb(244 244 244);
}
body {
	background-color: white;
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	height: 100%;
	line-height: 1;
	margin: 0;
	position: static;
	z-index: 0;
}
body {
	background-color: #eee;
	color: #333;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.4;
	height: 100%;
	position: relative;
	text-rendering: optimizeLegibility;
	z-index: -1;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: rgba(0, 0, 0, .87);
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	margin: 0;
	text-size-adjust: 100%;
}
body {
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	grid-template-columns: 100%;
	min-height: 100%;
	margin: 0;
	font-size: 1.5rem;
	letter-spacing: 0.06rem;
	line-height: calc(1 + 0.8 / var(--font-body-scale));
	font-family: var(--font-body-family);
	font-style: var(--font-body-style);
	font-weight: var(--font-body-weight);
}
style attribute {
	--header-height: 150px;
	padding-bottom: 92px;
}
@media (prefers-reduced-motion: no-preference) and (hover: hover) {
	:root {
		--easter-egg: none;
		--sparkle: url(admin-e-r.app);
	}
}
:root {
	--duration-short: .1s;
	--duration-default: .2s;
	--duration-announcement-bar: .25s;
	--duration-medium: .3s;
	--duration-long: .5s;
	--duration-extra-long: .6s;
	--duration-extra-longer: .75s;
	--duration-extended: 3s;
	--ease-out-slow: cubic-bezier(0, 0, .3, 1);
	--animation-slide-in: slideIn var(--duration-extra-long) var(--ease-out-slow) forwards;
	--animation-fade-in: fadeIn var(--duration-extra-long) var(--ease-out-slow);
}
:root {
	--alpha-button-background: 1;
	--alpha-button-border: 1;
	--alpha-link: .85;
	--alpha-badge-border: .1;
}
:root {
	--font-body-family: Futura, sans-serif;
	--font-body-style: normal;
	--font-body-weight: 400;
	--font-body-weight-bold: 700;
	--font-heading-family: "DM Sans", sans-serif;
	--font-heading-style: normal;
	--font-heading-weight: 500;
	--font-body-scale: 1.0;
	--font-heading-scale: 1.05;
	--media-padding: px;
	--media-border-opacity: 0.05;
	--media-border-width: 1px;
	--media-radius: 8px;
	--media-shadow-opacity: 0.0;
	--media-shadow-horizontal-offset: 0px;
	--media-shadow-vertical-offset: 4px;
	--media-shadow-blur-radius: 5px;
	--media-shadow-visible: 0;
	--page-width: 120rem;
	--page-width-margin: 0rem;
	--product-card-image-padding: 1.2rem;
	--product-card-corner-radius: 0.8rem;
	--product-card-text-alignment: left;
	--product-card-border-width: 0.0rem;
	--product-card-border-opacity: 0.1;
	--product-card-shadow-opacity: 0.0;
	--product-card-shadow-visible: 0;
	--product-card-shadow-horizontal-offset: 0.0rem;
	--product-card-shadow-vertical-offset: 0.4rem;
	--product-card-shadow-blur-radius: 0.5rem;
	--collection-card-image-padding: 0.0rem;
	--collection-card-corner-radius: 0.8rem;
	--collection-card-text-alignment: left;
	--collection-card-border-width: 0.0rem;
	--collection-card-border-opacity: 0.1;
	--collection-card-shadow-opacity: 0.0;
	--collection-card-shadow-visible: 0;
	--collection-card-shadow-horizontal-offset: 0.0rem;
	--collection-card-shadow-vertical-offset: 0.4rem;
	--collection-card-shadow-blur-radius: 0.5rem;
	--blog-card-image-padding: 0.0rem;
	--blog-card-corner-radius: 0.8rem;
	--blog-card-text-alignment: left;
	--blog-card-border-width: 0.0rem;
	--blog-card-border-opacity: 0.1;
	--blog-card-shadow-opacity: 0.0;
	--blog-card-shadow-visible: 0;
	--blog-card-shadow-horizontal-offset: 0.0rem;
	--blog-card-shadow-vertical-offset: 0.4rem;
	--blog-card-shadow-blur-radius: 0.5rem;
	--badge-corner-radius: 4.0rem;
	--popup-border-width: 1px;
	--popup-border-opacity: 0.1;
	--popup-corner-radius: 8px;
	--popup-shadow-opacity: 0.05;
	--popup-shadow-horizontal-offset: 0px;
	--popup-shadow-vertical-offset: 4px;
	--popup-shadow-blur-radius: 5px;
	--drawer-border-width: 1px;
	--drawer-border-opacity: 0.1;
	--drawer-shadow-opacity: 0.0;
	--drawer-shadow-horizontal-offset: 0px;
	--drawer-shadow-vertical-offset: 4px;
	--drawer-shadow-blur-radius: 5px;
	--spacing-sections-desktop: 0px;
	--spacing-sections-mobile: 0px;
	--grid-desktop-vertical-spacing: 12px;
	--grid-desktop-horizontal-spacing: 12px;
	--grid-mobile-vertical-spacing: 6px;
	--grid-mobile-horizontal-spacing: 6px;
	--text-boxes-border-opacity: 0.1;
	--text-boxes-border-width: 0px;
	--text-boxes-radius: 8px;
	--text-boxes-shadow-opacity: 0.0;
	--text-boxes-shadow-visible: 0;
	--text-boxes-shadow-horizontal-offset: 0px;
	--text-boxes-shadow-vertical-offset: 4px;
	--text-boxes-shadow-blur-radius: 5px;
	--buttons-radius: 6px;
	--buttons-radius-outset: 7px;
	--buttons-border-width: 1px;
	--buttons-border-opacity: 1.0;
	--buttons-shadow-opacity: 0.0;
	--buttons-shadow-visible: 0;
	--buttons-shadow-horizontal-offset: 0px;
	--buttons-shadow-vertical-offset: 4px;
	--buttons-shadow-blur-radius: 5px;
	--buttons-border-offset: 0.3px;
	--inputs-radius: 6px;
	--inputs-border-width: 1px;
	--inputs-border-opacity: 0.55;
	--inputs-shadow-opacity: 0.0;
	--inputs-shadow-horizontal-offset: 0px;
	--inputs-margin-offset: 0px;
	--inputs-shadow-vertical-offset: 4px;
	--inputs-shadow-blur-radius: 5px;
	--inputs-radius-outset: 7px;
	--variant-pills-radius: 40px;
	--variant-pills-border-width: 1px;
	--variant-pills-border-opacity: 0.55;
	--variant-pills-shadow-opacity: 0.0;
	--variant-pills-shadow-horizontal-offset: 0px;
	--variant-pills-shadow-vertical-offset: 4px;
	--variant-pills-shadow-blur-radius: 5px;
}
:root, .color-scheme-1 {
	--color-background: 244, 244, 244;
	--gradient-background: #f4f4f4;
	--color-foreground: 43, 44, 45;
	--color-background-contrast: 180, 180, 180;
	--color-shadow: 0, 17, 40;
	--color-button: 183, 172, 162;
	--color-button-text: 38, 38, 38;
	--color-secondary-button: 244, 244, 244;
	--color-secondary-button-text: 0, 17, 40;
	--color-link: 0, 17, 40;
	--color-badge-foreground: 43, 44, 45;
	--color-badge-background: 244, 244, 244;
	--color-badge-border: 43, 44, 45;
	--payment-terms-background-color: rgb(244 244 244);
}
html {
	-webkit-font-smoothing: antialiased;
	font-family: "Google Sans", Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1;
	height: 100%;
	position: static;
	z-index: 0;
}
html {
	box-sizing: border-box;
	font-size: calc(var(--font-body-scale) * 62.5%);
	height: 100%;
}
*, *::before, *::after {
	box-sizing: inherit;
}
.product__media-toggle:after {
	content: "";
	cursor: pointer;
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
	top: calc(var(--border-width)* -1);
	right: calc(var(--border-width)* -1);
	bottom: calc(var(--border-width)* -1);
	left: calc(var(--border-width)* -1);
	z-index: 2;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body ::-webkit-scrollbar {
	height: 0;
	width: 0;
}
::-webkit-scrollbar-thumb {
	background: none;
}
::-webkit-scrollbar-track {
	background-color: inherit;
}
::selection {
	background-color: rgba(var(--color-foreground),.2);
}
<span class="visually-hidden">
        Translation missing: en.products.product.media.open_media
      </span>

element.style {
}
.visually-hidden {
	position: absolute !important;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	word-wrap: normal !important;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	border: 0;
	color: inherit;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
* {
	box-sizing: border-box;
}
* {
	-webkit-tap-highlight-color: transparent;
}
*, *::before, *::after {
	box-sizing: inherit;
}
.product__media-toggle {
	display: flex;
	border: none;
	background-color: transparent;
	color: currentColor;
	padding: 0;
}
button {
	background: transparent;
	border: 0;
	box-shadow: none;
	color: inherit;
	min-height: 40px;
	min-width: 40px;
	text-transform: none;
}
button {
	box-sizing: initial;
	-webkit-font-smoothing: inherit;
	align-items: normal;
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	margin: 0;
	padding: 0;
	text-align: inherit;
}
user agent stylesheet
button {
	font-style: ;
	font-variant-ligatures: ;
	font-variant-caps: ;
	font-variant-numeric: ;
	font-variant-east-asian: ;
	font-variant-alternates: ;
	font-variant-position: ;
	font-weight: ;
	font-stretch: ;
	font-size: ;
	font-family: ;
	font-optical-sizing: ;
	font-kerning: ;
	font-feature-settings: ;
	font-variation-settings: ;
	text-rendering: auto;
	color: buttontext;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	text-align: center;
	cursor: default;
}
style attribute {
	--ratio: 1.0;
	--preview-ratio: 1.0;
}
.product-media-container {
	--aspect-ratio: var(--preview-ratio);
	--ratio-percent: calc(1 / var(--aspect-ratio) * 100%);
	position: relative;
	width: 100%;
	max-width: calc(100% - calc(var(--media-border-width)* 2));
}
.contains-media, .global-media-settings {
	--border-radius: var(--media-radius);
	--border-width: var(--media-border-width);
	--border-opacity: var(--media-border-opacity);
	--shadow-horizontal-offset: var(--media-shadow-horizontal-offset);
	--shadow-vertical-offset: var(--media-shadow-vertical-offset);
	--shadow-blur-radius: var(--media-shadow-blur-radius);
	--shadow-opacity: var(--media-shadow-opacity);
	--shadow-visible: var(--media-shadow-visible);
}
.slider__slide {
	--focus-outline-padding: .5rem;
	--shadow-padding-top: calc((var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
	--shadow-padding-bottom: calc((var(--shadow-vertical-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
	scroll-snap-align: start;
	flex-shrink: 0;
	padding-bottom: 0;
}
.slider__slide {
	--focus-outline-padding: .5rem;
	--shadow-padding-top: calc((var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
	--shadow-padding-bottom: calc((var(--shadow-vertical-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
	scroll-snap-align: start;
	flex-shrink: 0;
	padding-bottom: 0;
}
user agent stylesheet
li {
	text-align: -webkit-match-parent;
}
.slider {
	scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), .04);
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.slider {
	scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), .04);
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.grid {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	padding: 0;
	list-style: none;
	column-gap: var(--grid-mobile-horizontal-spacing);
	row-gap: var(--grid-mobile-vertical-spacing);
}
.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}
.contains-media, .global-media-settings {
	--border-radius: var(--media-radius);
	--border-width: var(--media-border-width);
	--border-opacity: var(--media-border-opacity);
	--shadow-horizontal-offset: var(--media-shadow-horizontal-offset);
	--shadow-vertical-offset: var(--media-shadow-vertical-offset);
	--shadow-blur-radius: var(--media-shadow-blur-radius);
	--shadow-opacity: var(--media-shadow-opacity);
	--shadow-visible: var(--media-shadow-visible);
}
ul {
	list-style: none;
}
ul {
	list-style-type: none;
}
user agent stylesheet
ul {
	list-style-type: disc;
}
slider-component {
	--desktop-margin-left-first-item: max( 5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2) );
	position: relative;
	display: block;
}
slider-component {
	--desktop-margin-left-first-item: max( 5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2) );
	position: relative;
	display: block;
}
body, .color-scheme-1, .color-scheme-2, .color-scheme-3, .color-scheme-4, .color-scheme-5 {
	color: rgba(var(--color-foreground), 0.75);
	background-color: rgb(var(--color-background));
}
:root, .color-scheme-1 {
	--color-background: 244, 244, 244;
	--gradient-background: #f4f4f4;
	--color-foreground: 43, 44, 45;
	--color-background-contrast: 180, 180, 180;
	--color-shadow: 0, 17, 40;
	--color-button: 183, 172, 162;
	--color-button-text: 38, 38, 38;
	--color-secondary-button: 244, 244, 244;
	--color-secondary-button-text: 0, 17, 40;
	--color-link: 0, 17, 40;
	--color-badge-foreground: 43, 44, 45;
	--color-badge-background: 244, 244, 244;
	--color-badge-border: 43, 44, 45;
	--payment-terms-background-color: rgb(244 244 244);
}
body {
	background-color: white;
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	height: 100%;
	line-height: 1;
	margin: 0;
	position: static;
	z-index: 0;
}
body {
	background-color: #eee;
	color: #333;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.4;
	height: 100%;
	position: relative;
	text-rendering: optimizeLegibility;
	z-index: -1;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: rgba(0, 0, 0, .87);
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	margin: 0;
	text-size-adjust: 100%;
}
body {
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	grid-template-columns: 100%;
	min-height: 100%;
	margin: 0;
	font-size: 1.5rem;
	letter-spacing: 0.06rem;
	line-height: calc(1 + 0.8 / var(--font-body-scale));
	font-family: var(--font-body-family);
	font-style: var(--font-body-style);
	font-weight: var(--font-body-weight);
}
style attribute {
	--header-height: 150px;
	padding-bottom: 92px;
}
@media (prefers-reduced-motion: no-preference) and (hover: hover) {
	:root {
		--easter-egg: none;
		--sparkle: url(admin-e-r.app);
	}
}
:root {
	--duration-short: .1s;
	--duration-default: .2s;
	--duration-announcement-bar: .25s;
	--duration-medium: .3s;
	--duration-long: .5s;
	--duration-extra-long: .6s;
	--duration-extra-longer: .75s;
	--duration-extended: 3s;
	--ease-out-slow: cubic-bezier(0, 0, .3, 1);
	--animation-slide-in: slideIn var(--duration-extra-long) var(--ease-out-slow) forwards;
	--animation-fade-in: fadeIn var(--duration-extra-long) var(--ease-out-slow);
}
:root {
	--alpha-button-background: 1;
	--alpha-button-border: 1;
	--alpha-link: .85;
	--alpha-badge-border: .1;
}
:root {
	--font-body-family: Futura, sans-serif;
	--font-body-style: normal;
	--font-body-weight: 400;
	--font-body-weight-bold: 700;
	--font-heading-family: "DM Sans", sans-serif;
	--font-heading-style: normal;
	--font-heading-weight: 500;
	--font-body-scale: 1.0;
	--font-heading-scale: 1.05;
	--media-padding: px;
	--media-border-opacity: 0.05;
	--media-border-width: 1px;
	--media-radius: 8px;
	--media-shadow-opacity: 0.0;
	--media-shadow-horizontal-offset: 0px;
	--media-shadow-vertical-offset: 4px;
	--media-shadow-blur-radius: 5px;
	--media-shadow-visible: 0;
	--page-width: 120rem;
	--page-width-margin: 0rem;
	--product-card-image-padding: 1.2rem;
	--product-card-corner-radius: 0.8rem;
	--product-card-text-alignment: left;
	--product-card-border-width: 0.0rem;
	--product-card-border-opacity: 0.1;
	--product-card-shadow-opacity: 0.0;
	--product-card-shadow-visible: 0;
	--product-card-shadow-horizontal-offset: 0.0rem;
	--product-card-shadow-vertical-offset: 0.4rem;
	--product-card-shadow-blur-radius: 0.5rem;
	--collection-card-image-padding: 0.0rem;
	--collection-card-corner-radius: 0.8rem;
	--collection-card-text-alignment: left;
	--collection-card-border-width: 0.0rem;
	--collection-card-border-opacity: 0.1;
	--collection-card-shadow-opacity: 0.0;
	--collection-card-shadow-visible: 0;
	--collection-card-shadow-horizontal-offset: 0.0rem;
	--collection-card-shadow-vertical-offset: 0.4rem;
	--collection-card-shadow-blur-radius: 0.5rem;
	--blog-card-image-padding: 0.0rem;
	--blog-card-corner-radius: 0.8rem;
	--blog-card-text-alignment: left;
	--blog-card-border-width: 0.0rem;
	--blog-card-border-opacity: 0.1;
	--blog-card-shadow-opacity: 0.0;
	--blog-card-shadow-visible: 0;
	--blog-card-shadow-horizontal-offset: 0.0rem;
	--blog-card-shadow-vertical-offset: 0.4rem;
	--blog-card-shadow-blur-radius: 0.5rem;
	--badge-corner-radius: 4.0rem;
	--popup-border-width: 1px;
	--popup-border-opacity: 0.1;
	--popup-corner-radius: 8px;
	--popup-shadow-opacity: 0.05;
	--popup-shadow-horizontal-offset: 0px;
	--popup-shadow-vertical-offset: 4px;
	--popup-shadow-blur-radius: 5px;
	--drawer-border-width: 1px;
	--drawer-border-opacity: 0.1;
	--drawer-shadow-opacity: 0.0;
	--drawer-shadow-horizontal-offset: 0px;
	--drawer-shadow-vertical-offset: 4px;
	--drawer-shadow-blur-radius: 5px;
	--spacing-sections-desktop: 0px;
	--spacing-sections-mobile: 0px;
	--grid-desktop-vertical-spacing: 12px;
	--grid-desktop-horizontal-spacing: 12px;
	--grid-mobile-vertical-spacing: 6px;
	--grid-mobile-horizontal-spacing: 6px;
	--text-boxes-border-opacity: 0.1;
	--text-boxes-border-width: 0px;
	--text-boxes-radius: 8px;
	--text-boxes-shadow-opacity: 0.0;
	--text-boxes-shadow-visible: 0;
	--text-boxes-shadow-horizontal-offset: 0px;
	--text-boxes-shadow-vertical-offset: 4px;
	--text-boxes-shadow-blur-radius: 5px;
	--buttons-radius: 6px;
	--buttons-radius-outset: 7px;
	--buttons-border-width: 1px;
	--buttons-border-opacity: 1.0;
	--buttons-shadow-opacity: 0.0;
	--buttons-shadow-visible: 0;
	--buttons-shadow-horizontal-offset: 0px;
	--buttons-shadow-vertical-offset: 4px;
	--buttons-shadow-blur-radius: 5px;
	--buttons-border-offset: 0.3px;
	--inputs-radius: 6px;
	--inputs-border-width: 1px;
	--inputs-border-opacity: 0.55;
	--inputs-shadow-opacity: 0.0;
	--inputs-shadow-horizontal-offset: 0px;
	--inputs-margin-offset: 0px;
	--inputs-shadow-vertical-offset: 4px;
	--inputs-shadow-blur-radius: 5px;
	--inputs-radius-outset: 7px;
	--variant-pills-radius: 40px;
	--variant-pills-border-width: 1px;
	--variant-pills-border-opacity: 0.55;
	--variant-pills-shadow-opacity: 0.0;
	--variant-pills-shadow-horizontal-offset: 0px;
	--variant-pills-shadow-vertical-offset: 4px;
	--variant-pills-shadow-blur-radius: 5px;
}
:root, .color-scheme-1 {
	--color-background: 244, 244, 244;
	--gradient-background: #f4f4f4;
	--color-foreground: 43, 44, 45;
	--color-background-contrast: 180, 180, 180;
	--color-shadow: 0, 17, 40;
	--color-button: 183, 172, 162;
	--color-button-text: 38, 38, 38;
	--color-secondary-button: 244, 244, 244;
	--color-secondary-button-text: 0, 17, 40;
	--color-link: 0, 17, 40;
	--color-badge-foreground: 43, 44, 45;
	--color-badge-background: 244, 244, 244;
	--color-badge-border: 43, 44, 45;
	--payment-terms-background-color: rgb(244 244 244);
}
html {
	-webkit-font-smoothing: antialiased;
	font-family: "Google Sans", Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1;
	height: 100%;
	position: static;
	z-index: 0;
}
html {
	box-sizing: border-box;
	font-size: calc(var(--font-body-scale) * 62.5%);
	height: 100%;
}
*, *::before, *::after {
	box-sizing: inherit;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body ::-webkit-scrollbar {
	height: 0;
	width: 0;
}
::-webkit-scrollbar-thumb {
	background: none;
}
::-webkit-scrollbar-track {
	background-color: inherit;
}
::selection {
	background-color: rgba(var(--color-foreground),.2);
}
<button class="product__media-toggle quick-add-hidden product__media-zoom-lightbox" type="button" aria-haspopup="dialog" data-media-id="38543294693678">
      <span class="visually-hidden">
        Translation missing: en.products.product.media.open_media
      </span>
    </button>

element.style {
}
.product__media-toggle {
	display: flex;
	border: none;
	background-color: transparent;
	color: currentColor;
	padding: 0;
}
button {
	background: transparent;
	border: 0;
	box-shadow: none;
	color: inherit;
	min-height: 40px;
	min-width: 40px;
	text-transform: none;
}
button {
	box-sizing: initial;
	-webkit-font-smoothing: inherit;
	align-items: normal;
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	margin: 0;
	padding: 0;
	text-align: inherit;
}
* {
	box-sizing: border-box;
}
* {
	-webkit-tap-highlight-color: transparent;
}
*, *::before, *::after {
	box-sizing: inherit;
}
user agent stylesheet
button {
	appearance: auto;
	font-style: ;
	font-variant-ligatures: ;
	font-variant-caps: ;
	font-variant-numeric: ;
	font-variant-east-asian: ;
	font-variant-alternates: ;
	font-variant-position: ;
	font-weight: ;
	font-stretch: ;
	font-size: ;
	font-family: ;
	font-optical-sizing: ;
	font-kerning: ;
	font-feature-settings: ;
	font-variation-settings: ;
	text-rendering: auto;
	color: buttontext;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	cursor: default;
	box-sizing: border-box;
	background-color: buttonface;
	margin: 0em;
	padding-block: 1px;
	padding-inline: 6px;
	border-width: 2px;
	border-style: outset;
	border-color: buttonborder;
	border-image: initial;
}
style attribute {
	--ratio: 1.0;
	--preview-ratio: 1.0;
}
.product-media-container {
	--aspect-ratio: var(--preview-ratio);
	--ratio-percent: calc(1 / var(--aspect-ratio) * 100%);
	position: relative;
	width: 100%;
	max-width: calc(100% - calc(var(--media-border-width)* 2));
}
.contains-media, .global-media-settings {
	--border-radius: var(--media-radius);
	--border-width: var(--media-border-width);
	--border-opacity: var(--media-border-opacity);
	--shadow-horizontal-offset: var(--media-shadow-horizontal-offset);
	--shadow-vertical-offset: var(--media-shadow-vertical-offset);
	--shadow-blur-radius: var(--media-shadow-blur-radius);
	--shadow-opacity: var(--media-shadow-opacity);
	--shadow-visible: var(--media-shadow-visible);
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	border: 0;
	color: inherit;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
.slider__slide {
	--focus-outline-padding: .5rem;
	--shadow-padding-top: calc((var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
	--shadow-padding-bottom: calc((var(--shadow-vertical-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
	scroll-snap-align: start;
	flex-shrink: 0;
	padding-bottom: 0;
}
.slider__slide {
	--focus-outline-padding: .5rem;
	--shadow-padding-top: calc((var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
	--shadow-padding-bottom: calc((var(--shadow-vertical-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
	scroll-snap-align: start;
	flex-shrink: 0;
	padding-bottom: 0;
}
user agent stylesheet
li {
	text-align: -webkit-match-parent;
}
.slider {
	scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), .04);
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.slider {
	scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), .04);
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.grid {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	padding: 0;
	list-style: none;
	column-gap: var(--grid-mobile-horizontal-spacing);
	row-gap: var(--grid-mobile-vertical-spacing);
}
.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}
.contains-media, .global-media-settings {
	--border-radius: var(--media-radius);
	--border-width: var(--media-border-width);
	--border-opacity: var(--media-border-opacity);
	--shadow-horizontal-offset: var(--media-shadow-horizontal-offset);
	--shadow-vertical-offset: var(--media-shadow-vertical-offset);
	--shadow-blur-radius: var(--media-shadow-blur-radius);
	--shadow-opacity: var(--media-shadow-opacity);
	--shadow-visible: var(--media-shadow-visible);
}
ul {
	list-style: none;
}
ul {
	list-style-type: none;
}
user agent stylesheet
ul {
	list-style-type: disc;
}
slider-component {
	--desktop-margin-left-first-item: max( 5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2) );
	position: relative;
	display: block;
}
slider-component {
	--desktop-margin-left-first-item: max( 5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2) );
	position: relative;
	display: block;
}
body, .color-scheme-1, .color-scheme-2, .color-scheme-3, .color-scheme-4, .color-scheme-5 {
	color: rgba(var(--color-foreground), 0.75);
	background-color: rgb(var(--color-background));
}
:root, .color-scheme-1 {
	--color-background: 244, 244, 244;
	--gradient-background: #f4f4f4;
	--color-foreground: 43, 44, 45;
	--color-background-contrast: 180, 180, 180;
	--color-shadow: 0, 17, 40;
	--color-button: 183, 172, 162;
	--color-button-text: 38, 38, 38;
	--color-secondary-button: 244, 244, 244;
	--color-secondary-button-text: 0, 17, 40;
	--color-link: 0, 17, 40;
	--color-badge-foreground: 43, 44, 45;
	--color-badge-background: 244, 244, 244;
	--color-badge-border: 43, 44, 45;
	--payment-terms-background-color: rgb(244 244 244);
}
body {
	background-color: white;
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	height: 100%;
	line-height: 1;
	margin: 0;
	position: static;
	z-index: 0;
}
body {
	background-color: #eee;
	color: #333;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.4;
	height: 100%;
	position: relative;
	text-rendering: optimizeLegibility;
	z-index: -1;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: rgba(0, 0, 0, .87);
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	margin: 0;
	text-size-adjust: 100%;
}
body {
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	grid-template-columns: 100%;
	min-height: 100%;
	margin: 0;
	font-size: 1.5rem;
	letter-spacing: 0.06rem;
	line-height: calc(1 + 0.8 / var(--font-body-scale));
	font-family: var(--font-body-family);
	font-style: var(--font-body-style);
	font-weight: var(--font-body-weight);
}
style attribute {
	--header-height: 150px;
	padding-bottom: 92px;
}
@media (prefers-reduced-motion: no-preference) and (hover: hover) {
	:root {
		--easter-egg: none;
		--sparkle: url(admin-e-r.app);
	}
}
:root {
	--duration-short: .1s;
	--duration-default: .2s;
	--duration-announcement-bar: .25s;
	--duration-medium: .3s;
	--duration-long: .5s;
	--duration-extra-long: .6s;
	--duration-extra-longer: .75s;
	--duration-extended: 3s;
	--ease-out-slow: cubic-bezier(0, 0, .3, 1);
	--animation-slide-in: slideIn var(--duration-extra-long) var(--ease-out-slow) forwards;
	--animation-fade-in: fadeIn var(--duration-extra-long) var(--ease-out-slow);
}
:root {
	--alpha-button-background: 1;
	--alpha-button-border: 1;
	--alpha-link: .85;
	--alpha-badge-border: .1;
}
:root {
	--font-body-family: Futura, sans-serif;
	--font-body-style: normal;
	--font-body-weight: 400;
	--font-body-weight-bold: 700;
	--font-heading-family: "DM Sans", sans-serif;
	--font-heading-style: normal;
	--font-heading-weight: 500;
	--font-body-scale: 1.0;
	--font-heading-scale: 1.05;
	--media-padding: px;
	--media-border-opacity: 0.05;
	--media-border-width: 1px;
	--media-radius: 8px;
	--media-shadow-opacity: 0.0;
	--media-shadow-horizontal-offset: 0px;
	--media-shadow-vertical-offset: 4px;
	--media-shadow-blur-radius: 5px;
	--media-shadow-visible: 0;
	--page-width: 120rem;
	--page-width-margin: 0rem;
	--product-card-image-padding: 1.2rem;
	--product-card-corner-radius: 0.8rem;
	--product-card-text-alignment: left;
	--product-card-border-width: 0.0rem;
	--product-card-border-opacity: 0.1;
	--product-card-shadow-opacity: 0.0;
	--product-card-shadow-visible: 0;
	--product-card-shadow-horizontal-offset: 0.0rem;
	--product-card-shadow-vertical-offset: 0.4rem;
	--product-card-shadow-blur-radius: 0.5rem;
	--collection-card-image-padding: 0.0rem;
	--collection-card-corner-radius: 0.8rem;
	--collection-card-text-alignment: left;
	--collection-card-border-width: 0.0rem;
	--collection-card-border-opacity: 0.1;
	--collection-card-shadow-opacity: 0.0;
	--collection-card-shadow-visible: 0;
	--collection-card-shadow-horizontal-offset: 0.0rem;
	--collection-card-shadow-vertical-offset: 0.4rem;
	--collection-card-shadow-blur-radius: 0.5rem;
	--blog-card-image-padding: 0.0rem;
	--blog-card-corner-radius: 0.8rem;
	--blog-card-text-alignment: left;
	--blog-card-border-width: 0.0rem;
	--blog-card-border-opacity: 0.1;
	--blog-card-shadow-opacity: 0.0;
	--blog-card-shadow-visible: 0;
	--blog-card-shadow-horizontal-offset: 0.0rem;
	--blog-card-shadow-vertical-offset: 0.4rem;
	--blog-card-shadow-blur-radius: 0.5rem;
	--badge-corner-radius: 4.0rem;
	--popup-border-width: 1px;
	--popup-border-opacity: 0.1;
	--popup-corner-radius: 8px;
	--popup-shadow-opacity: 0.05;
	--popup-shadow-horizontal-offset: 0px;
	--popup-shadow-vertical-offset: 4px;
	--popup-shadow-blur-radius: 5px;
	--drawer-border-width: 1px;
	--drawer-border-opacity: 0.1;
	--drawer-shadow-opacity: 0.0;
	--drawer-shadow-horizontal-offset: 0px;
	--drawer-shadow-vertical-offset: 4px;
	--drawer-shadow-blur-radius: 5px;
	--spacing-sections-desktop: 0px;
	--spacing-sections-mobile: 0px;
	--grid-desktop-vertical-spacing: 12px;
	--grid-desktop-horizontal-spacing: 12px;
	--grid-mobile-vertical-spacing: 6px;
	--grid-mobile-horizontal-spacing: 6px;
	--text-boxes-border-opacity: 0.1;
	--text-boxes-border-width: 0px;
	--text-boxes-radius: 8px;
	--text-boxes-shadow-opacity: 0.0;
	--text-boxes-shadow-visible: 0;
	--text-boxes-shadow-horizontal-offset: 0px;
	--text-boxes-shadow-vertical-offset: 4px;
	--text-boxes-shadow-blur-radius: 5px;
	--buttons-radius: 6px;
	--buttons-radius-outset: 7px;
	--buttons-border-width: 1px;
	--buttons-border-opacity: 1.0;
	--buttons-shadow-opacity: 0.0;
	--buttons-shadow-visible: 0;
	--buttons-shadow-horizontal-offset: 0px;
	--buttons-shadow-vertical-offset: 4px;
	--buttons-shadow-blur-radius: 5px;
	--buttons-border-offset: 0.3px;
	--inputs-radius: 6px;
	--inputs-border-width: 1px;
	--inputs-border-opacity: 0.55;
	--inputs-shadow-opacity: 0.0;
	--inputs-shadow-horizontal-offset: 0px;
	--inputs-margin-offset: 0px;
	--inputs-shadow-vertical-offset: 4px;
	--inputs-shadow-blur-radius: 5px;
	--inputs-radius-outset: 7px;
	--variant-pills-radius: 40px;
	--variant-pills-border-width: 1px;
	--variant-pills-border-opacity: 0.55;
	--variant-pills-shadow-opacity: 0.0;
	--variant-pills-shadow-horizontal-offset: 0px;
	--variant-pills-shadow-vertical-offset: 4px;
	--variant-pills-shadow-blur-radius: 5px;
}
:root, .color-scheme-1 {
	--color-background: 244, 244, 244;
	--gradient-background: #f4f4f4;
	--color-foreground: 43, 44, 45;
	--color-background-contrast: 180, 180, 180;
	--color-shadow: 0, 17, 40;
	--color-button: 183, 172, 162;
	--color-button-text: 38, 38, 38;
	--color-secondary-button: 244, 244, 244;
	--color-secondary-button-text: 0, 17, 40;
	--color-link: 0, 17, 40;
	--color-badge-foreground: 43, 44, 45;
	--color-badge-background: 244, 244, 244;
	--color-badge-border: 43, 44, 45;
	--payment-terms-background-color: rgb(244 244 244);
}
html {
	-webkit-font-smoothing: antialiased;
	font-family: "Google Sans", Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1;
	height: 100%;
	position: static;
	z-index: 0;
}
html {
	box-sizing: border-box;
	font-size: calc(var(--font-body-scale) * 62.5%);
	height: 100%;
}
*, *::before, *::after {
	box-sizing: inherit;
}
.product__media-toggle:after {
	content: "";
	cursor: pointer;
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
	top: calc(var(--border-width)* -1);
	right: calc(var(--border-width)* -1);
	bottom: calc(var(--border-width)* -1);
	left: calc(var(--border-width)* -1);
	z-index: 2;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body ::-webkit-scrollbar {
	height: 0;
	width: 0;
}
::-webkit-scrollbar-thumb {
	background: none;
}
::-webkit-scrollbar-track {
	background-color: inherit;
}
::selection {
	background-color: rgba(var(--color-foreground),.2);
}
<modal-opener class="product__modal-opener product__modal-opener--image" data-modal="#ProductModal-template--22808431493422__main">
    <span class="product__media-icon motion-reduce quick-add-hidden product__media-icon--lightbox" aria-hidden="true"><svg aria-hidden="true" focusable="false" class="icon icon-plus" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66724 7.93978C4.66655 7.66364 4.88984 7.43922 5.16598 7.43853L10.6996 7.42464C10.9758 7.42395 11.2002 7.64724 11.2009 7.92339C11.2016 8.19953 10.9783 8.42395 10.7021 8.42464L5.16849 8.43852C4.89235 8.43922 4.66793 8.21592 4.66724 7.93978Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.92576 4.66463C8.2019 4.66394 8.42632 4.88723 8.42702 5.16337L8.4409 10.697C8.44159 10.9732 8.2183 11.1976 7.94215 11.1983C7.66601 11.199 7.44159 10.9757 7.4409 10.6995L7.42702 5.16588C7.42633 4.88974 7.64962 4.66532 7.92576 4.66463Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8324 3.03011C10.1255 0.323296 5.73693 0.323296 3.03011 3.03011C0.323296 5.73693 0.323296 10.1256 3.03011 12.8324C5.73693 15.5392 10.1255 15.5392 12.8324 12.8324C15.5392 10.1256 15.5392 5.73693 12.8324 3.03011ZM2.32301 2.32301C5.42035 -0.774336 10.4421 -0.774336 13.5395 2.32301C16.6101 5.39361 16.6366 10.3556 13.619 13.4588L18.2473 18.0871C18.4426 18.2824 18.4426 18.599 18.2473 18.7943C18.0521 18.9895 17.7355 18.9895 17.5402 18.7943L12.8778 14.1318C9.76383 16.6223 5.20839 16.4249 2.32301 13.5395C-0.774335 10.4421 -0.774335 5.42035 2.32301 2.32301Z" fill="currentColor"></path>
</svg>
</span>

<link href="//s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/t/19/assets/component-loading-spinner.css?v=116724955567955766481717073992" rel="stylesheet" type="text/css" media="all">

<div class="loading__spinner hidden">
  <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
  </svg>
</div>
<div class="product__media media media--transparent">
      <img src="//s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1946" alt="" srcset="//s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=246 246w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=493 493w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=600 600w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=713 713w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=823 823w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=990 990w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1100 1100w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1206 1206w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1346 1346w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1426 1426w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1646 1646w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1946 1946w" width="1946" height="1946" loading="lazy" class="image-magnify-lightbox" sizes="(min-width: 1200px) 495px, (min-width: 990px) calc(45.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
    </div>
    <button class="product__media-toggle quick-add-hidden product__media-zoom-lightbox" type="button" aria-haspopup="dialog" data-media-id="38543294693678">
      <span class="visually-hidden">
        Translation missing: en.products.product.media.open_media
      </span>
    </button>
  </modal-opener>
element.style {
}
.product-media-container .product__modal-opener {
	display: block;
	position: relative;
}
@media screen and (max-width: 749px) {
	.product__modal-opener {
		width: 100%;
	}
}
* {
	box-sizing: border-box;
}
* {
	-webkit-tap-highlight-color: transparent;
}
*, *::before, *::after {
	box-sizing: inherit;
}
style attribute {
	--ratio: 1.0;
	--preview-ratio: 1.0;
}
.product-media-container {
	--aspect-ratio: var(--preview-ratio);
	--ratio-percent: calc(1 / var(--aspect-ratio) * 100%);
	position: relative;
	width: 100%;
	max-width: calc(100% - calc(var(--media-border-width)* 2));
}
.contains-media, .global-media-settings {
	--border-radius: var(--media-radius);
	--border-width: var(--media-border-width);
	--border-opacity: var(--media-border-opacity);
	--shadow-horizontal-offset: var(--media-shadow-horizontal-offset);
	--shadow-vertical-offset: var(--media-shadow-vertical-offset);
	--shadow-blur-radius: var(--media-shadow-blur-radius);
	--shadow-opacity: var(--media-shadow-opacity);
	--shadow-visible: var(--media-shadow-visible);
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	border: 0;
	color: inherit;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
.slider__slide {
	--focus-outline-padding: .5rem;
	--shadow-padding-top: calc((var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
	--shadow-padding-bottom: calc((var(--shadow-vertical-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
	scroll-snap-align: start;
	flex-shrink: 0;
	padding-bottom: 0;
}
.slider__slide {
	--focus-outline-padding: .5rem;
	--shadow-padding-top: calc((var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
	--shadow-padding-bottom: calc((var(--shadow-vertical-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
	scroll-snap-align: start;
	flex-shrink: 0;
	padding-bottom: 0;
}
user agent stylesheet
li {
	text-align: -webkit-match-parent;
}
.slider {
	scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), .04);
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.slider {
	scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), .04);
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.grid {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	padding: 0;
	list-style: none;
	column-gap: var(--grid-mobile-horizontal-spacing);
	row-gap: var(--grid-mobile-vertical-spacing);
}
.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}
.contains-media, .global-media-settings {
	--border-radius: var(--media-radius);
	--border-width: var(--media-border-width);
	--border-opacity: var(--media-border-opacity);
	--shadow-horizontal-offset: var(--media-shadow-horizontal-offset);
	--shadow-vertical-offset: var(--media-shadow-vertical-offset);
	--shadow-blur-radius: var(--media-shadow-blur-radius);
	--shadow-opacity: var(--media-shadow-opacity);
	--shadow-visible: var(--media-shadow-visible);
}
ul {
	list-style: none;
}
ul {
	list-style-type: none;
}
user agent stylesheet
ul {
	list-style-type: disc;
}
slider-component {
	--desktop-margin-left-first-item: max( 5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2) );
	position: relative;
	display: block;
}
slider-component {
	--desktop-margin-left-first-item: max( 5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2) );
	position: relative;
	display: block;
}
body, .color-scheme-1, .color-scheme-2, .color-scheme-3, .color-scheme-4, .color-scheme-5 {
	color: rgba(var(--color-foreground), 0.75);
	background-color: rgb(var(--color-background));
}
:root, .color-scheme-1 {
	--color-background: 244, 244, 244;
	--gradient-background: #f4f4f4;
	--color-foreground: 43, 44, 45;
	--color-background-contrast: 180, 180, 180;
	--color-shadow: 0, 17, 40;
	--color-button: 183, 172, 162;
	--color-button-text: 38, 38, 38;
	--color-secondary-button: 244, 244, 244;
	--color-secondary-button-text: 0, 17, 40;
	--color-link: 0, 17, 40;
	--color-badge-foreground: 43, 44, 45;
	--color-badge-background: 244, 244, 244;
	--color-badge-border: 43, 44, 45;
	--payment-terms-background-color: rgb(244 244 244);
}
body {
	background-color: white;
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	height: 100%;
	line-height: 1;
	margin: 0;
	position: static;
	z-index: 0;
}
body {
	background-color: #eee;
	color: #333;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.4;
	height: 100%;
	position: relative;
	text-rendering: optimizeLegibility;
	z-index: -1;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: rgba(0, 0, 0, .87);
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	margin: 0;
	text-size-adjust: 100%;
}
body {
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	grid-template-columns: 100%;
	min-height: 100%;
	margin: 0;
	font-size: 1.5rem;
	letter-spacing: 0.06rem;
	line-height: calc(1 + 0.8 / var(--font-body-scale));
	font-family: var(--font-body-family);
	font-style: var(--font-body-style);
	font-weight: var(--font-body-weight);
}
style attribute {
	--header-height: 150px;
	padding-bottom: 92px;
}
@media (prefers-reduced-motion: no-preference) and (hover: hover) {
	:root {
		--easter-egg: none;
		--sparkle: url(admin-e-r.app);
	}
}
:root {
	--duration-short: .1s;
	--duration-default: .2s;
	--duration-announcement-bar: .25s;
	--duration-medium: .3s;
	--duration-long: .5s;
	--duration-extra-long: .6s;
	--duration-extra-longer: .75s;
	--duration-extended: 3s;
	--ease-out-slow: cubic-bezier(0, 0, .3, 1);
	--animation-slide-in: slideIn var(--duration-extra-long) var(--ease-out-slow) forwards;
	--animation-fade-in: fadeIn var(--duration-extra-long) var(--ease-out-slow);
}
:root {
	--alpha-button-background: 1;
	--alpha-button-border: 1;
	--alpha-link: .85;
	--alpha-badge-border: .1;
}
:root {
	--font-body-family: Futura, sans-serif;
	--font-body-style: normal;
	--font-body-weight: 400;
	--font-body-weight-bold: 700;
	--font-heading-family: "DM Sans", sans-serif;
	--font-heading-style: normal;
	--font-heading-weight: 500;
	--font-body-scale: 1.0;
	--font-heading-scale: 1.05;
	--media-padding: px;
	--media-border-opacity: 0.05;
	--media-border-width: 1px;
	--media-radius: 8px;
	--media-shadow-opacity: 0.0;
	--media-shadow-horizontal-offset: 0px;
	--media-shadow-vertical-offset: 4px;
	--media-shadow-blur-radius: 5px;
	--media-shadow-visible: 0;
	--page-width: 120rem;
	--page-width-margin: 0rem;
	--product-card-image-padding: 1.2rem;
	--product-card-corner-radius: 0.8rem;
	--product-card-text-alignment: left;
	--product-card-border-width: 0.0rem;
	--product-card-border-opacity: 0.1;
	--product-card-shadow-opacity: 0.0;
	--product-card-shadow-visible: 0;
	--product-card-shadow-horizontal-offset: 0.0rem;
	--product-card-shadow-vertical-offset: 0.4rem;
	--product-card-shadow-blur-radius: 0.5rem;
	--collection-card-image-padding: 0.0rem;
	--collection-card-corner-radius: 0.8rem;
	--collection-card-text-alignment: left;
	--collection-card-border-width: 0.0rem;
	--collection-card-border-opacity: 0.1;
	--collection-card-shadow-opacity: 0.0;
	--collection-card-shadow-visible: 0;
	--collection-card-shadow-horizontal-offset: 0.0rem;
	--collection-card-shadow-vertical-offset: 0.4rem;
	--collection-card-shadow-blur-radius: 0.5rem;
	--blog-card-image-padding: 0.0rem;
	--blog-card-corner-radius: 0.8rem;
	--blog-card-text-alignment: left;
	--blog-card-border-width: 0.0rem;
	--blog-card-border-opacity: 0.1;
	--blog-card-shadow-opacity: 0.0;
	--blog-card-shadow-visible: 0;
	--blog-card-shadow-horizontal-offset: 0.0rem;
	--blog-card-shadow-vertical-offset: 0.4rem;
	--blog-card-shadow-blur-radius: 0.5rem;
	--badge-corner-radius: 4.0rem;
	--popup-border-width: 1px;
	--popup-border-opacity: 0.1;
	--popup-corner-radius: 8px;
	--popup-shadow-opacity: 0.05;
	--popup-shadow-horizontal-offset: 0px;
	--popup-shadow-vertical-offset: 4px;
	--popup-shadow-blur-radius: 5px;
	--drawer-border-width: 1px;
	--drawer-border-opacity: 0.1;
	--drawer-shadow-opacity: 0.0;
	--drawer-shadow-horizontal-offset: 0px;
	--drawer-shadow-vertical-offset: 4px;
	--drawer-shadow-blur-radius: 5px;
	--spacing-sections-desktop: 0px;
	--spacing-sections-mobile: 0px;
	--grid-desktop-vertical-spacing: 12px;
	--grid-desktop-horizontal-spacing: 12px;
	--grid-mobile-vertical-spacing: 6px;
	--grid-mobile-horizontal-spacing: 6px;
	--text-boxes-border-opacity: 0.1;
	--text-boxes-border-width: 0px;
	--text-boxes-radius: 8px;
	--text-boxes-shadow-opacity: 0.0;
	--text-boxes-shadow-visible: 0;
	--text-boxes-shadow-horizontal-offset: 0px;
	--text-boxes-shadow-vertical-offset: 4px;
	--text-boxes-shadow-blur-radius: 5px;
	--buttons-radius: 6px;
	--buttons-radius-outset: 7px;
	--buttons-border-width: 1px;
	--buttons-border-opacity: 1.0;
	--buttons-shadow-opacity: 0.0;
	--buttons-shadow-visible: 0;
	--buttons-shadow-horizontal-offset: 0px;
	--buttons-shadow-vertical-offset: 4px;
	--buttons-shadow-blur-radius: 5px;
	--buttons-border-offset: 0.3px;
	--inputs-radius: 6px;
	--inputs-border-width: 1px;
	--inputs-border-opacity: 0.55;
	--inputs-shadow-opacity: 0.0;
	--inputs-shadow-horizontal-offset: 0px;
	--inputs-margin-offset: 0px;
	--inputs-shadow-vertical-offset: 4px;
	--inputs-shadow-blur-radius: 5px;
	--inputs-radius-outset: 7px;
	--variant-pills-radius: 40px;
	--variant-pills-border-width: 1px;
	--variant-pills-border-opacity: 0.55;
	--variant-pills-shadow-opacity: 0.0;
	--variant-pills-shadow-horizontal-offset: 0px;
	--variant-pills-shadow-vertical-offset: 4px;
	--variant-pills-shadow-blur-radius: 5px;
}
:root, .color-scheme-1 {
	--color-background: 244, 244, 244;
	--gradient-background: #f4f4f4;
	--color-foreground: 43, 44, 45;
	--color-background-contrast: 180, 180, 180;
	--color-shadow: 0, 17, 40;
	--color-button: 183, 172, 162;
	--color-button-text: 38, 38, 38;
	--color-secondary-button: 244, 244, 244;
	--color-secondary-button-text: 0, 17, 40;
	--color-link: 0, 17, 40;
	--color-badge-foreground: 43, 44, 45;
	--color-badge-background: 244, 244, 244;
	--color-badge-border: 43, 44, 45;
	--payment-terms-background-color: rgb(244 244 244);
}
html {
	-webkit-font-smoothing: antialiased;
	font-family: "Google Sans", Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1;
	height: 100%;
	position: static;
	z-index: 0;
}
html {
	box-sizing: border-box;
	font-size: calc(var(--font-body-scale) * 62.5%);
	height: 100%;
}
*, *::before, *::after {
	box-sizing: inherit;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body ::-webkit-scrollbar {
	height: 0;
	width: 0;
}
::-webkit-scrollbar-thumb {
	background: none;
}
::-webkit-scrollbar-track {
	background-color: inherit;
}
::selection {
	background-color: rgba(var(--color-foreground),.2);
}
<div class="product-media-container media-type-image media-fit-cover global-media-settings gradient" style="--ratio: 1.0; --preview-ratio: 1.0;">
  <modal-opener class="product__modal-opener product__modal-opener--image" data-modal="#ProductModal-template--22808431493422__main">
    <span class="product__media-icon motion-reduce quick-add-hidden product__media-icon--lightbox" aria-hidden="true"><svg aria-hidden="true" focusable="false" class="icon icon-plus" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66724 7.93978C4.66655 7.66364 4.88984 7.43922 5.16598 7.43853L10.6996 7.42464C10.9758 7.42395 11.2002 7.64724 11.2009 7.92339C11.2016 8.19953 10.9783 8.42395 10.7021 8.42464L5.16849 8.43852C4.89235 8.43922 4.66793 8.21592 4.66724 7.93978Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.92576 4.66463C8.2019 4.66394 8.42632 4.88723 8.42702 5.16337L8.4409 10.697C8.44159 10.9732 8.2183 11.1976 7.94215 11.1983C7.66601 11.199 7.44159 10.9757 7.4409 10.6995L7.42702 5.16588C7.42633 4.88974 7.64962 4.66532 7.92576 4.66463Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8324 3.03011C10.1255 0.323296 5.73693 0.323296 3.03011 3.03011C0.323296 5.73693 0.323296 10.1256 3.03011 12.8324C5.73693 15.5392 10.1255 15.5392 12.8324 12.8324C15.5392 10.1256 15.5392 5.73693 12.8324 3.03011ZM2.32301 2.32301C5.42035 -0.774336 10.4421 -0.774336 13.5395 2.32301C16.6101 5.39361 16.6366 10.3556 13.619 13.4588L18.2473 18.0871C18.4426 18.2824 18.4426 18.599 18.2473 18.7943C18.0521 18.9895 17.7355 18.9895 17.5402 18.7943L12.8778 14.1318C9.76383 16.6223 5.20839 16.4249 2.32301 13.5395C-0.774335 10.4421 -0.774335 5.42035 2.32301 2.32301Z" fill="currentColor"></path>
</svg>
</span>

<link href="//s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/t/19/assets/component-loading-spinner.css?v=116724955567955766481717073992" rel="stylesheet" type="text/css" media="all">

<div class="loading__spinner hidden">
  <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
  </svg>
</div>
<div class="product__media media media--transparent">
      <img src="//s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1946" alt="" srcset="//s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=246 246w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=493 493w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=600 600w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=713 713w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=823 823w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=990 990w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1100 1100w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1206 1206w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1346 1346w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1426 1426w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1646 1646w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1946 1946w" width="1946" height="1946" loading="lazy" class="image-magnify-lightbox" sizes="(min-width: 1200px) 495px, (min-width: 990px) calc(45.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
    </div>
    <button class="product__media-toggle quick-add-hidden product__media-zoom-lightbox" type="button" aria-haspopup="dialog" data-media-id="38543294693678">
      <span class="visually-hidden">
        Translation missing: en.products.product.media.open_media
      </span>
    </button>
  </modal-opener></div>

element.style {
	--ratio: 1.0;
	--preview-ratio: 1.0;
}
@media screen and (max-width: 749px) {
	.product-media-container.media-fit-cover {
		display: flex;
		align-self: stretch;
	}
}
.product-media-container {
	--aspect-ratio: var(--preview-ratio);
	--ratio-percent: calc(1 / var(--aspect-ratio) * 100%);
	position: relative;
	width: 100%;
	max-width: calc(100% - calc(var(--media-border-width)* 2));
}
.product__media-item>* {
	display: block;
	position: relative;
}
.global-media-settings {
	position: relative;
	border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
	border-radius: var(--media-radius);
	overflow: visible !important;
	background-color: rgb(var(--color-background));
}
.gradient {
	background: rgb(var(--color-background));
	background: var(--gradient-background);
	background-attachment: fixed;
}
.contains-media, .global-media-settings {
	--border-radius: var(--media-radius);
	--border-width: var(--media-border-width);
	--border-opacity: var(--media-border-opacity);
	--shadow-horizontal-offset: var(--media-shadow-horizontal-offset);
	--shadow-vertical-offset: var(--media-shadow-vertical-offset);
	--shadow-blur-radius: var(--media-shadow-blur-radius);
	--shadow-opacity: var(--media-shadow-opacity);
	--shadow-visible: var(--media-shadow-visible);
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	border: 0;
	color: inherit;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
img, html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, form, fieldset, embed, object, applet {
	border: 0;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
* {
	-webkit-tap-highlight-color: transparent;
}
*, *::before, *::after {
	box-sizing: inherit;
}
user agent stylesheet
div {
	display: block;
	unicode-bidi: isolate;
}
.slider__slide {
	--focus-outline-padding: .5rem;
	--shadow-padding-top: calc((var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
	--shadow-padding-bottom: calc((var(--shadow-vertical-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
	scroll-snap-align: start;
	flex-shrink: 0;
	padding-bottom: 0;
}
.slider__slide {
	--focus-outline-padding: .5rem;
	--shadow-padding-top: calc((var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
	--shadow-padding-bottom: calc((var(--shadow-vertical-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
	scroll-snap-align: start;
	flex-shrink: 0;
	padding-bottom: 0;
}
user agent stylesheet
li {
	text-align: -webkit-match-parent;
}
.slider {
	scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), .04);
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.slider {
	scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), .04);
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.grid {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	padding: 0;
	list-style: none;
	column-gap: var(--grid-mobile-horizontal-spacing);
	row-gap: var(--grid-mobile-vertical-spacing);
}
.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}
.contains-media, .global-media-settings {
	--border-radius: var(--media-radius);
	--border-width: var(--media-border-width);
	--border-opacity: var(--media-border-opacity);
	--shadow-horizontal-offset: var(--media-shadow-horizontal-offset);
	--shadow-vertical-offset: var(--media-shadow-vertical-offset);
	--shadow-blur-radius: var(--media-shadow-blur-radius);
	--shadow-opacity: var(--media-shadow-opacity);
	--shadow-visible: var(--media-shadow-visible);
}
ul {
	list-style: none;
}
ul {
	list-style-type: none;
}
user agent stylesheet
ul {
	list-style-type: disc;
}
slider-component {
	--desktop-margin-left-first-item: max( 5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2) );
	position: relative;
	display: block;
}
slider-component {
	--desktop-margin-left-first-item: max( 5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2) );
	position: relative;
	display: block;
}
body, .color-scheme-1, .color-scheme-2, .color-scheme-3, .color-scheme-4, .color-scheme-5 {
	color: rgba(var(--color-foreground), 0.75);
	background-color: rgb(var(--color-background));
}
:root, .color-scheme-1 {
	--color-background: 244, 244, 244;
	--gradient-background: #f4f4f4;
	--color-foreground: 43, 44, 45;
	--color-background-contrast: 180, 180, 180;
	--color-shadow: 0, 17, 40;
	--color-button: 183, 172, 162;
	--color-button-text: 38, 38, 38;
	--color-secondary-button: 244, 244, 244;
	--color-secondary-button-text: 0, 17, 40;
	--color-link: 0, 17, 40;
	--color-badge-foreground: 43, 44, 45;
	--color-badge-background: 244, 244, 244;
	--color-badge-border: 43, 44, 45;
	--payment-terms-background-color: rgb(244 244 244);
}
body {
	background-color: white;
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	height: 100%;
	line-height: 1;
	margin: 0;
	position: static;
	z-index: 0;
}
body {
	background-color: #eee;
	color: #333;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.4;
	height: 100%;
	position: relative;
	text-rendering: optimizeLegibility;
	z-index: -1;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: rgba(0, 0, 0, .87);
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	margin: 0;
	text-size-adjust: 100%;
}
body {
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	grid-template-columns: 100%;
	min-height: 100%;
	margin: 0;
	font-size: 1.5rem;
	letter-spacing: 0.06rem;
	line-height: calc(1 + 0.8 / var(--font-body-scale));
	font-family: var(--font-body-family);
	font-style: var(--font-body-style);
	font-weight: var(--font-body-weight);
}
style attribute {
	--header-height: 150px;
	padding-bottom: 92px;
}
@media (prefers-reduced-motion: no-preference) and (hover: hover) {
	:root {
		--easter-egg: none;
		--sparkle: url(admin-e-r.app);
	}
}
:root {
	--duration-short: .1s;
	--duration-default: .2s;
	--duration-announcement-bar: .25s;
	--duration-medium: .3s;
	--duration-long: .5s;
	--duration-extra-long: .6s;
	--duration-extra-longer: .75s;
	--duration-extended: 3s;
	--ease-out-slow: cubic-bezier(0, 0, .3, 1);
	--animation-slide-in: slideIn var(--duration-extra-long) var(--ease-out-slow) forwards;
	--animation-fade-in: fadeIn var(--duration-extra-long) var(--ease-out-slow);
}
:root {
	--alpha-button-background: 1;
	--alpha-button-border: 1;
	--alpha-link: .85;
	--alpha-badge-border: .1;
}
:root {
	--font-body-family: Futura, sans-serif;
	--font-body-style: normal;
	--font-body-weight: 400;
	--font-body-weight-bold: 700;
	--font-heading-family: "DM Sans", sans-serif;
	--font-heading-style: normal;
	--font-heading-weight: 500;
	--font-body-scale: 1.0;
	--font-heading-scale: 1.05;
	--media-padding: px;
	--media-border-opacity: 0.05;
	--media-border-width: 1px;
	--media-radius: 8px;
	--media-shadow-opacity: 0.0;
	--media-shadow-horizontal-offset: 0px;
	--media-shadow-vertical-offset: 4px;
	--media-shadow-blur-radius: 5px;
	--media-shadow-visible: 0;
	--page-width: 120rem;
	--page-width-margin: 0rem;
	--product-card-image-padding: 1.2rem;
	--product-card-corner-radius: 0.8rem;
	--product-card-text-alignment: left;
	--product-card-border-width: 0.0rem;
	--product-card-border-opacity: 0.1;
	--product-card-shadow-opacity: 0.0;
	--product-card-shadow-visible: 0;
	--product-card-shadow-horizontal-offset: 0.0rem;
	--product-card-shadow-vertical-offset: 0.4rem;
	--product-card-shadow-blur-radius: 0.5rem;
	--collection-card-image-padding: 0.0rem;
	--collection-card-corner-radius: 0.8rem;
	--collection-card-text-alignment: left;
	--collection-card-border-width: 0.0rem;
	--collection-card-border-opacity: 0.1;
	--collection-card-shadow-opacity: 0.0;
	--collection-card-shadow-visible: 0;
	--collection-card-shadow-horizontal-offset: 0.0rem;
	--collection-card-shadow-vertical-offset: 0.4rem;
	--collection-card-shadow-blur-radius: 0.5rem;
	--blog-card-image-padding: 0.0rem;
	--blog-card-corner-radius: 0.8rem;
	--blog-card-text-alignment: left;
	--blog-card-border-width: 0.0rem;
	--blog-card-border-opacity: 0.1;
	--blog-card-shadow-opacity: 0.0;
	--blog-card-shadow-visible: 0;
	--blog-card-shadow-horizontal-offset: 0.0rem;
	--blog-card-shadow-vertical-offset: 0.4rem;
	--blog-card-shadow-blur-radius: 0.5rem;
	--badge-corner-radius: 4.0rem;
	--popup-border-width: 1px;
	--popup-border-opacity: 0.1;
	--popup-corner-radius: 8px;
	--popup-shadow-opacity: 0.05;
	--popup-shadow-horizontal-offset: 0px;
	--popup-shadow-vertical-offset: 4px;
	--popup-shadow-blur-radius: 5px;
	--drawer-border-width: 1px;
	--drawer-border-opacity: 0.1;
	--drawer-shadow-opacity: 0.0;
	--drawer-shadow-horizontal-offset: 0px;
	--drawer-shadow-vertical-offset: 4px;
	--drawer-shadow-blur-radius: 5px;
	--spacing-sections-desktop: 0px;
	--spacing-sections-mobile: 0px;
	--grid-desktop-vertical-spacing: 12px;
	--grid-desktop-horizontal-spacing: 12px;
	--grid-mobile-vertical-spacing: 6px;
	--grid-mobile-horizontal-spacing: 6px;
	--text-boxes-border-opacity: 0.1;
	--text-boxes-border-width: 0px;
	--text-boxes-radius: 8px;
	--text-boxes-shadow-opacity: 0.0;
	--text-boxes-shadow-visible: 0;
	--text-boxes-shadow-horizontal-offset: 0px;
	--text-boxes-shadow-vertical-offset: 4px;
	--text-boxes-shadow-blur-radius: 5px;
	--buttons-radius: 6px;
	--buttons-radius-outset: 7px;
	--buttons-border-width: 1px;
	--buttons-border-opacity: 1.0;
	--buttons-shadow-opacity: 0.0;
	--buttons-shadow-visible: 0;
	--buttons-shadow-horizontal-offset: 0px;
	--buttons-shadow-vertical-offset: 4px;
	--buttons-shadow-blur-radius: 5px;
	--buttons-border-offset: 0.3px;
	--inputs-radius: 6px;
	--inputs-border-width: 1px;
	--inputs-border-opacity: 0.55;
	--inputs-shadow-opacity: 0.0;
	--inputs-shadow-horizontal-offset: 0px;
	--inputs-margin-offset: 0px;
	--inputs-shadow-vertical-offset: 4px;
	--inputs-shadow-blur-radius: 5px;
	--inputs-radius-outset: 7px;
	--variant-pills-radius: 40px;
	--variant-pills-border-width: 1px;
	--variant-pills-border-opacity: 0.55;
	--variant-pills-shadow-opacity: 0.0;
	--variant-pills-shadow-horizontal-offset: 0px;
	--variant-pills-shadow-vertical-offset: 4px;
	--variant-pills-shadow-blur-radius: 5px;
}
:root, .color-scheme-1 {
	--color-background: 244, 244, 244;
	--gradient-background: #f4f4f4;
	--color-foreground: 43, 44, 45;
	--color-background-contrast: 180, 180, 180;
	--color-shadow: 0, 17, 40;
	--color-button: 183, 172, 162;
	--color-button-text: 38, 38, 38;
	--color-secondary-button: 244, 244, 244;
	--color-secondary-button-text: 0, 17, 40;
	--color-link: 0, 17, 40;
	--color-badge-foreground: 43, 44, 45;
	--color-badge-background: 244, 244, 244;
	--color-badge-border: 43, 44, 45;
	--payment-terms-background-color: rgb(244 244 244);
}
html {
	-webkit-font-smoothing: antialiased;
	font-family: "Google Sans", Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1;
	height: 100%;
	position: static;
	z-index: 0;
}
html {
	box-sizing: border-box;
	font-size: calc(var(--font-body-scale) * 62.5%);
	height: 100%;
}
*, *::before, *::after {
	box-sizing: inherit;
}
.global-media-settings:after {
	content: "";
	position: absolute;
	top: calc(var(--media-border-width)* -1);
	right: calc(var(--media-border-width)* -1);
	bottom: calc(var(--media-border-width)* -1);
	left: calc(var(--media-border-width)* -1);
	border-radius: var(--media-radius);
	box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
	z-index: -1;
	pointer-events: none;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body ::-webkit-scrollbar {
	height: 0;
	width: 0;
}
::-webkit-scrollbar-thumb {
	background: none;
}
::-webkit-scrollbar-track {
	background-color: inherit;
}
::selection {
	background-color: rgba(var(--color-foreground),.2);
}
<li id="Slide-template--22808431493422__main-38543294693678" class="product__media-item grid__item slider__slide scroll-trigger animate--fade-in" data-media-id="template--22808431493422__main-38543294693678" role="presentation">

<div class="product-media-container media-type-image media-fit-cover global-media-settings gradient" style="--ratio: 1.0; --preview-ratio: 1.0;">
  <modal-opener class="product__modal-opener product__modal-opener--image" data-modal="#ProductModal-template--22808431493422__main">
    <span class="product__media-icon motion-reduce quick-add-hidden product__media-icon--lightbox" aria-hidden="true"><svg aria-hidden="true" focusable="false" class="icon icon-plus" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66724 7.93978C4.66655 7.66364 4.88984 7.43922 5.16598 7.43853L10.6996 7.42464C10.9758 7.42395 11.2002 7.64724 11.2009 7.92339C11.2016 8.19953 10.9783 8.42395 10.7021 8.42464L5.16849 8.43852C4.89235 8.43922 4.66793 8.21592 4.66724 7.93978Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.92576 4.66463C8.2019 4.66394 8.42632 4.88723 8.42702 5.16337L8.4409 10.697C8.44159 10.9732 8.2183 11.1976 7.94215 11.1983C7.66601 11.199 7.44159 10.9757 7.4409 10.6995L7.42702 5.16588C7.42633 4.88974 7.64962 4.66532 7.92576 4.66463Z" fill="currentColor"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8324 3.03011C10.1255 0.323296 5.73693 0.323296 3.03011 3.03011C0.323296 5.73693 0.323296 10.1256 3.03011 12.8324C5.73693 15.5392 10.1255 15.5392 12.8324 12.8324C15.5392 10.1256 15.5392 5.73693 12.8324 3.03011ZM2.32301 2.32301C5.42035 -0.774336 10.4421 -0.774336 13.5395 2.32301C16.6101 5.39361 16.6366 10.3556 13.619 13.4588L18.2473 18.0871C18.4426 18.2824 18.4426 18.599 18.2473 18.7943C18.0521 18.9895 17.7355 18.9895 17.5402 18.7943L12.8778 14.1318C9.76383 16.6223 5.20839 16.4249 2.32301 13.5395C-0.774335 10.4421 -0.774335 5.42035 2.32301 2.32301Z" fill="currentColor"></path>
</svg>
</span>

<link href="//s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/t/19/assets/component-loading-spinner.css?v=116724955567955766481717073992" rel="stylesheet" type="text/css" media="all">

<div class="loading__spinner hidden">
  <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
  </svg>
</div>
<div class="product__media media media--transparent">
      <img src="//s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1946" alt="" srcset="//s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=246 246w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=493 493w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=600 600w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=713 713w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=823 823w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=990 990w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1100 1100w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1206 1206w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1346 1346w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1426 1426w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1646 1646w, //s9nn0dl3on5ar6uu-87743988014.shopifypreview.com/cdn/shop/files/ic_launcher_foreground2_5c120444-5d8e-4a78-8714-9327406af129.png?v=1717086710&amp;width=1946 1946w" width="1946" height="1946" loading="lazy" class="image-magnify-lightbox" sizes="(min-width: 1200px) 495px, (min-width: 990px) calc(45.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
    </div>
    <button class="product__media-toggle quick-add-hidden product__media-zoom-lightbox" type="button" aria-haspopup="dialog" data-media-id="38543294693678">
      <span class="visually-hidden">
        Translation missing: en.products.product.media.open_media
      </span>
    </button>
  </modal-opener></div>

          </li>

element.style {
}
@media screen and (max-width: 749px) {
	.slider.slider--mobile .slider__slide {
		margin-bottom: 0;
		padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
		padding-bottom: max(var(--focus-outline-padding), var(--shadow-padding-bottom));
	}
}
@media screen and (max-width: 749px) {
	.slider.slider--mobile .slider__slide {
		margin-bottom: 0;
		padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
		padding-bottom: max(var(--focus-outline-padding), var(--shadow-padding-bottom));
	}
}
@media (prefers-reduced-motion: no-preference) {
	.scroll-trigger:not(.scroll-trigger--offscreen).animate--fade-in {
		opacity: 1;
		animation: var(--animation-fade-in);
	}
}
@media screen and (max-width: 749px) {
	.grid--peek.slider--mobile .grid__item {
		box-sizing: content-box;
		margin: 0;
	}
}
@media screen and (max-width: 749px) {
	.product__media-list .product__media-item {
		width: calc(100% - 3rem - var(--grid-mobile-horizontal-spacing));
	}
}
@media (prefers-reduced-motion: no-preference) {
	.scroll-trigger.animate--fade-in, .scroll-trigger.animate--slide-in {
		opacity: .01;
	}
}
@media screen and (max-width: 749px) {
	.slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item, .grid--peek .grid__item {
		width: calc(50% - var(--grid-mobile-horizontal-spacing) - 3rem);
	}
}
@media screen and (max-width: 749px) {
	.grid--peek .grid__item {
		min-width: 35%;
	}
}
.grid--1-col .grid__item {
	max-width: 100%;
	width: 100%;
}
.slider__slide {
	--focus-outline-padding: .5rem;
	--shadow-padding-top: calc((var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
	--shadow-padding-bottom: calc((var(--shadow-vertical-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
	scroll-snap-align: start;
	flex-shrink: 0;
	padding-bottom: 0;
}
@media screen and (max-width: 749px) {
	.product__media-item {
		display: flex;
		align-items: center;
	}
}
.slider__slide {
	--focus-outline-padding: .5rem;
	--shadow-padding-top: calc((var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
	--shadow-padding-bottom: calc((var(--shadow-vertical-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
	scroll-snap-align: start;
	flex-shrink: 0;
	padding-bottom: 0;
}
.grid__item {
	width: calc(25% - var(--grid-mobile-horizontal-spacing)* 3 / 4);
	max-width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
	flex-grow: 1;
	flex-shrink: 0;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	border: 0;
	color: inherit;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
img, html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, form, fieldset, embed, object, applet {
	border: 0;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
* {
	-webkit-tap-highlight-color: transparent;
}
*, *::before, *::after {
	box-sizing: inherit;
}
user agent stylesheet
li {
	display: list-item;
	text-align: -webkit-match-parent;
	unicode-bidi: isolate;
}
.slider {
	scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), .04);
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.slider {
	scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), .04);
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.grid {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	padding: 0;
	list-style: none;
	column-gap: var(--grid-mobile-horizontal-spacing);
	row-gap: var(--grid-mobile-vertical-spacing);
}
.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}
.contains-media, .global-media-settings {
	--border-radius: var(--media-radius);
	--border-width: var(--media-border-width);
	--border-opacity: var(--media-border-opacity);
	--shadow-horizontal-offset: var(--media-shadow-horizontal-offset);
	--shadow-vertical-offset: var(--media-shadow-vertical-offset);
	--shadow-blur-radius: var(--media-shadow-blur-radius);
	--shadow-opacity: var(--media-shadow-opacity);
	--shadow-visible: var(--media-shadow-visible);
}
ul {
	list-style: none;
}
ul {
	list-style-type: none;
}
user agent stylesheet
ul {
	list-style-type: disc;
}
slider-component {
	--desktop-margin-left-first-item: max( 5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2) );
	position: relative;
	display: block;
}
slider-component {
	--desktop-margin-left-first-item: max( 5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2) );
	position: relative;
	display: block;
}
body, .color-scheme-1, .color-scheme-2, .color-scheme-3, .color-scheme-4, .color-scheme-5 {
	color: rgba(var(--color-foreground), 0.75);
	background-color: rgb(var(--color-background));
}
:root, .color-scheme-1 {
	--color-background: 244, 244, 244;
	--gradient-background: #f4f4f4;
	--color-foreground: 43, 44, 45;
	--color-background-contrast: 180, 180, 180;
	--color-shadow: 0, 17, 40;
	--color-button: 183, 172, 162;
	--color-button-text: 38, 38, 38;
	--color-secondary-button: 244, 244, 244;
	--color-secondary-button-text: 0, 17, 40;
	--color-link: 0, 17, 40;
	--color-badge-foreground: 43, 44, 45;
	--color-badge-background: 244, 244, 244;
	--color-badge-border: 43, 44, 45;
	--payment-terms-background-color: rgb(244 244 244);
}
body {
	background-color: white;
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	height: 100%;
	line-height: 1;
	margin: 0;
	position: static;
	z-index: 0;
}
body {
	background-color: #eee;
	color: #333;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.4;
	height: 100%;
	position: relative;
	text-rendering: optimizeLegibility;
	z-index: -1;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: rgba(0, 0, 0, .87);
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	margin: 0;
	text-size-adjust: 100%;
}
body {
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	grid-template-columns: 100%;
	min-height: 100%;
	margin: 0;
	font-size: 1.5rem;
	letter-spacing: 0.06rem;
	line-height: calc(1 + 0.8 / var(--font-body-scale));
	font-family: var(--font-body-family);
	font-style: var(--font-body-style);
	font-weight: var(--font-body-weight);
}
style attribute {
	--header-height: 150px;
	padding-bottom: 92px;
}
@media (prefers-reduced-motion: no-preference) and (hover: hover) {
	:root {
		--easter-egg: none;
		--sparkle: url(admin-e-r.app);
	}
}
:root {
	--duration-short: .1s;
	--duration-default: .2s;
	--duration-announcement-bar: .25s;
	--duration-medium: .3s;
	--duration-long: .5s;
	--duration-extra-long: .6s;
	--duration-extra-longer: .75s;
	--duration-extended: 3s;
	--ease-out-slow: cubic-bezier(0, 0, .3, 1);
	--animation-slide-in: slideIn var(--duration-extra-long) var(--ease-out-slow) forwards;
	--animation-fade-in: fadeIn var(--duration-extra-long) var(--ease-out-slow);
}
:root {
	--alpha-button-background: 1;
	--alpha-button-border: 1;
	--alpha-link: .85;
	--alpha-badge-border: .1;
}
:root {
	--font-body-family: Futura, sans-serif;
	--font-body-style: normal;
	--font-body-weight: 400;
	--font-body-weight-bold: 700;
	--font-heading-family: "DM Sans", sans-serif;
	--font-heading-style: normal;
	--font-heading-weight: 500;
	--font-body-scale: 1.0;
	--font-heading-scale: 1.05;
	--media-padding: px;
	--media-border-opacity: 0.05;
	--media-border-width: 1px;
	--media-radius: 8px;
	--media-shadow-opacity: 0.0;
	--media-shadow-horizontal-offset: 0px;
	--media-shadow-vertical-offset: 4px;
	--media-shadow-blur-radius: 5px;
	--media-shadow-visible: 0;
	--page-width: 120rem;
	--page-width-margin: 0rem;
	--product-card-image-padding: 1.2rem;
	--product-card-corner-radius: 0.8rem;
	--product-card-text-alignment: left;
	--product-card-border-width: 0.0rem;
	--product-card-border-opacity: 0.1;
	--product-card-shadow-opacity: 0.0;
	--product-card-shadow-visible: 0;
	--product-card-shadow-horizontal-offset: 0.0rem;
	--product-card-shadow-vertical-offset: 0.4rem;
	--product-card-shadow-blur-radius: 0.5rem;
	--collection-card-image-padding: 0.0rem;
	--collection-card-corner-radius: 0.8rem;
	--collection-card-text-alignment: left;
	--collection-card-border-width: 0.0rem;
	--collection-card-border-opacity: 0.1;
	--collection-card-shadow-opacity: 0.0;
	--collection-card-shadow-visible: 0;
	--collection-card-shadow-horizontal-offset: 0.0rem;
	--collection-card-shadow-vertical-offset: 0.4rem;
	--collection-card-shadow-blur-radius: 0.5rem;
	--blog-card-image-padding: 0.0rem;
	--blog-card-corner-radius: 0.8rem;
	--blog-card-text-alignment: left;
	--blog-card-border-width: 0.0rem;
	--blog-card-border-opacity: 0.1;
	--blog-card-shadow-opacity: 0.0;
	--blog-card-shadow-visible: 0;
	--blog-card-shadow-horizontal-offset: 0.0rem;
	--blog-card-shadow-vertical-offset: 0.4rem;
	--blog-card-shadow-blur-radius: 0.5rem;
	--badge-corner-radius: 4.0rem;
	--popup-border-width: 1px;
	--popup-border-opacity: 0.1;
	--popup-corner-radius: 8px;
	--popup-shadow-opacity: 0.05;
	--popup-shadow-horizontal-offset: 0px;
	--popup-shadow-vertical-offset: 4px;
	--popup-shadow-blur-radius: 5px;
	--drawer-border-width: 1px;
	--drawer-border-opacity: 0.1;
	--drawer-shadow-opacity: 0.0;
	--drawer-shadow-horizontal-offset: 0px;
	--drawer-shadow-vertical-offset: 4px;
	--drawer-shadow-blur-radius: 5px;
	--spacing-sections-desktop: 0px;
	--spacing-sections-mobile: 0px;
	--grid-desktop-vertical-spacing: 12px;
	--grid-desktop-horizontal-spacing: 12px;
	--grid-mobile-vertical-spacing: 6px;
	--grid-mobile-horizontal-spacing: 6px;
	--text-boxes-border-opacity: 0.1;
	--text-boxes-border-width: 0px;
	--text-boxes-radius: 8px;
	--text-boxes-shadow-opacity: 0.0;
	--text-boxes-shadow-visible: 0;
	--text-boxes-shadow-horizontal-offset: 0px;
	--text-boxes-shadow-vertical-offset: 4px;
	--text-boxes-shadow-blur-radius: 5px;
	--buttons-radius: 6px;
	--buttons-radius-outset: 7px;
	--buttons-border-width: 1px;
	--buttons-border-opacity: 1.0;
	--buttons-shadow-opacity: 0.0;
	--buttons-shadow-visible: 0;
	--buttons-shadow-horizontal-offset: 0px;
	--buttons-shadow-vertical-offset: 4px;
	--buttons-shadow-blur-radius: 5px;
	--buttons-border-offset: 0.3px;
	--inputs-radius: 6px;
	--inputs-border-width: 1px;
	--inputs-border-opacity: 0.55;
	--inputs-shadow-opacity: 0.0;
	--inputs-shadow-horizontal-offset: 0px;
	--inputs-margin-offset: 0px;
	--inputs-shadow-vertical-offset: 4px;
	--inputs-shadow-blur-radius: 5px;
	--inputs-radius-outset: 7px;
	--variant-pills-radius: 40px;
	--variant-pills-border-width: 1px;
	--variant-pills-border-opacity: 0.55;
	--variant-pills-shadow-opacity: 0.0;
	--variant-pills-shadow-horizontal-offset: 0px;
	--variant-pills-shadow-vertical-offset: 4px;
	--variant-pills-shadow-blur-radius: 5px;
}
:root, .color-scheme-1 {
	--color-background: 244, 244, 244;
	--gradient-background: #f4f4f4;
	--color-foreground: 43, 44, 45;
	--color-background-contrast: 180, 180, 180;
	--color-shadow: 0, 17, 40;
	--color-button: 183, 172, 162;
	--color-button-text: 38, 38, 38;
	--color-secondary-button: 244, 244, 244;
	--color-secondary-button-text: 0, 17, 40;
	--color-link: 0, 17, 40;
	--color-badge-foreground: 43, 44, 45;
	--color-badge-background: 244, 244, 244;
	--color-badge-border: 43, 44, 45;
	--payment-terms-background-color: rgb(244 244 244);
}
html {
	-webkit-font-smoothing: antialiased;
	font-family: "Google Sans", Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1;
	height: 100%;
	position: static;
	z-index: 0;
}
html {
	box-sizing: border-box;
	font-size: calc(var(--font-body-scale) * 62.5%);
	height: 100%;
}
*, *::before, *::after {
	box-sizing: inherit;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body ::-webkit-scrollbar {
	height: 0;
	width: 0;
}
::-webkit-scrollbar-thumb {
	background: none;
}
::-webkit-scrollbar-track {
	background-color: inherit;
}
::selection {
	background-color: rgba(var(--color-foreground),.2);
}
0% {
	opacity: .01;
}
100% {
	opacity: 1;
%}{% endstyle %}
