<section class="l-content-width section section--bordered whats-new">
    <div class="section__nav section__nav--small">
      <h2 class="whats-new__headline">What’s New</h2>
        <div class="version-history">
    <button class="we-modal__show link" id="modal-trigger-ember10" data-metrics-click="{&quot;actionType&quot;:&quot;open&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;ModalVersionHistory&quot;}" type="button">Version History</button>

<!----></div>

    </div>
    <div class="l-row whats-new__content">
        <div class="l-column small-12 medium-3 large-4 small-valign-top whats-new__latest">
          <div class="l-row">
            <time data-test-we-datetime="" datetime="2024-05-23T00:00:00.000Z" aria-label="May 23, 2024" class="">May 23, 2024</time>
            <p class="l-column small-6 medium-12 whats-new__latest__version">Version 24.10.79</p>
          </div>
        </div>
      <div class="l-column small-12 medium-9 large-8 small-valign-top">
          <div class="we-truncate we-truncate--multi-line we-truncate--interactive  we-truncate--truncated" dir="">
      

        <div data-clamp="" class="we-clamp" ismorertl="false" style="height: 90px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">Improved:</p>
<br>
<p dir="ltr" data-test-bidi="">• Sidebar UX Enhancements: We've made some tweaks to the sidebar to make it more intuitive and user-friendly.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">Fixed:</p>
<p dir="ltr" data-test-bidi="">• Crash Fix: We've resolved an issue that caused the app to crash when selecting the chat bar via keyboard on Monterey</p>
<p dir="ltr" data-test-bidi="">• Fixed logout hangs for users running on Big Sur</p>
<p dir="ltr" data-test-bidi="">• Fixed crash when logging out during an ongoing call</p>
<p dir="ltr" data-test-bidi="">• Fixed messages appearing out of order after History Sync</p>
<p dir="ltr" data-test-bidi="">• Fixed unread count issue after History Sync</p>
<br>
<p dir="ltr" data-test-bidi="">Enjoy a smoother WhatsApp experience on your Mac!</p>
</div>

    


      <button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
</div>


      </div>
    </div>
  </section>
<div class="section__nav section__nav--small">
      <h2 class="whats-new__headline">What’s New</h2>
        <div class="version-history">
    <button class="we-modal__show link" id="modal-trigger-ember10" data-metrics-click="{&quot;actionType&quot;:&quot;open&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;ModalVersionHistory&quot;}" type="button">Version History</button>

<!----></div>

    </div>
<h2 class="whats-new__headline">What’s New</h2>
<div class="version-history">
    <button class="we-modal__show link" id="modal-trigger-ember10" data-metrics-click="{&quot;actionType&quot;:&quot;open&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;ModalVersionHistory&quot;}" type="button">Version History</button>

<!----></div>
<button class="we-modal__show link" id="modal-trigger-ember10" data-metrics-click="{&quot;actionType&quot;:&quot;open&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;ModalVersionHistory&quot;}" type="button">Version History</button>
<div class="version-history">
    <button class="we-modal__show link" id="modal-trigger-ember10" data-metrics-click="{&quot;actionType&quot;:&quot;open&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;ModalVersionHistory&quot;}" type="button">Version History</button>

<!----></div>
<div class="section__nav section__nav--small">
      <h2 class="whats-new__headline">What’s New</h2>
        <div class="version-history">
    <button class="we-modal__show link" id="modal-trigger-ember10" data-metrics-click="{&quot;actionType&quot;:&quot;open&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;ModalVersionHistory&quot;}" type="button">Version History</button>

<!----></div>

    </div>
<div class="l-row whats-new__content">
        <div class="l-column small-12 medium-3 large-4 small-valign-top whats-new__latest">
          <div class="l-row">
            <time data-test-we-datetime="" datetime="2024-05-23T00:00:00.000Z" aria-label="May 23, 2024" class="">May 23, 2024</time>
            <p class="l-column small-6 medium-12 whats-new__latest__version">Version 24.10.79</p>
          </div>
        </div>
      <div class="l-column small-12 medium-9 large-8 small-valign-top">
          <div class="we-truncate we-truncate--multi-line we-truncate--interactive  we-truncate--truncated" dir="">
      

        <div data-clamp="" class="we-clamp" ismorertl="false" style="height: 90px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">Improved:</p>
<br>
<p dir="ltr" data-test-bidi="">• Sidebar UX Enhancements: We've made some tweaks to the sidebar to make it more intuitive and user-friendly.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">Fixed:</p>
<p dir="ltr" data-test-bidi="">• Crash Fix: We've resolved an issue that caused the app to crash when selecting the chat bar via keyboard on Monterey</p>
<p dir="ltr" data-test-bidi="">• Fixed logout hangs for users running on Big Sur</p>
<p dir="ltr" data-test-bidi="">• Fixed crash when logging out during an ongoing call</p>
<p dir="ltr" data-test-bidi="">• Fixed messages appearing out of order after History Sync</p>
<p dir="ltr" data-test-bidi="">• Fixed unread count issue after History Sync</p>
<br>
<p dir="ltr" data-test-bidi="">Enjoy a smoother WhatsApp experience on your Mac!</p>
</div>

    


      <button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
</div>


      </div>
    </div>
<div class="l-column small-12 medium-3 large-4 small-valign-top whats-new__latest">
          <div class="l-row">
            <time data-test-we-datetime="" datetime="2024-05-23T00:00:00.000Z" aria-label="May 23, 2024" class="">May 23, 2024</time>
            <p class="l-column small-6 medium-12 whats-new__latest__version">Version 24.10.79</p>
          </div>
        </div>
<div class="l-row">
            <time data-test-we-datetime="" datetime="2024-05-23T00:00:00.000Z" aria-label="May 23, 2024" class="">May 23, 2024</time>
            <p class="l-column small-6 medium-12 whats-new__latest__version">Version 24.10.79</p>
          </div>
<time data-test-we-datetime="" datetime="2024-05-23T00:00:00.000Z" aria-label="May 23, 2024" class="">May 23, 2024</time>
<p class="l-column small-6 medium-12 whats-new__latest__version">Version 24.10.79</p>          
Version
24.10.79    
<p class="l-column small-6 medium-12 whats-new__latest__version">Version 24.10.79</p>
<div class="l-row">
            <time data-test-we-datetime="" datetime="2024-05-23T00:00:00.000Z" aria-label="May 23, 2024" class="">May 23, 2024</time>
            <p class="l-column small-6 medium-12 whats-new__latest__version">Version 24.10.79</p>
          </div>
<div class="l-column small-12 medium-3 large-4 small-valign-top whats-new__latest">
          <div class="l-row">
            <time data-test-we-datetime="" datetime="2024-05-23T00:00:00.000Z" aria-label="May 23, 2024" class="">May 23, 2024</time>
            <p class="l-column small-6 medium-12 whats-new__latest__version">Version 24.10.79</p>
          </div>
        </div>
<div class="l-column small-12 medium-9 large-8 small-valign-top">
          <div class="we-truncate we-truncate--multi-line we-truncate--interactive  we-truncate--truncated" dir="">
      

        <div data-clamp="" class="we-clamp" ismorertl="false" style="height: 90px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">Improved:</p>
<br>
<p dir="ltr" data-test-bidi="">• Sidebar UX Enhancements: We've made some tweaks to the sidebar to make it more intuitive and user-friendly.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">Fixed:</p>
<p dir="ltr" data-test-bidi="">• Crash Fix: We've resolved an issue that caused the app to crash when selecting the chat bar via keyboard on Monterey</p>
<p dir="ltr" data-test-bidi="">• Fixed logout hangs for users running on Big Sur</p>
<p dir="ltr" data-test-bidi="">• Fixed crash when logging out during an ongoing call</p>
<p dir="ltr" data-test-bidi="">• Fixed messages appearing out of order after History Sync</p>
<p dir="ltr" data-test-bidi="">• Fixed unread count issue after History Sync</p>
<br>
<p dir="ltr" data-test-bidi="">Enjoy a smoother WhatsApp experience on your Mac!</p>
</div>

    


      <button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
</div>


      </div>

<div class="we-truncate we-truncate--multi-line we-truncate--interactive  we-truncate--truncated" dir="">
      

        <div data-clamp="" class="we-clamp" ismorertl="false" style="height: 90px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">Improved:</p>
<br>
<p dir="ltr" data-test-bidi="">• Sidebar UX Enhancements: We've made some tweaks to the sidebar to make it more intuitive and user-friendly.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">Fixed:</p>
<p dir="ltr" data-test-bidi="">• Crash Fix: We've resolved an issue that caused the app to crash when selecting the chat bar via keyboard on Monterey</p>
<p dir="ltr" data-test-bidi="">• Fixed logout hangs for users running on Big Sur</p>
<p dir="ltr" data-test-bidi="">• Fixed crash when logging out during an ongoing call</p>
<p dir="ltr" data-test-bidi="">• Fixed messages appearing out of order after History Sync</p>
<p dir="ltr" data-test-bidi="">• Fixed unread count issue after History Sync</p>
<br>
<p dir="ltr" data-test-bidi="">Enjoy a smoother WhatsApp experience on your Mac!</p>
</div>

    


      <button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
</div>
<div data-clamp="" class="we-clamp" ismorertl="false" style="height: 90px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">Improved:</p>
<br>
<p dir="ltr" data-test-bidi="">• Sidebar UX Enhancements: We've made some tweaks to the sidebar to make it more intuitive and user-friendly.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">Fixed:</p>
<p dir="ltr" data-test-bidi="">• Crash Fix: We've resolved an issue that caused the app to crash when selecting the chat bar via keyboard on Monterey</p>
<p dir="ltr" data-test-bidi="">• Fixed logout hangs for users running on Big Sur</p>
<p dir="ltr" data-test-bidi="">• Fixed crash when logging out during an ongoing call</p>
<p dir="ltr" data-test-bidi="">• Fixed messages appearing out of order after History Sync</p>
<p dir="ltr" data-test-bidi="">• Fixed unread count issue after History Sync</p>
<br>
<p dir="ltr" data-test-bidi="">Enjoy a smoother WhatsApp experience on your Mac!</p>
</div>
<p dir="ltr" data-test-bidi="">Improved:</p>
<br>
<p dir="ltr" data-test-bidi="">• Sidebar UX Enhancements: We've made some tweaks to the sidebar to make it more intuitive and user-friendly.</p>
• Sidebar UX Enhancements: We've made some tweaks to the sidebar to make it more intuitive and user-friendly.
<p dir="ltr" data-test-bidi="">• Sidebar UX Enhancements: We've made some tweaks to the sidebar to make it more intuitive and user-friendly.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">Fixed:</p>
<p dir="ltr" data-test-bidi="">• Crash Fix: We've resolved an issue that caused the app to crash when selecting the chat bar via keyboard on Monterey</p>
<p dir="ltr" data-test-bidi="">• Crash Fix: We've resolved an issue that caused the app to crash when selecting the chat bar via keyboard on Monterey</p>
<p dir="ltr" data-test-bidi="">• Fixed logout hangs for users running on Big Sur</p>
<p dir="ltr" data-test-bidi="">• Fixed crash when logging out during an ongoing call</p>
<p dir="ltr" data-test-bidi="">• Fixed messages appearing out of order after History Sync</p>
<p dir="ltr" data-test-bidi="">• Fixed unread count issue after History Sync</p>
<br>
<p dir="ltr" data-test-bidi="">Enjoy a smoother WhatsApp experience on your Mac!</p>
<div data-clamp="" class="we-clamp" ismorertl="false" style="height: 90px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">Improved:</p>
<br>
<p dir="ltr" data-test-bidi="">• Sidebar UX Enhancements: We've made some tweaks to the sidebar to make it more intuitive and user-friendly.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">Fixed:</p>
<p dir="ltr" data-test-bidi="">• Crash Fix: We've resolved an issue that caused the app to crash when selecting the chat bar via keyboard on Monterey</p>
<p dir="ltr" data-test-bidi="">• Fixed logout hangs for users running on Big Sur</p>
<p dir="ltr" data-test-bidi="">• Fixed crash when logging out during an ongoing call</p>
<p dir="ltr" data-test-bidi="">• Fixed messages appearing out of order after History Sync</p>
<p dir="ltr" data-test-bidi="">• Fixed unread count issue after History Sync</p>
<br>
<p dir="ltr" data-test-bidi="">Enjoy a smoother WhatsApp experience on your Mac!</p>
</div>
<button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
<div class="we-truncate we-truncate--multi-line we-truncate--interactive  we-truncate--truncated" dir="">
      

        <div data-clamp="" class="we-clamp" ismorertl="false" style="height: 90px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">Improved:</p>
<br>
<p dir="ltr" data-test-bidi="">• Sidebar UX Enhancements: We've made some tweaks to the sidebar to make it more intuitive and user-friendly.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">Fixed:</p>
<p dir="ltr" data-test-bidi="">• Crash Fix: We've resolved an issue that caused the app to crash when selecting the chat bar via keyboard on Monterey</p>
<p dir="ltr" data-test-bidi="">• Fixed logout hangs for users running on Big Sur</p>
<p dir="ltr" data-test-bidi="">• Fixed crash when logging out during an ongoing call</p>
<p dir="ltr" data-test-bidi="">• Fixed messages appearing out of order after History Sync</p>
<p dir="ltr" data-test-bidi="">• Fixed unread count issue after History Sync</p>
<br>
<p dir="ltr" data-test-bidi="">Enjoy a smoother WhatsApp experience on your Mac!</p>
</div>

    


      <button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
</div>
<div class="l-column small-12 medium-9 large-8 small-valign-top">
          <div class="we-truncate we-truncate--multi-line we-truncate--interactive  we-truncate--truncated" dir="">
      

        <div data-clamp="" class="we-clamp" ismorertl="false" style="height: 90px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">Improved:</p>
<br>
<p dir="ltr" data-test-bidi="">• Sidebar UX Enhancements: We've made some tweaks to the sidebar to make it more intuitive and user-friendly.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">Fixed:</p>
<p dir="ltr" data-test-bidi="">• Crash Fix: We've resolved an issue that caused the app to crash when selecting the chat bar via keyboard on Monterey</p>
<p dir="ltr" data-test-bidi="">• Fixed logout hangs for users running on Big Sur</p>
<p dir="ltr" data-test-bidi="">• Fixed crash when logging out during an ongoing call</p>
<p dir="ltr" data-test-bidi="">• Fixed messages appearing out of order after History Sync</p>
<p dir="ltr" data-test-bidi="">• Fixed unread count issue after History Sync</p>
<br>
<p dir="ltr" data-test-bidi="">Enjoy a smoother WhatsApp experience on your Mac!</p>
</div>

    


      <button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
</div>


      </div>
<div class="l-row whats-new__content">
        <div class="l-column small-12 medium-3 large-4 small-valign-top whats-new__latest">
          <div class="l-row">
            <time data-test-we-datetime="" datetime="2024-05-23T00:00:00.000Z" aria-label="May 23, 2024" class="">May 23, 2024</time>
            <p class="l-column small-6 medium-12 whats-new__latest__version">Version 24.10.79</p>
          </div>
        </div>
      <div class="l-column small-12 medium-9 large-8 small-valign-top">
          <div class="we-truncate we-truncate--multi-line we-truncate--interactive  we-truncate--truncated" dir="">
      

        <div data-clamp="" class="we-clamp" ismorertl="false" style="height: 90px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">Improved:</p>
<br>
<p dir="ltr" data-test-bidi="">• Sidebar UX Enhancements: We've made some tweaks to the sidebar to make it more intuitive and user-friendly.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">Fixed:</p>
<p dir="ltr" data-test-bidi="">• Crash Fix: We've resolved an issue that caused the app to crash when selecting the chat bar via keyboard on Monterey</p>
<p dir="ltr" data-test-bidi="">• Fixed logout hangs for users running on Big Sur</p>
<p dir="ltr" data-test-bidi="">• Fixed crash when logging out during an ongoing call</p>
<p dir="ltr" data-test-bidi="">• Fixed messages appearing out of order after History Sync</p>
<p dir="ltr" data-test-bidi="">• Fixed unread count issue after History Sync</p>
<br>
<p dir="ltr" data-test-bidi="">Enjoy a smoother WhatsApp experience on your Mac!</p>
</div>

    


      <button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
</div>


      </div>
    </div>
<section class="l-content-width section section--bordered whats-new">
    <div class="section__nav section__nav--small">
      <h2 class="whats-new__headline">What’s New</h2>
        <div class="version-history">
    <button class="we-modal__show link" id="modal-trigger-ember10" data-metrics-click="{&quot;actionType&quot;:&quot;open&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;ModalVersionHistory&quot;}" type="button">Version History</button>

<!----></div>

    </div>
    <div class="l-row whats-new__content">
        <div class="l-column small-12 medium-3 large-4 small-valign-top whats-new__latest">
          <div class="l-row">
            <time data-test-we-datetime="" datetime="2024-05-23T00:00:00.000Z" aria-label="May 23, 2024" class="">May 23, 2024</time>
            <p class="l-column small-6 medium-12 whats-new__latest__version">Version 24.10.79</p>
          </div>
        </div>
      <div class="l-column small-12 medium-9 large-8 small-valign-top">
          <div class="we-truncate we-truncate--multi-line we-truncate--interactive  we-truncate--truncated" dir="">
      

        <div data-clamp="" class="we-clamp" ismorertl="false" style="height: 90px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">Improved:</p>
<br>
<p dir="ltr" data-test-bidi="">• Sidebar UX Enhancements: We've made some tweaks to the sidebar to make it more intuitive and user-friendly.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">Fixed:</p>
<p dir="ltr" data-test-bidi="">• Crash Fix: We've resolved an issue that caused the app to crash when selecting the chat bar via keyboard on Monterey</p>
<p dir="ltr" data-test-bidi="">• Fixed logout hangs for users running on Big Sur</p>
<p dir="ltr" data-test-bidi="">• Fixed crash when logging out during an ongoing call</p>
<p dir="ltr" data-test-bidi="">• Fixed messages appearing out of order after History Sync</p>
<p dir="ltr" data-test-bidi="">• Fixed unread count issue after History Sync</p>
<br>
<p dir="ltr" data-test-bidi="">Enjoy a smoother WhatsApp experience on your Mac!</p>
</div>

    


      <button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
</div>


      </div>
    </div>
  </section>
<section class="l-content-width section section--bordered">
      <div class="section__nav">
        <h2 class="section__headline">
          Ratings and Reviews
        </h2>

           <a id="ember11" class="ember-view link section__nav__see-all-link" rel="nofollow" data-metrics-click="{&quot;actionType&quot;:&quot;navigate&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;SeeAllReviews&quot;}" data-we-link-to-exclude="" href="/us/app/whatsapp-messenger/id310633997?see-all=reviews">
     See All
   </a>

      </div>

        <div class="we-customer-ratings lockup">
  <div class="l-row">
    <div class="we-customer-ratings__stats l-column small-4 medium-6 large-4">
      <div class="we-customer-ratings__averages"><span class="we-customer-ratings__averages__display">2.6</span> out of 5</div>
        <div class="we-customer-ratings__count small-hide medium-show">974 Ratings</div>
    </div>
    <div class=" l-column small-8 medium-6 large-4">
      <figure class="we-star-bar-graph">
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--5"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 32%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--4"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--3"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--2"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 9%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars "></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 48%;"></div>
            </div>
          </div>
      </figure>
        <p class="we-customer-ratings__count medium-hide">974 Ratings</p>
    </div>
  </div>
</div>


      <div class="l-row l-row--peek">
              
              <div id="ember12" class="small-valign-top l-column--equal-height l-column small-4 medium-6 large-4">
  <div>
<!---->
<!----></div>


  
                <div aria-labelledby="we-customer-review-0" class="we-customer-review lockup">
  <figure class="we-star-rating we-customer-review__rating we-star-rating--large" aria-label="4 out of 5">
  <span class="we-star-rating-stars-outlines">
    <span class="we-star-rating-stars we-star-rating-stars-4"></span>
  </span>
<!----></figure>


  <div class="we-customer-review__header we-customer-review__header--user">
      <span class="we-truncate we-truncate--single-line  we-customer-review__user" dir="ltr">
    Kristin, Salmon of Knowledge
</span>



    <span class="we-customer-review__separator">, </span>

    <time data-test-customer-review-date="" datetime="2023-02-06T04:29:10.000Z" aria-label="February 5, 2023" class="we-customer-review__date">02/05/2023</time>
  </div>

    <h3 class="we-truncate we-truncate--single-line  we-customer-review__title" dir="ltr" id="we-customer-review-0">
    Requested access to photos
</h3>



      <blockquote class="we-truncate we-truncate--multi-line we-truncate--interactive  we-truncate--truncated we-customer-review__body" dir="">
      

        <div data-clamp="" class="we-clamp" ismorertl="false" style="height: 72px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">I had a pop up from WhatsApp requesting access to all photos. I can't even remember the last time I used the app (it has been over a year) and at the time the pop up was displayed I was browsing in Safari. Since I didn't expect the pop up I mindlessly clicked Allow and then immediately went into settings to revoke all photos access. WhatsApp should not be requesting access to all photos out of the blue.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">I'm giving 4 stars because the app worked fine as far as I remember. I wanted to report the issue to WhatsApp but have not found a way to do that so am attempting to let somebody know by writing a review. I'll probably delete the app now though to avoid future occurrences. It makes me suspicious of what it could possibly be doing in the background without my knowledge because I didn't do anything that should result in WhatsApp wanting access to my photos.</p>
</div>

    


      <button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
</blockquote>



<!----></div>

              
</div>

          
    
              <div id="ember14" class="small-valign-top l-column--equal-height l-column small-4 medium-6 large-4">
  <div>
<!---->
<!----></div>


  
                <div aria-labelledby="we-customer-review-1" class="we-customer-review lockup">
  <figure class="we-star-rating we-customer-review__rating we-star-rating--large" aria-label="1 out of 5">
  <span class="we-star-rating-stars-outlines">
    <span class="we-star-rating-stars we-star-rating-stars-1"></span>
  </span>
<!----></figure>


  <div class="we-customer-review__header we-customer-review__header--user">
      <span class="we-truncate we-truncate--single-line  we-customer-review__user" dir="">
    dasavery1
</span>



    <span class="we-customer-review__separator">, </span>

    <time data-test-customer-review-date="" datetime="2024-05-18T19:29:41.000Z" aria-label="May 18, 2024" class="we-customer-review__date">05/18/2024</time>
  </div>

    <h3 class="we-truncate we-truncate--single-line  we-customer-review__title" dir="ltr" id="we-customer-review-1">
    Won’t verify and says I have to wait 1 hour?
</h3>



      <blockquote class="we-truncate we-truncate--multi-line we-truncate--interactive  we-truncate--truncated we-customer-review__body" dir="">
      

        <div data-clamp="" class="we-clamp" ismorertl="false" style="height: 72px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">I have never used WhatsApp, but have friends that use it so I thought I might as well get it and be able to communicate with them on their platform they chose. The first time I tried to set it up it asks for my phone number after I autofill and submit it immediately says that it can’t text me and that I have to wait an hour to try again. OK so I’m guessing maybe somebody fraudulently used my phone number and they have to try to re-verify with some phony account that my number is not theirs before they verify with my phone, that the number is mine. (I don’t know just guessing here because there’s no information included. They really should inform you what the problem is why you have to wait an hour.) Anyway I’ve tried the process over and over a few times and it appears that I will always get the same result. I’ve done some Internet searches to see if I can find out what might be going on with no luck. They really just need to help people understand what’s going on and how they can fix it, or maybe have a phone number to contact somebody to try to get things fixed, I noticed that the app is supported by Meta and that seems to be typical that they don’t give you any information on how to fix your stuff. It’s my number. It’s a legitimate number. I’ve never used this app before. I don’t understand the problem.</p>
</div>

    


      <button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
</blockquote>



<!----></div>

              
</div>

          
    
              <div id="ember16" class="small-valign-top l-column--equal-height l-column small-4 medium-6 large-4">
  <div>
<!---->
<!----></div>


  
                <div aria-labelledby="we-customer-review-2" class="we-customer-review lockup">
  <figure class="we-star-rating we-customer-review__rating we-star-rating--large" aria-label="1 out of 5">
  <span class="we-star-rating-stars-outlines">
    <span class="we-star-rating-stars we-star-rating-stars-1"></span>
  </span>
<!----></figure>


  <div class="we-customer-review__header we-customer-review__header--user">
      <span class="we-truncate we-truncate--single-line  we-customer-review__user" dir="">
    kkpmk
</span>



    <span class="we-customer-review__separator">, </span>

    <time data-test-customer-review-date="" datetime="2024-02-15T04:09:04.000Z" aria-label="February 14, 2024" class="we-customer-review__date">02/14/2024</time>
  </div>

    <h3 class="we-truncate we-truncate--single-line  we-customer-review__title" dir="ltr" id="we-customer-review-2">
    Not user friendly for end-to-end encrypted backup password
</h3>



      <blockquote class="we-truncate we-truncate--multi-line we-truncate--interactive  we-truncate--truncated we-customer-review__body" dir="">
      

        <div data-clamp="" class="we-clamp" ismorertl="false" style="height: 72px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">What’s app is not user friendly in the case of iCloud backup end-to-end encrypted password. I am stuck in the what’s app after install in my new iPhone. I couldn’t have chance to access my old iPhone so I can’t change the encrypted forgot password. To using new iPhone app needs to allow user to get in their account. For me only allow to check the phone number and it’s directly came to iCloud Restore back up. If I turn off iCloud or my iCloud account also not allow me to get in my what’s app account. It’s showing if I skip to restore I can’t restore backup anymore. Now what’s app is not user friendly. Restore backup what’s app is a user decision. But here what’s app only deciding what we need to do. If it allow me to get in my account then I can change or turn off my encrypted password for my backup. Now I am hate to use apple product and what’s app. What ever user safety or protection need to give some option to check the correct user to use what’s app. In future I won’t recommend anyone to use what’s app and apple product. Best to use text message in any device. End to end encryption is too frustration</p>
</div>

    


      <button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
</blockquote>



<!----></div>

              
</div>

          

      </div>

        <div class="l-row l-row--margin-top medium-hide">
              
<!---->          
    
<!---->          
    
<!---->          
    
<!---->          
    
<!---->          
    
<!---->          
    
<!---->          
    
<!---->          
    
<!---->          
    
<!---->          

        </div>
    </section>
<div class="section__nav">
        <h2 class="section__headline">
          Ratings and Reviews
        </h2>

           <a id="ember11" class="ember-view link section__nav__see-all-link" rel="nofollow" data-metrics-click="{&quot;actionType&quot;:&quot;navigate&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;SeeAllReviews&quot;}" data-we-link-to-exclude="" href="/us/app/whatsapp-messenger/id310633997?see-all=reviews">
     See All
   </a>

      </div>
<h2 class="section__headline">
          Ratings and Reviews
        </h2>
<h2 class="section__headline">
          Ratings and Reviews
        </h2>
    <a id="ember11" class="ember-view link section__nav__see-all-link" rel="nofollow" data-metrics-click="{&quot;actionType&quot;:&quot;navigate&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;SeeAllReviews&quot;}" data-we-link-to-exclude="" href="/us/app/whatsapp-messenger/id310633997?see-all=reviews">
     See All
   </a>
<div class="we-customer-ratings lockup">
  <div class="l-row">
    <div class="we-customer-ratings__stats l-column small-4 medium-6 large-4">
      <div class="we-customer-ratings__averages"><span class="we-customer-ratings__averages__display">2.6</span> out of 5</div>
        <div class="we-customer-ratings__count small-hide medium-show">974 Ratings</div>
    </div>
    <div class=" l-column small-8 medium-6 large-4">
      <figure class="we-star-bar-graph">
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--5"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 32%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--4"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--3"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--2"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 9%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars "></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 48%;"></div>
            </div>
          </div>
      </figure>
        <p class="we-customer-ratings__count medium-hide">974 Ratings</p>
    </div>
  </div>
</div>
<div class="l-row">
    <div class="we-customer-ratings__stats l-column small-4 medium-6 large-4">
      <div class="we-customer-ratings__averages"><span class="we-customer-ratings__averages__display">2.6</span> out of 5</div>
        <div class="we-customer-ratings__count small-hide medium-show">974 Ratings</div>
    </div>
    <div class=" l-column small-8 medium-6 large-4">
      <figure class="we-star-bar-graph">
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--5"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 32%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--4"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--3"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--2"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 9%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars "></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 48%;"></div>
            </div>
          </div>
      </figure>
        <p class="we-customer-ratings__count medium-hide">974 Ratings</p>
    </div>
  </div>
<div class="we-customer-ratings__stats l-column small-4 medium-6 large-4">
      <div class="we-customer-ratings__averages"><span class="we-customer-ratings__averages__display">2.6</span> out of 5</div>
        <div class="we-customer-ratings__count small-hide medium-show">974 Ratings</div>
    </div>
<div class="we-customer-ratings__averages"><span class="we-customer-ratings__averages__display">2.6</span> out of 5</div>
<span class="we-customer-ratings__averages__display">2.6</span>
 out of 5
<div class="we-customer-ratings__averages"><span class="we-customer-ratings__averages__display">2.6</span> out of 5</div>
<div class="we-customer-ratings__count small-hide medium-show">974 Ratings</div>
<div class="we-customer-ratings__stats l-column small-4 medium-6 large-4">
      <div class="we-customer-ratings__averages"><span class="we-customer-ratings__averages__display">2.6</span> out of 5</div>
        <div class="we-customer-ratings__count small-hide medium-show">974 Ratings</div>
    </div>
<div class=" l-column small-8 medium-6 large-4">
      <figure class="we-star-bar-graph">
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--5"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 32%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--4"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--3"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--2"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 9%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars "></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 48%;"></div>
            </div>
          </div>
      </figure>
        <p class="we-customer-ratings__count medium-hide">974 Ratings</p>
    </div>
<figure class="we-star-bar-graph">
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--5"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 32%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--4"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--3"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--2"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 9%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars "></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 48%;"></div>
            </div>
          </div>
      </figure>
<div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--5"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 32%;"></div>
            </div>
          </div>
<span class="we-star-bar-graph__stars we-star-bar-graph__stars--5"></span>
<div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 32%;"></div>
            </div>
          <div class="we-star-bar-graph__bar__foreground-bar" style="width: 32%;"></div>
<div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 32%;"></div>
            </div>
<div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--5"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 32%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--4"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
<span class="we-star-bar-graph__stars we-star-bar-graph__stars--4"></span>
<div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
<div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
<div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
<div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--4"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
<div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--3"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
<span class="we-star-bar-graph__stars we-star-bar-graph__stars--3"></span>
<div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
<div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
<div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--3"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
<div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--2"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 9%;"></div>
            </div>
          </div>
<span class="we-star-bar-graph__stars we-star-bar-graph__stars--2"></span>          
<div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 9%;"></div>
            </div>
<div class="we-star-bar-graph__bar__foreground-bar" style="width: 9%;"></div>
<div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 9%;"></div>
            </div>
<div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--2"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 9%;"></div>
            </div>
          </div>
<div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars "></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 48%;"></div>
            </div>
          </div>
<span class="we-star-bar-graph__stars "></span>
<div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 48%;"></div>
            </div>          
            <div class="we-star-bar-graph__bar__foreground-bar" style="width: 48%;"></div>
<div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 48%;"></div>
            </div>
<div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars "></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 48%;"></div>
            </div>
          </div>
<figure class="we-star-bar-graph">
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--5"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 32%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--4"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--3"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--2"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 9%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars "></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 48%;"></div>
            </div>
          </div>
      </figure>
<p class="we-customer-ratings__count medium-hide">974 Ratings</p>
<div class=" l-column small-8 medium-6 large-4">
      <figure class="we-star-bar-graph">
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--5"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 32%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--4"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--3"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--2"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 9%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars "></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 48%;"></div>
            </div>
          </div>
      </figure>
        <p class="we-customer-ratings__count medium-hide">974 Ratings</p>
    </div>
<div class="l-row">
    <div class="we-customer-ratings__stats l-column small-4 medium-6 large-4">
      <div class="we-customer-ratings__averages"><span class="we-customer-ratings__averages__display">2.6</span> out of 5</div>
        <div class="we-customer-ratings__count small-hide medium-show">974 Ratings</div>
    </div>
    <div class=" l-column small-8 medium-6 large-4">
      <figure class="we-star-bar-graph">
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--5"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 32%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--4"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--3"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--2"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 9%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars "></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 48%;"></div>
            </div>
          </div>
      </figure>
        <p class="we-customer-ratings__count medium-hide">974 Ratings</p>
    </div>
  </div>
<div class="we-customer-ratings lockup">
  <div class="l-row">
    <div class="we-customer-ratings__stats l-column small-4 medium-6 large-4">
      <div class="we-customer-ratings__averages"><span class="we-customer-ratings__averages__display">2.6</span> out of 5</div>
        <div class="we-customer-ratings__count small-hide medium-show">974 Ratings</div>
    </div>
    <div class=" l-column small-8 medium-6 large-4">
      <figure class="we-star-bar-graph">
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--5"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 32%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--4"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--3"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars we-star-bar-graph__stars--2"></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 9%;"></div>
            </div>
          </div>
          <div class="we-star-bar-graph__row">
            <span class="we-star-bar-graph__stars "></span>
            <div class="we-star-bar-graph__bar">
              <div class="we-star-bar-graph__bar__foreground-bar" style="width: 48%;"></div>
            </div>
          </div>
      </figure>
        <p class="we-customer-ratings__count medium-hide">974 Ratings</p>
    </div>
  </div>
</div>
<div class="l-row l-row--peek">
              
              <div id="ember12" class="small-valign-top l-column--equal-height l-column small-4 medium-6 large-4">
  <div>
<!---->
<!----></div>


  
                <div aria-labelledby="we-customer-review-0" class="we-customer-review lockup">
  <figure class="we-star-rating we-customer-review__rating we-star-rating--large" aria-label="4 out of 5">
  <span class="we-star-rating-stars-outlines">
    <span class="we-star-rating-stars we-star-rating-stars-4"></span>
  </span>
<!----></figure>


  <div class="we-customer-review__header we-customer-review__header--user">
      <span class="we-truncate we-truncate--single-line  we-customer-review__user" dir="ltr">
    Kristin, Salmon of Knowledge
</span>



    <span class="we-customer-review__separator">, </span>

    <time data-test-customer-review-date="" datetime="2023-02-06T04:29:10.000Z" aria-label="February 5, 2023" class="we-customer-review__date">02/05/2023</time>
  </div>

    <h3 class="we-truncate we-truncate--single-line  we-customer-review__title" dir="ltr" id="we-customer-review-0">
    Requested access to photos
</h3>



      <blockquote class="we-truncate we-truncate--multi-line we-truncate--interactive  we-truncate--truncated we-customer-review__body" dir="">
      

        <div data-clamp="" class="we-clamp" ismorertl="false" style="height: 72px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">I had a pop up from WhatsApp requesting access to all photos. I can't even remember the last time I used the app (it has been over a year) and at the time the pop up was displayed I was browsing in Safari. Since I didn't expect the pop up I mindlessly clicked Allow and then immediately went into settings to revoke all photos access. WhatsApp should not be requesting access to all photos out of the blue.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">I'm giving 4 stars because the app worked fine as far as I remember. I wanted to report the issue to WhatsApp but have not found a way to do that so am attempting to let somebody know by writing a review. I'll probably delete the app now though to avoid future occurrences. It makes me suspicious of what it could possibly be doing in the background without my knowledge because I didn't do anything that should result in WhatsApp wanting access to my photos.</p>
</div>

    


      <button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
</blockquote>



<!----></div>

              
</div>

          
    
              <div id="ember14" class="small-valign-top l-column--equal-height l-column small-4 medium-6 large-4">
  <div>
<!---->
<!----></div>


  
                <div aria-labelledby="we-customer-review-1" class="we-customer-review lockup">
  <figure class="we-star-rating we-customer-review__rating we-star-rating--large" aria-label="1 out of 5">
  <span class="we-star-rating-stars-outlines">
    <span class="we-star-rating-stars we-star-rating-stars-1"></span>
  </span>
<!----></figure>


  <div class="we-customer-review__header we-customer-review__header--user">
      <span class="we-truncate we-truncate--single-line  we-customer-review__user" dir="">
    dasavery1
</span>



    <span class="we-customer-review__separator">, </span>

    <time data-test-customer-review-date="" datetime="2024-05-18T19:29:41.000Z" aria-label="May 18, 2024" class="we-customer-review__date">05/18/2024</time>
  </div>

    <h3 class="we-truncate we-truncate--single-line  we-customer-review__title" dir="ltr" id="we-customer-review-1">
    Won’t verify and says I have to wait 1 hour?
</h3>



      <blockquote class="we-truncate we-truncate--multi-line we-truncate--interactive  we-truncate--truncated we-customer-review__body" dir="">
      

        <div data-clamp="" class="we-clamp" ismorertl="false" style="height: 72px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">I have never used WhatsApp, but have friends that use it so I thought I might as well get it and be able to communicate with them on their platform they chose. The first time I tried to set it up it asks for my phone number after I autofill and submit it immediately says that it can’t text me and that I have to wait an hour to try again. OK so I’m guessing maybe somebody fraudulently used my phone number and they have to try to re-verify with some phony account that my number is not theirs before they verify with my phone, that the number is mine. (I don’t know just guessing here because there’s no information included. They really should inform you what the problem is why you have to wait an hour.) Anyway I’ve tried the process over and over a few times and it appears that I will always get the same result. I’ve done some Internet searches to see if I can find out what might be going on with no luck. They really just need to help people understand what’s going on and how they can fix it, or maybe have a phone number to contact somebody to try to get things fixed, I noticed that the app is supported by Meta and that seems to be typical that they don’t give you any information on how to fix your stuff. It’s my number. It’s a legitimate number. I’ve never used this app before. I don’t understand the problem.</p>
</div>

    


      <button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
</blockquote>



<!----></div>

              
</div>

          
    
              <div id="ember16" class="small-valign-top l-column--equal-height l-column small-4 medium-6 large-4">
  <div>
<!---->
<!----></div>


  
                <div aria-labelledby="we-customer-review-2" class="we-customer-review lockup">
  <figure class="we-star-rating we-customer-review__rating we-star-rating--large" aria-label="1 out of 5">
  <span class="we-star-rating-stars-outlines">
    <span class="we-star-rating-stars we-star-rating-stars-1"></span>
  </span>
<!----></figure>


  <div class="we-customer-review__header we-customer-review__header--user">
      <span class="we-truncate we-truncate--single-line  we-customer-review__user" dir="">
    kkpmk
</span>



    <span class="we-customer-review__separator">, </span>

    <time data-test-customer-review-date="" datetime="2024-02-15T04:09:04.000Z" aria-label="February 14, 2024" class="we-customer-review__date">02/14/2024</time>
  </div>

    <h3 class="we-truncate we-truncate--single-line  we-customer-review__title" dir="ltr" id="we-customer-review-2">
    Not user friendly for end-to-end encrypted backup password
</h3>



      <blockquote class="we-truncate we-truncate--multi-line we-truncate--interactive  we-truncate--truncated we-customer-review__body" dir="">
      

        <div data-clamp="" class="we-clamp" ismorertl="false" style="height: 72px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">What’s app is not user friendly in the case of iCloud backup end-to-end encrypted password. I am stuck in the what’s app after install in my new iPhone. I couldn’t have chance to access my old iPhone so I can’t change the encrypted forgot password. To using new iPhone app needs to allow user to get in their account. For me only allow to check the phone number and it’s directly came to iCloud Restore back up. If I turn off iCloud or my iCloud account also not allow me to get in my what’s app account. It’s showing if I skip to restore I can’t restore backup anymore. Now what’s app is not user friendly. Restore backup what’s app is a user decision. But here what’s app only deciding what we need to do. If it allow me to get in my account then I can change or turn off my encrypted password for my backup. Now I am hate to use apple product and what’s app. What ever user safety or protection need to give some option to check the correct user to use what’s app. In future I won’t recommend anyone to use what’s app and apple product. Best to use text message in any device. End to end encryption is too frustration</p>
</div>

    


      <button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
</blockquote>



<!----></div>

              
</div>

          

      </div>
<div id="ember12" class="small-valign-top l-column--equal-height l-column small-4 medium-6 large-4">
  <div>
<!---->
<!----></div>


  
                <div aria-labelledby="we-customer-review-0" class="we-customer-review lockup">
  <figure class="we-star-rating we-customer-review__rating we-star-rating--large" aria-label="4 out of 5">
  <span class="we-star-rating-stars-outlines">
    <span class="we-star-rating-stars we-star-rating-stars-4"></span>
  </span>
<!----></figure>


  <div class="we-customer-review__header we-customer-review__header--user">
      <span class="we-truncate we-truncate--single-line  we-customer-review__user" dir="ltr">
    Kristin, Salmon of Knowledge
</span>



    <span class="we-customer-review__separator">, </span>

    <time data-test-customer-review-date="" datetime="2023-02-06T04:29:10.000Z" aria-label="February 5, 2023" class="we-customer-review__date">02/05/2023</time>
  </div>

    <h3 class="we-truncate we-truncate--single-line  we-customer-review__title" dir="ltr" id="we-customer-review-0">
    Requested access to photos
</h3>



      <blockquote class="we-truncate we-truncate--multi-line we-truncate--interactive  we-truncate--truncated we-customer-review__body" dir="">
      

        <div data-clamp="" class="we-clamp" ismorertl="false" style="height: 72px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">I had a pop up from WhatsApp requesting access to all photos. I can't even remember the last time I used the app (it has been over a year) and at the time the pop up was displayed I was browsing in Safari. Since I didn't expect the pop up I mindlessly clicked Allow and then immediately went into settings to revoke all photos access. WhatsApp should not be requesting access to all photos out of the blue.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">I'm giving 4 stars because the app worked fine as far as I remember. I wanted to report the issue to WhatsApp but have not found a way to do that so am attempting to let somebody know by writing a review. I'll probably delete the app now though to avoid future occurrences. It makes me suspicious of what it could possibly be doing in the background without my knowledge because I didn't do anything that should result in WhatsApp wanting access to my photos.</p>
</div>

    


      <button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
</blockquote>



<!----></div>

              
</div>
<div>
<!---->
<!----></div>
<div>
<!---->
<!----></div>
<div aria-labelledby="we-customer-review-0" class="we-customer-review lockup">
  <figure class="we-star-rating we-customer-review__rating we-star-rating--large" aria-label="4 out of 5">
  <span class="we-star-rating-stars-outlines">
    <span class="we-star-rating-stars we-star-rating-stars-4"></span>
  </span>
<!----></figure>


  <div class="we-customer-review__header we-customer-review__header--user">
      <span class="we-truncate we-truncate--single-line  we-customer-review__user" dir="ltr">
    Kristin, Salmon of Knowledge
</span>



    <span class="we-customer-review__separator">, </span>

    <time data-test-customer-review-date="" datetime="2023-02-06T04:29:10.000Z" aria-label="February 5, 2023" class="we-customer-review__date">02/05/2023</time>
  </div>

    <h3 class="we-truncate we-truncate--single-line  we-customer-review__title" dir="ltr" id="we-customer-review-0">
    Requested access to photos
</h3>



      <blockquote class="we-truncate we-truncate--multi-line we-truncate--interactive  we-truncate--truncated we-customer-review__body" dir="">
      

        <div data-clamp="" class="we-clamp" ismorertl="false" style="height: 72px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">I had a pop up from WhatsApp requesting access to all photos. I can't even remember the last time I used the app (it has been over a year) and at the time the pop up was displayed I was browsing in Safari. Since I didn't expect the pop up I mindlessly clicked Allow and then immediately went into settings to revoke all photos access. WhatsApp should not be requesting access to all photos out of the blue.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">I'm giving 4 stars because the app worked fine as far as I remember. I wanted to report the issue to WhatsApp but have not found a way to do that so am attempting to let somebody know by writing a review. I'll probably delete the app now though to avoid future occurrences. It makes me suspicious of what it could possibly be doing in the background without my knowledge because I didn't do anything that should result in WhatsApp wanting access to my photos.</p>
</div>

    


      <button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
</blockquote>



<!----></div>
<figure class="we-star-rating we-customer-review__rating we-star-rating--large" aria-label="4 out of 5">
  <span class="we-star-rating-stars-outlines">
    <span class="we-star-rating-stars we-star-rating-stars-4"></span>
  </span>
<!----></figure>
class="we-star-rating-stars-outlines"
<span class="we-star-rating-stars we-star-rating-stars-4"></span>
<span class="we-star-rating-stars-outlines">
    <span class="we-star-rating-stars we-star-rating-stars-4"></span>
  </span>
<figure class="we-star-rating we-customer-review__rating we-star-rating--large" aria-label="4 out of 5">
  <span class="we-star-rating-stars-outlines">
    <span class="we-star-rating-stars we-star-rating-stars-4"></span>
  </span>
<!----></figure>
<div class="we-customer-review__header we-customer-review__header--user">
      <span class="we-truncate we-truncate--single-line  we-customer-review__user" dir="ltr">
    Kristin, Salmon of Knowledge
</span>



    <span class="we-customer-review__separator">, </span>

    <time data-test-customer-review-date="" datetime="2023-02-06T04:29:10.000Z" aria-label="February 5, 2023" class="we-customer-review__date">02/05/2023</time>
  </div>
<span class="we-truncate we-truncate--single-line  we-customer-review__user" dir="ltr">
    Kristin, Salmon of Knowledge
</span>
<span class="we-customer-review__separator">, </span>
<time data-test-customer-review-date="" datetime="2023-02-06T04:29:10.000Z" aria-label="February 5, 2023" class="we-customer-review__date">02/05/2023</time>
<div class="we-customer-review__header we-customer-review__header--user">
      <span class="we-truncate we-truncate--single-line  we-customer-review__user" dir="ltr">
    Kristin, Salmon of Knowledge
</span>



    <span class="we-customer-review__separator">, </span>

    <time data-test-customer-review-date="" datetime="2023-02-06T04:29:10.000Z" aria-label="February 5, 2023" class="we-customer-review__date">02/05/2023</time>
  </div>
<h3 class="we-truncate we-truncate--single-line  we-customer-review__title" dir="ltr" id="we-customer-review-0">
    Requested access to photos
</h3>
<blockquote class="we-truncate we-truncate--multi-line we-truncate--interactive  we-truncate--truncated we-customer-review__body" dir="">
      

        <div data-clamp="" class="we-clamp" ismorertl="false" style="height: 72px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">I had a pop up from WhatsApp requesting access to all photos. I can't even remember the last time I used the app (it has been over a year) and at the time the pop up was displayed I was browsing in Safari. Since I didn't expect the pop up I mindlessly clicked Allow and then immediately went into settings to revoke all photos access. WhatsApp should not be requesting access to all photos out of the blue.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">I'm giving 4 stars because the app worked fine as far as I remember. I wanted to report the issue to WhatsApp but have not found a way to do that so am attempting to let somebody know by writing a review. I'll probably delete the app now though to avoid future occurrences. It makes me suspicious of what it could possibly be doing in the background without my knowledge because I didn't do anything that should result in WhatsApp wanting access to my photos.</p>
</div>

    


      <button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
</blockquote>
<div data-clamp="" class="we-clamp" ismorertl="false" style="height: 72px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">I had a pop up from WhatsApp requesting access to all photos. I can't even remember the last time I used the app (it has been over a year) and at the time the pop up was displayed I was browsing in Safari. Since I didn't expect the pop up I mindlessly clicked Allow and then immediately went into settings to revoke all photos access. WhatsApp should not be requesting access to all photos out of the blue.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">I'm giving 4 stars because the app worked fine as far as I remember. I wanted to report the issue to WhatsApp but have not found a way to do that so am attempting to let somebody know by writing a review. I'll probably delete the app now though to avoid future occurrences. It makes me suspicious of what it could possibly be doing in the background without my knowledge because I didn't do anything that should result in WhatsApp wanting access to my photos.</p>
</div>
<p dir="ltr" data-test-bidi="">I had a pop up from WhatsApp requesting access to all photos. I can't even remember the last time I used the app (it has been over a year) and at the time the pop up was displayed I was browsing in Safari. Since I didn't expect the pop up I mindlessly clicked Allow and then immediately went into settings to revoke all photos access. WhatsApp should not be requesting access to all photos out of the blue.</p>
I had a pop up from WhatsApp requesting access to all photos. I can't even remember the last time I used the app (it has been over a year) and at the time the pop up was displayed I was browsing in Safari. Since I didn't expect the pop up I mindlessly clicked Allow and then immediately went into settings to revoke all photos access. WhatsApp should not be requesting access to all photos out of the blue.
<p dir="ltr" data-test-bidi="">I had a pop up from WhatsApp requesting access to all photos. I can't even remember the last time I used the app (it has been over a year) and at the time the pop up was displayed I was browsing in Safari. Since I didn't expect the pop up I mindlessly clicked Allow and then immediately went into settings to revoke all photos access. WhatsApp should not be requesting access to all photos out of the blue.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">I'm giving 4 stars because the app worked fine as far as I remember. I wanted to report the issue to WhatsApp but have not found a way to do that so am attempting to let somebody know by writing a review. I'll probably delete the app now though to avoid future occurrences. It makes me suspicious of what it could possibly be doing in the background without my knowledge because I didn't do anything that should result in WhatsApp wanting access to my photos.</p>
I'm giving 4 stars because the app worked fine as far as I remember. I wanted to report the issue to WhatsApp but have not found a way to do that so am attempting to let somebody know by writing a review. I'll probably delete the app now though to avoid future occurrences. It makes me suspicious of what it could possibly be doing in the background without my knowledge because I didn't do anything that should result in WhatsApp wanting access to my photos.
<p dir="ltr" data-test-bidi="">I'm giving 4 stars because the app worked fine as far as I remember. I wanted to report the issue to WhatsApp but have not found a way to do that so am attempting to let somebody know by writing a review. I'll probably delete the app now though to avoid future occurrences. It makes me suspicious of what it could possibly be doing in the background without my knowledge because I didn't do anything that should result in WhatsApp wanting access to my photos.</p>
<div data-clamp="" class="we-clamp" ismorertl="false" style="height: 72px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">I had a pop up from WhatsApp requesting access to all photos. I can't even remember the last time I used the app (it has been over a year) and at the time the pop up was displayed I was browsing in Safari. Since I didn't expect the pop up I mindlessly clicked Allow and then immediately went into settings to revoke all photos access. WhatsApp should not be requesting access to all photos out of the blue.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">I'm giving 4 stars because the app worked fine as far as I remember. I wanted to report the issue to WhatsApp but have not found a way to do that so am attempting to let somebody know by writing a review. I'll probably delete the app now though to avoid future occurrences. It makes me suspicious of what it could possibly be doing in the background without my knowledge because I didn't do anything that should result in WhatsApp wanting access to my photos.</p>
</div>
<button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
<blockquote class="we-truncate we-truncate--multi-line we-truncate--interactive  we-truncate--truncated we-customer-review__body" dir="">
      

        <div data-clamp="" class="we-clamp" ismorertl="false" style="height: 72px; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 18.0001px, rgb(0, 0, 0) 18.0001px), linear-gradient(270deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 32.8px, rgb(0, 0, 0) 68.8002px);">
  <p dir="ltr" data-test-bidi="">I had a pop up from WhatsApp requesting access to all photos. I can't even remember the last time I used the app (it has been over a year) and at the time the pop up was displayed I was browsing in Safari. Since I didn't expect the pop up I mindlessly clicked Allow and then immediately went into settings to revoke all photos access. WhatsApp should not be requesting access to all photos out of the blue.</p>
<br>
<br>
<p dir="ltr" data-test-bidi="">I'm giving 4 stars because the app worked fine as far as I remember. I wanted to report the issue to WhatsApp but have not found a way to do that so am attempting to let somebody know by writing a review. I'll probably delete the app now though to avoid future occurrences. It makes me suspicious of what it could possibly be doing in the background without my knowledge because I didn't do anything that should result in WhatsApp wanting access to my photos.</p>
</div>

    


      <button aria-hidden="true" tabindex="-1" class="link we-truncate__button" data-more-button="" data-metrics-click="{&quot;actionType&quot;:&quot;more&quot;,&quot;targetType&quot;:&quot;button&quot;,&quot;targetId&quot;:&quot;More&quot;}" type="button">
        more
      </button>
</blockquote>
{% schema %}
  {
    "name": "blockquote",
    "settings": []
  }
{% endschema %}